<jnt-form [formGroup]="form" jntValidation (submitted)="save()">
    <jnt-stack [justify]="ui.justify.center" [align]="ui.align.center">
        <jnt-form-item>
            <jnt-form-control name="title">
                <jnt-input formControlName="title" placeholder="Project title"></jnt-input>
                <jnt-form-message [type]="ui.validators.typeError.required">
                    Title is required
                </jnt-form-message>
            </jnt-form-control>
        </jnt-form-item>
        <jnt-form-control>
            <jnt-button [type]="ui.button.type.submit" text="Save"></jnt-button>
        </jnt-form-control>
    </jnt-stack>
</jnt-form>
