@import "~@junte/ui/lib/assets/styles/layout/card";
@import "~@junte/ui/lib/assets/styles/forms/button";

$jnt-ng-deep: true;

.cdk-drag {
  &-preview {
    @include jnt-card((shadow: $jnt-shadow-normal), '&');
  }

  &-dragging .cdk-drag {
    transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
  }

  &-animating {
    transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
  }

  &-placeholder {
    opacity: 0.5;
    transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
  }
}

[data-add-one] {
  @include jnt-card((border: 2px dashed $jnt-control-border-color), '&');
  @include jnt-button((sizes: (large: (font-size: $jnt-font-size-big, icon: (stroke: 2px, size: 32px)))));
}

[data-art] {
  width: 50%;
}

[data-modules], [data-sprints] {
  flex: 1;
}

[data-library-wrapper] {
  width: 300px;
  min-width: 300px;

  [data-library] {
    width: 300px;
    height: calc(100vh - 80px);
    overflow-y: scroll;

    &[data-sticky] {
      position: fixed;
      top: 80px - 2px;
      right: $jnt-gutter-normal;
    }

    p {
      margin: $jnt-gutter-small 0;
      font-weight: $jnt-font-weight-bold;
    }
  }
}


::ng-deep [data-item-from-library] {
  @include jnt-card((background: $jnt-secondary-background, border: none), '&');
}
