@import "src/variables";

:host {
  display: block;
}

[data-cloud] {
  padding: $jnt-gutter-small;
  background: $jnt-pale-navy-color;
  border-radius: 50%;
}

[data-tools] {
  padding: $jnt-gutter-normal;
  margin-top: $jnt-gutter-normal;
}
