@import "~@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
}

form {
  padding: $jnt-gutter-normal;
  border-bottom: 1px solid $jnt-secondary-color;
}

[data-edit] {
  margin-top: $jnt-gutter-normal;
}
