<jnt-app-aside #aside>

  <ng-template #asideContentTemplate1 let-collapsed="collapsed">
    <form *ngIf="!collapsed" [formGroup]="form">
      <jnt-switch formControlName="mode"
                  [icons]="{off: ui.icons.unlock, on: ui.icons.lock}">
      </jnt-switch>
    </form>
    <jnt-stack data-edit [orientation]="ui.orientation.horizontal"
               [justify]="ui.justify.center">
      <jnt-button *ngIf="!collapsed;else collapsedTemplate"
                  [scheme]="ui.scheme.secondary"
                  text="Project"
                  i18n-text="@@action.project"
                  [icon]="localUi.icons.project"
                  (click)="editProject()"></jnt-button>
      <ng-template #collapsedTemplate>
        <jnt-button [scheme]="ui.scheme.secondary"
                    [icon]="localUi.icons.project"
                    (click)="editProject()"></jnt-button>
      </ng-template>
    </jnt-stack>
  </ng-template>

  <jnt-menu [orientation]="ui.orientation.vertical">
    <jnt-menu-item [link]="['details']"
                   title="General"
                   i18n-title="@@label.general"
                   [icon]="localUi.icons.general"></jnt-menu-item>
    <jnt-menu-item title="Features"
                   i18n-title="@@label.features"
                   [icon]="localUi.icons.features"
                   [link]="['actors']"
                   [matching]="ui.matching.wildcard">
      <jnt-badge *ngIf="spec.actors.length > 0"
                 [value]="spec.actors.length"></jnt-badge>
    </jnt-menu-item>

    <jnt-menu-item title="Model"
                   i18n-title="@@label.model"
                   [icon]="localUi.icons.model">
      <jnt-badge *ngIf="spec?.model.entities.length + spec?.model.enums.length as count"
                 [value]="count"></jnt-badge>

      <jnt-sub-menu>
        <jnt-sub-menu-item title="Entities"
                           i18n-title="@@label.entities"
                           [icon]="localUi.icons.entities"
                           [link]="['model/entities']"
                           [matching]="ui.matching.wildcard"></jnt-sub-menu-item>
        <jnt-sub-menu-item title="Enums"
                           i18n-title="@@label.enums"
                           [icon]="localUi.icons.enums"
                           [link]="['model/enums']"
                           [matching]="ui.matching.wildcard"></jnt-sub-menu-item>
      </jnt-sub-menu>
    </jnt-menu-item>

    <jnt-menu-item [link]="['modules']"
                   title="Modules"
                   i18n-title="@@label.modules"
                   [icon]="localUi.icons.modules"
                   [matching]="ui.matching.wildcard">
      <jnt-badge *ngIf="spec.modules.length > 0"
                 [value]="spec.modules.length"></jnt-badge>
    </jnt-menu-item>

    <jnt-menu-item [link]="['print']"
                   title="Contract"
                   i18n-title="@@label.contract"
                   [icon]="localUi.icons.print"></jnt-menu-item>

    <!--
    <jnt-menu-item [link]="['terms']" title="Knowledge"
                   [icon]="localUi.icons.terms">
      <jnt-badge [value]="spec?.terms.length.toString()"></jnt-badge>
    </jnt-menu-item>
    <jnt-menu-item [link]="['sprints']" title="Sprints"
                   [icon]="localUi.icons.sprints">
      <jnt-badge [value]="spec?.sprints.length.toString()"></jnt-badge>
    </jnt-menu-item>
    <jnt-menu-item [link]="['validate']" title="Validate"
                   [icon]="localUi.icons.validate">
      <jnt-badge [value]="errors.length.toString()"></jnt-badge>
    </jnt-menu-item>
    -->

  </jnt-menu>
</jnt-app-aside>

<jnt-app-content [aside]="aside">
  <jnt-breadcrumb></jnt-breadcrumb>

  <jnt-app-body>
    <jnt-container [width]="ui.width.fluid">
      <router-outlet></router-outlet>
    </jnt-container>
  </jnt-app-body>

  <jnt-app-footer #footer>
    <small [ngSwitch]="locale">
      <ng-container *ngSwitchDefault>
        Junte 2016 - 2021<br> Any rights are NOT reserved, use this as you want ;-)
      </ng-container>
      <ng-container *ngSwitchCase="language.ru">
        Junte 2016 - 2021<br> Никакие права не защищены, используйте это так, как хотите ;-)
      </ng-container>
    </small>
  </jnt-app-footer>
</jnt-app-content>
