@import "src/variables";
@import "~@junte/ui/lib/assets/styles/elements/icon";

$jnt-ng-deep: true;

:host {
  display: block;
}

[data-cloud] {
  padding: $jnt-gutter-small;
  background: $jnt-pale-navy-color;
  border-radius: 50%;
  @include jnt-icon((color: $jnt-primary-color));
}

[data-tools] {
  padding: $jnt-gutter-normal 0;
  margin-top: $jnt-gutter-normal;
}
