<jnt-informer *ngIf="errors.length > 0"
              [backdrop]="backdrop"
              [context]="ui.context.modal"
              (ok)="this.errors = []">
  <jnt-informer-message *ngFor="let e of errors"
                        [message]="e.toString()"></jnt-informer-message>
</jnt-informer>

<jnt-form #content [formGroup]="form"
          [state]="progress.saving ? ui.state.loading : null"
          (submitted)="save()">

  <jnt-accordion>
    <jnt-accordion-section>
      <ng-template #accordionTitleTemplate>
        <jnt-stack [orientation]="ui.orientation.horizontal"
                   [align]="ui.align.center">
          <jnt-avatar [size]="ui.size.tiny"></jnt-avatar>
          <p><b i18n="@@action.add_project_member">Add member</b></p>
        </jnt-stack>
      </ng-template>
      <ng-template #accordionContentTemplate>
        <spec-add-member (found)="add($event)"></spec-add-member>
      </ng-template>
    </jnt-accordion-section>
    <ng-container formArrayName="members">
      <jnt-accordion-section *ngFor="let m of project.members;let i = index">
        <ng-template #accordionTitleTemplate>
          <jnt-stack [orientation]="ui.orientation.horizontal"
                     [align]="ui.align.center">
            <jnt-avatar [size]="ui.size.tiny" [image]="m.user.avatar?.url"></jnt-avatar>
            <p>{{m.user.firstName}} {{m.user.lastName}}</p>
          </jnt-stack>
        </ng-template>
        <ng-template #accordionContentTemplate>
          <jnt-stack [formGroupName]="i" [align]="ui.align.stretch">
            <jnt-stack [orientation]="ui.orientation.horizontal"
                       [align]="ui.align.end"
                       [justify]="ui.justify.between">
              <jnt-form-item>
                <jnt-form-control name="role">
                  <jnt-form-label i18n="@@label.user_role">User role</jnt-form-label>
                  <jnt-switcher formControlName="role">
                    <jnt-switcher-option label="Viewer"
                                         i18n-label="@@label.role_viewer"
                                         [value]="projectMemberRole.viewer"></jnt-switcher-option>
                    <jnt-switcher-option label="Editor"
                                         i18n-label="Редактор"
                                         i18n-label="@@label.role_editor"
                                         [value]="projectMemberRole.editor"></jnt-switcher-option>
                  </jnt-switcher>
                </jnt-form-control>
              </jnt-form-item>
              <jnt-button text="Revoke"
                          i18n-text="@@action.revoke"
                          [icon]="ui.icons.delete"
                          [scheme]="ui.scheme.accent"
                          (click)="revoke(i)"></jnt-button>
            </jnt-stack>
            <jnt-form-item>
              <jnt-form-control name="User permissions">
                <jnt-form-label i18n="@@label.user_permissions">User permissions</jnt-form-label>
                <jnt-checkbox-group formControlName="permissions" [cols]="2">
                  <jnt-checkbox label="Edit features"
                                i18n-label="@@label.permission_edit_features"
                                [value]="projectPermissions.editFeatures"></jnt-checkbox>
                  <jnt-checkbox label="Edit feature workflow"
                                i18n-label="@@label.permission_edit_feature_workflow"
                                [value]="projectPermissions.editFeatureWorkflow"></jnt-checkbox>
                  <jnt-checkbox label="Edit feature story"
                                i18n-label="@@label.permission_edit_feature_story"
                                [value]="projectPermissions.editFeatureStory"></jnt-checkbox>
                  <jnt-checkbox label="Edit feature design"
                                i18n-label="@@label.permission_edit_feature_frames"
                                [value]="projectPermissions.editFeatureFrames"></jnt-checkbox>
                  <jnt-checkbox label="Edit feature resources"
                                i18n-label="@@label.permission_edit_feature_resources"
                                [value]="projectPermissions.editFeatureResources"></jnt-checkbox>
                  <jnt-checkbox label="Edit feature API"
                                i18n-label="@@label.permission_edit_feature_api"
                                [value]="projectPermissions.editFeatureApi"></jnt-checkbox>
                  <jnt-checkbox label="Edit feature issues"
                                i18n-label="@@label.permission_edit_feature_issues"
                                [value]="projectPermissions.editFeatureIssues"></jnt-checkbox>
                  <jnt-checkbox label="Edit terms"
                                i18n-label="@@label.permission_edit_terms"
                                [value]="projectPermissions.editTerms"></jnt-checkbox>
                  <jnt-checkbox label="Edit model"
                                i18n-label="@@label.permission_edit_model"
                                [value]="projectPermissions.editModel"></jnt-checkbox>
                  <jnt-checkbox label="Edit modules"
                                i18n-label="@@label.permission_edit_modules"
                                [value]="projectPermissions.editModules"></jnt-checkbox>
                  <jnt-checkbox label="Edit sprints"
                                i18n-label="@@label.permission_edit_sprint"
                                [value]="projectPermissions.editSprints"></jnt-checkbox>
                  <jnt-checkbox label="View contract"
                                i18n-label="@@label.permission_view_contract"
                                [value]="projectPermissions.viewContract"></jnt-checkbox>
                </jnt-checkbox-group>
              </jnt-form-control>
            </jnt-form-item>
          </jnt-stack>
        </ng-template>
      </jnt-accordion-section>
    </ng-container>
    <jnt-accordion-section>
      <ng-template #accordionTitleTemplate>
        <jnt-stack [orientation]="ui.orientation.horizontal"
                   [align]="ui.align.center">
          <jnt-avatar [size]="ui.size.tiny"
                      [icon]="ui.icons.link"></jnt-avatar>
          <p i18n="@@action.access_by_link">Access by link</p>
        </jnt-stack>
      </ng-template>
      <ng-template #accordionContentTemplate>
        <jnt-stack [align]="ui.align.stretch">
          <jnt-stack [orientation]="ui.orientation.horizontal"
                     [align]="ui.align.end">
            <jnt-switch formControlName="isPublic"></jnt-switch>
            <jnt-stack data-public-link [gutter]="ui.gutter.tiny"
                       [align]="ui.align.stretch">
              <small i18n="@@label.access_by_link">Provide access by link</small>
              <jnt-input formControlName="publicLink"
                         [readonly]="true"
                         [size]="ui.size.small"
                         [features]="[ui.feature.copy]"></jnt-input>
            </jnt-stack>
          </jnt-stack>
          <jnt-stack>
            <jnt-form-control name="publicRole">
              <jnt-form-label i18n="@@label.public_role">Public role</jnt-form-label>
              <jnt-switcher formControlName="publicRole">
                <jnt-switcher-option label="Viewer"
                                     i18n-label="@@label.role_viewer"
                                     [value]="projectMemberRole.viewer"></jnt-switcher-option>
                <jnt-switcher-option label="Editor"
                                     i18n-label="@@label.role_editor"
                                     [value]="projectMemberRole.editor"></jnt-switcher-option>
              </jnt-switcher>
            </jnt-form-control>
          </jnt-stack>
          <jnt-form-item>
            <jnt-form-control name="publicPermissions">
              <jnt-form-label i18n="@@label.public_permissions">Public permissions</jnt-form-label>
              <jnt-checkbox-group formControlName="publicPermissions" [cols]="2">
                <jnt-checkbox label="Edit features"
                              i18n-label="@@label.permission_edit_features"
                              [value]="projectPermissions.editFeatures"></jnt-checkbox>
                <jnt-checkbox label="Edit feature workflow"
                              i18n-label="@@label.permission_edit_feature_workflow"
                              [value]="projectPermissions.editFeatureWorkflow"></jnt-checkbox>
                <jnt-checkbox label="Edit feature story"
                              i18n-label="@@label.permission_edit_feature_story"
                              [value]="projectPermissions.editFeatureStory"></jnt-checkbox>
                <jnt-checkbox label="Edit feature design"
                              i18n-label="@@label.permission_edit_feature_frames"
                              [value]="projectPermissions.editFeatureFrames"></jnt-checkbox>
                <jnt-checkbox label="Edit feature resources"
                              i18n-label="@@label.permission_edit_feature_resources"
                              [value]="projectPermissions.editFeatureResources"></jnt-checkbox>
                <jnt-checkbox label="Edit feature API"
                              i18n-label="@@label.permission_edit_feature_api"
                              [value]="projectPermissions.editFeatureApi"></jnt-checkbox>
                <jnt-checkbox label="Edit feature issues"
                              i18n-label="@@label.permission_edit_feature_issues"
                              [value]="projectPermissions.editFeatureIssues"></jnt-checkbox>
                <jnt-checkbox label="Edit terms"
                              i18n-label="@@label.permission_edit_terms"
                              [value]="projectPermissions.editTerms"></jnt-checkbox>
                <jnt-checkbox label="Edit model"
                              i18n-label="@@label.permission_edit_model"
                              [value]="projectPermissions.editModel"></jnt-checkbox>
                <jnt-checkbox label="Edit modules"
                              i18n-label="@@label.permission_edit_modules"
                              [value]="projectPermissions.editModules"></jnt-checkbox>
                <jnt-checkbox label="Edit sprints"
                              i18n-label="@@label.permission_edit_sprint"
                              [value]="projectPermissions.editSprints"></jnt-checkbox>
                <jnt-checkbox label="View contract"
                              i18n-label="@@label.permission_view_contract"
                              [value]="projectPermissions.viewContract"></jnt-checkbox>
              </jnt-checkbox-group>
            </jnt-form-control>
          </jnt-form-item>
        </jnt-stack>
      </ng-template>
    </jnt-accordion-section>
  </jnt-accordion>

  <ng-template #formFooterTemplate>
    <jnt-stack [orientation]="ui.orientation.horizontal"
               [justify]="ui.justify.end">
      <jnt-button [type]="ui.button.type.submit"
                  text="Save"
                  i18n-text="@@action.save"
                  [icon]="ui.icons.save"></jnt-button>
    </jnt-stack>
  </ng-template>
</jnt-form>
