@import "../../../../../../node_modules/junte-ui/lib/assets/styles/variables";

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: $corner-small;
  border: 1px solid $secondary-color;
  th {
    font-weight: bold;
  }
  td, th {
    padding: $gutter-small;
    border: 1px solid $secondary-color;
    [link][closed='true'] ::ng-deep span[child-of=#{$jnt-link-host}] {
      text-decoration: line-through;
    }
    [closed] {
      color: $success-color;
    }
  }
}
