<ng-container [formGroup]="form">
  <header (mouseenter)="manager.mode === editMode.edit ? mode = editMode.edit : null"
          (mouseleave)="mode = editMode.view">
    <ng-container *ngIf="mode == editMode.edit; else viewHeader">
      <input #titleRef data-title formControlName="title">
    </ng-container>
  </header>

  <ng-template #viewHeader>
    <h1 data-title>{{module.title}}</h1>
  </ng-template>

  <div data-attached cdkDropList [id]="'_' + module.id"
       (cdkDropListDropped)="onDropFromLibrary($event)">
    <jnt-stack *ngIf="module.features.length > 0 || module.model.entities.length > 0 || module.model.enums.length > 0; else noDataTemplate"
               [align]="ui.align.stretch">
      <ng-container *ngIf="module.features.length > 0">
        <h2>Features</h2>
        <ul data-features>
          <li data-actor *ngFor="let group of (module.features | groupFeaturesByActor:version)">
            <h4>
              <span>{{group.actor?.name}}</span>
            </h4>
            <jnt-row>
              <jnt-col *ngFor="let feature of group.features; trackBy: trackElement"
                       [wide]="6">
                <div data-feature-card>
                  <jnt-stack [orientation]="ui.orientation.horizontal"
                             [align]="ui.align.stretch">
                    <jnt-button [icon]="ui.icons.link"
                                [size]="ui.size.tiny"
                                [scheme]="ui.scheme.success"
                                [outline]="ui.outline.transparent"
                                [shape]="ui.shape.circle"
                                (click)="router.navigate(['../actors', group.actor.id, 'features', feature.id], {relativeTo: route})">
                    </jnt-button>
                    <spec-feature data-feature [attr.id]="feature.id"
                                  [feature]="feature"></spec-feature>
                    <jnt-button [icon]="ui.icons.closeSmall"
                                [size]="ui.size.tiny"
                                [scheme]="ui.scheme.secondary"
                                [shape]="ui.shape.circle"
                                (click)="deleteFeature(feature)">
                    </jnt-button>
                  </jnt-stack>
                </div>
              </jnt-col>
            </jnt-row>
          </li>
        </ul>
      </ng-container>

      <ng-container *ngIf="module.model.entities.length > 0">
        <h2>Entities</h2>
        <jnt-row>
          <jnt-col *ngFor="let entity of module.model.entities; trackBy: trackElement"
                   [wide]="6">
            <jnt-card [width]="ui.width.fluid">
              <jnt-stack [orientation]="ui.orientation.horizontal">
                <jnt-button [icon]="ui.icons.link"
                            [size]="ui.size.tiny"
                            [scheme]="ui.scheme.secondary"
                            [shape]="ui.shape.circle"
                            (click)="router.navigate(['../model/entities', entity.id], {relativeTo: route})">
                </jnt-button>
                <spec-entity data-entity [attr.id]="entity.id"
                             [entity]="entity"></spec-entity>
                <jnt-button [icon]="ui.icons.closeSmall"
                            [size]="ui.size.tiny"
                            [scheme]="ui.scheme.secondary"
                            [shape]="ui.shape.circle"
                            (click)="deleteEntity(entity)">
                </jnt-button>
              </jnt-stack>
            </jnt-card>
          </jnt-col>
        </jnt-row>
      </ng-container>

      <ng-container *ngIf="module.model.enums.length > 0">
        <h2>Enums</h2>
        <jnt-row>
          <jnt-col *ngFor="let enum of module.model.enums; trackBy: trackElement"
                   [wide]="6">
            <jnt-card [width]="ui.width.fluid">
              <jnt-stack [orientation]="ui.orientation.horizontal">
                <jnt-button [icon]="ui.icons.link"
                            [size]="ui.size.tiny"
                            [scheme]="ui.scheme.secondary"
                            [shape]="ui.shape.circle"
                            (click)="router.navigate(['../model/enum', enum.id], {relativeTo: route})">
                </jnt-button>
                <spec-enum data-enum [attr.id]="enum.id"
                           [enum]="enum"></spec-enum>
                <jnt-button [icon]="ui.icons.closeSmall"
                            [size]="ui.size.tiny"
                            [scheme]="ui.scheme.secondary"
                            [shape]="ui.shape.circle"
                            (click)="deleteEnum(enum)">
                </jnt-button>
              </jnt-stack>
            </jnt-card>
          </jnt-col>
        </jnt-row>
      </ng-container>
    </jnt-stack>
  </div>

  <ng-template #noDataTemplate>
    <jnt-message [icon]="ui.icons.question">
      <p>Drag features, entities, enums from library</p>
    </jnt-message>
  </ng-template>

</ng-container>
