@import "src/variables";
@import "~@junte/ui/lib/assets/styles/layout/card";

:host {
  display: block;
  position: relative;
}

header {
  [data-title] {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: normal;
    border: none;
    box-sizing: border-box;
    outline: none;
    height: 1.4em;
    line-height: 1.1em;
    overflow: hidden;
    background-color: transparent;
    white-space: nowrap;
    width: 100%;
    font-size: 2em;

    &:focus {
      color: black;
    }
  }
}

h2 {
  font-size: $jnt-font-size-normal;
  font-weight: $jnt-font-weight-bold;
}

[data-attached] {
  margin-top: $jnt-gutter-normal;

  @include jnt-card((background: $jnt-secondary-background, border: none));
  jnt-card ::ng-deep [data-card] {
    background: $jnt-secondary-background !important;
    border: none;
  }

  [data-features] {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin-top: $jnt-gutter-small;
      padding: 0 0 $jnt-gutter-big $jnt-gutter-normal;

      &[data-actor] {
        display: block;
        position: relative;
        margin: $jnt-gutter-big 0 0 $jnt-gutter-big;
        border-left: 2px solid $jnt-green-color;

        h4 {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;

          span {
            position: absolute;
            transform-origin: left top;
            transform: rotate(-90deg) translateX(-100%) translateY(-100%);
            text-align: center;
            white-space: nowrap;
            font-size: $jnt-font-size-tiny;
            padding: $jnt-gutter-small;
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        [data-feature] {
          flex: 1;
        }
      }
    }
  }

  [data-entity] {
    flex: 1;
  }

  [data-enum] {
    flex: 1;
  }
}

