<ng-container [formGroup]="form">
  <header (mouseenter)="manager.mode === editMode.edit ? mode = editMode.edit : null"
          (mouseleave)="mode = editMode.view">
    <ng-container *ngIf="mode == editMode.edit; else viewHeader">
      <input #titleRef data-title formControlName="title">
    </ng-container>
  </header>

  <ng-template #viewHeader>
    <h1 data-title>{{module.title}}</h1>
  </ng-template>

  <div data-attached cdkDropList [id]="module.id"
       (cdkDropListDropped)="onDropFromLibrary($event)">
    <jnt-stack
      *ngIf="module.features.length > 0 || module.model.entities.length > 0 || module.model.enums.length > 0; else noDataTemplate"
      [align]="ui.align.stretch">
      <ng-container *ngIf="module.features.length > 0">
        <h2 i18n="@@label.features">Features</h2>
        <ul data-features>
          <li data-actor *ngFor="let group of (module.features | groupFeaturesByActor:version)">
            <h4>
              <span>{{group.actor?.name}}</span>
            </h4>
            <jnt-row>
              <jnt-col *ngFor="let feature of group.features; trackBy: trackElement"
                       [wide]="6">
                <jnt-card [width]="ui.width.fluid"
                          [padding]="ui.gutter.small">
                  <jnt-stack [orientation]="ui.orientation.horizontal"
                             [align]="ui.align.center">
                    <div data-feature>
                      <jnt-link [title]="feature.title | joinTokens"
                                [icon]="localUi.icons.features"
                                [source]="['../actors', group.actor.id, 'features', feature.id]"></jnt-link>
                    </div>
                    <jnt-button [icon]="ui.icons.closeSmall"
                                [size]="ui.size.tiny"
                                [outline]="ui.outline.transparent"
                                [shape]="ui.shape.circle"
                                (click)="deleteFeature(feature)">
                    </jnt-button>
                  </jnt-stack>
                </jnt-card>
              </jnt-col>
            </jnt-row>
          </li>
        </ul>
      </ng-container>

      <ng-container *ngIf="module.model.entities.length > 0">
        <h2 i18n="@@label.entities">Entities</h2>
        <jnt-row>
          <jnt-col *ngFor="let entity of module.model.entities; trackBy: trackElement"
                   [wide]="6">
            <jnt-card [width]="ui.width.fluid"
                      [padding]="ui.gutter.small">
              <jnt-stack [orientation]="ui.orientation.horizontal">
                <div data-entity>
                  <jnt-link [title]="entity.title"
                            [icon]="localUi.icons.entities"
                            [source]="['../model/entities', entity.id]"></jnt-link>
                </div>
                <jnt-button [icon]="ui.icons.closeSmall"
                            [size]="ui.size.tiny"
                            [outline]="ui.outline.transparent"
                            [shape]="ui.shape.circle"
                            (click)="deleteEntity(entity)">
                </jnt-button>
              </jnt-stack>
            </jnt-card>
          </jnt-col>
        </jnt-row>
      </ng-container>

      <ng-container *ngIf="module.model.enums.length > 0">
        <h2 i18n="@@label.enums">Enums</h2>
        <jnt-row>
          <jnt-col *ngFor="let enum of module.model.enums; trackBy: trackElement"
                   [wide]="6">
            <jnt-card [width]="ui.width.fluid"
                      [padding]="ui.gutter.small">
              <jnt-stack [orientation]="ui.orientation.horizontal">
                <div data-enum>
                  <jnt-link [title]="enum.title"
                            [icon]="localUi.icons.enums"
                            [source]="['../model/enums', enum.id]"></jnt-link>
                </div>
                <jnt-button [icon]="ui.icons.closeSmall"
                            [size]="ui.size.tiny"
                            [outline]="ui.outline.transparent"
                            [shape]="ui.shape.circle"
                            (click)="deleteEnum(enum)">
                </jnt-button>
              </jnt-stack>
            </jnt-card>
          </jnt-col>
        </jnt-row>
      </ng-container>
    </jnt-stack>
  </div>

  <ng-template #noDataTemplate>
    <jnt-message [icon]="ui.icons.question">
      <p i18n="@@message.drag_from_library">Drag here something library</p>
    </jnt-message>
  </ng-template>

</ng-container>
