<jnt-stack [align]="ui.align.stretch">
    <jnt-stack [orientation]="ui.orientation.horizontal"
               [justify]="ui.justify.between"
               [align]="ui.align.center">
        <form [formGroup]="form">
            <header (mouseenter)="mode =  editMode.edit" (mouseleave)="mode = editMode.view">
                <ng-container *ngIf="mode == editMode.edit; else viewHeader">
                    <input title editable formControlName="title">
                </ng-container>
            </header>

            <ng-template #viewHeader>
                <h3 title editable>{{group.title}}</h3>
            </ng-template>
        </form>

        <jnt-stack [orientation]="ui.orientation.horizontal"
                   [gutter]="ui.gutter.small">
            <jnt-button [icon]="ui.icons.add"
                        [scheme]="ui.scheme.secondary"
                        (click)="addIssue()"></jnt-button>
            <jnt-button [icon]="ui.icons.close"
                        [scheme]="ui.scheme.fail"
                        (click)="deleted.emit()"></jnt-button>
        </jnt-stack>
    </jnt-stack>

    <jnt-stack cdkDropList [id]="group.id" [cdkDropListData]="group.issues"
               [cdkDropListConnectedTo]="ids" (cdkDropListDropped)="drop($event)"
               [align]="ui.align.stretch" list>
        <app-issue *ngFor="let issue of group.issues; let issueIndex = index" cdkDrag
                   [issue]="issue" (deleted)="deleteIssue(issueIndex)" (edited)="kanbanManager.put($event)">
        </app-issue>
    </jnt-stack>
</jnt-stack>
