<ng-container [ngSwitch]="animation">
  <svg [@slide] *ngSwitchCase="animations.client" viewBox="0 0 864 500">
    <image href="assets/images/lp/features/features/client.png" width="100%" height="100%"></image>
    <rect [@done] x="66" y="133" width="385" height="75" rx="5" style="fill: white"/>
    <rect [@done] x="465" y="133" width="385" height="75" rx="5" style="fill: white"/>
    <rect [@done] x="66" y="228" width="385" height="75" rx="5" style="fill: white"/>
    <rect [@done] x="465" y="228" width="385" height="75" rx="5" style="fill: white"/>
    <rect [@done] x="66" y="323" width="385" height="75" rx="5" style="fill: white"
          (@done.done)="animation = animations.operator"/>
  </svg>
  <svg [@slide] *ngSwitchCase="animations.operator" viewBox="0 0 864 500">
    <image href="assets/images/lp/features/features/operator.png" width="100%" height="100%"></image>
    <rect [@done] x="66" y="228" width="385" height="75" rx="5" style="fill: white"
          (@done.done)="animation = animations.carrier"/>
  </svg>
  <svg [@slide] *ngSwitchCase="animations.carrier" viewBox="0 0 864 500">
    <image href="assets/images/lp/features/features/carrier.png" width="100%" height="100%"></image>
    <rect [@done] x="66" y="229" width="385" height="75" rx="5" style="fill: white"/>
    <rect [@done] x="465" y="229" width="385" height="75" rx="5" style="fill: white"
          (@done.done)="animation = animations.manager"/>
  </svg>
  <svg [@slide] *ngSwitchCase="animations.manager" viewBox="0 0 864 500">
    <image href="assets/images/lp/features/features/manager.png" width="100%" height="100%"></image>
    <rect [@done] x="66" y="229" width="385" height="75" rx="5" style="fill: white"/>
  </svg>
</ng-container>

