<jnt-container>

  <img data-bagel-half
       [@move]="{value: '', params: {distance: distance.bagelHalf}}"
       src="../../assets/images/lp/bagel-half.png" alt="bagel-half">
  <img data-bagel-small
       [@move]="{value: '', params: {distance: distance.bagelSmall}}"
       src="../../assets/images/lp/bagel-small.png" alt="bagel-small">
  <img data-diamond
       [@move]="{value: '', params: {distance: distance.diamond}}"
       src="../../assets/images/lp/diamond.png" alt="diamond">
  <img data-bagel-pink
       [@move]="{value: '', params: {distance: distance.bagelPink}}"
       src="../../assets/images/lp/bagel-pink.png" alt="bagel-pink">
  <img data-hand-up
       [@move]="{value: '', params: {distance: distance.handUp}}"
       src="../../assets/images/lp/hand-up.png" alt="hand-up">

  <jnt-block [padding]="ui.gutter.large"
             [features]="[ui.feature.adapted]">
    <ng-template #blockHeaderTemplate>
      <jnt-stack [align]="ui.justify.center">
        <a data-logo routerLink="/">
          <img src="../../assets/images/logo.svg" height="50">
        </a>
        <h1 i18n="@@label.reset_password">Reset password</h1>
      </jnt-stack>
    </ng-template>
    <router-outlet></router-outlet>
  </jnt-block>

</jnt-container>
