<jnt-container>

  <img data-torus-half
       [@move]="{value: '', params: {distance: distance.torusHalf}}"
       src="assets/images/lp/torus-half.png" width="128" height="148">
  <img data-torus-small
       [@move]="{value: '', params: {distance: distance.torusSmall}}"
       src="assets/images/lp/torus-small.png" width="100" height="100">
  <img data-torus-big
       [@move]="{value: '', params: {distance: distance.torusBig}}"
       src="assets/images/lp/torus-big.png" width="272" height="273">

  <jnt-block [width]="ui.width.fluid"
             [padding]="ui.gutter.large"
             [spacing]="ui.gutter.large"
             [features]="[ui.feature.adapted]">
    <ng-template #blockHeaderTemplate>
      <jnt-stack [align]="ui.justify.center">
        <a data-logo routerLink="/">
          <img src="assets/images/logo.svg?v2" height="50">
        </a>
        <h1 i18n="@@label.reset_password">Reset password</h1>
      </jnt-stack>
    </ng-template>
    <router-outlet></router-outlet>
  </jnt-block>

</jnt-container>
