<jnt-container>

  <img data-plus
       [@move]="{value: '', params: {distance: distance.plus}}"
       src="assets/images/lp/plus.png" width="89" height="87">
  <img data-torus-small
       [@move]="{value: '', params: {distance: distance.torusSmall}}"
       src="assets/images/lp/torus-small.png" width="100" height="100">
  <img data-figma
       [@move]="{value: '', params: {distance: distance.figma}}"
       src="assets/images/lp/figma.png" width="119" height="118">
  <img data-torus-big
       [@move]="{value: '', params: {distance: distance.torusBig}}"
       src="assets/images/lp/torus-big.png" width="272" height="273">
  <img data-hand-up
       [@move]="{value: '', params: {distance: distance.handUp}}"
       src="assets/images/lp/hand-up.png" alt="hand-up">

  <jnt-block [padding]="ui.gutter.large"
             [spacing]="ui.gutter.large"
             [width]="ui.width.fluid"
             [features]="[ui.feature.adapted]">
    <ng-template #blockHeaderTemplate>
      <jnt-stack [align]="ui.justify.center">
        <a data-logo routerLink="/">
          <img src="assets/images/logo.svg" height="50">
        </a>
        <h1 i18n="@@label.reset_password">Reset password</h1>
      </jnt-stack>
    </ng-template>
    <router-outlet></router-outlet>
  </jnt-block>

</jnt-container>
