<h1>Content</h1>
<div data-content>
  <ol>
    <li *ngFor="let actor of spec.actors; trackBy: trackActor">
      <b>{{actor.name}}</b>
      <ol>
        <li data-price *ngFor="let feature of actor.features">
          <div [attr.data-has-story]="feature.story.length > 0">{{feature.title | joinTokens}}</div>
          <div *ngIf="(feature | featurePrice:feature.version:feature.rev) as price">
            {{price | currency}}
          </div>
        </li>
      </ol>
    </li>
  </ol>

  <div data-price data-total>
    <div>Total</div>
    <div>
      {{spec | specPrice:spec.version:spec.rev | currency}}
    </div>
  </div>
</div>

<h1>Features</h1>
<ng-container *ngFor="let actor of spec.actors; trackBy: trackActor">
  <ng-container *ngIf="actor.features.length > 0">
    <h2>As <b>{{actor.name}}</b> I want</h2>
    <ol data-actor>
      <ng-container *ngFor="let feature of actor.features">
        <li>
          <h3>
            {{feature.title | joinTokens}}
            <jnt-label *ngIf="feature.epic" [label]="feature.epic.title"></jnt-label>
          </h3>
          <ol data-feature *ngIf="feature.story.length > 0">
            <li *ngFor="let entry of feature.story; let i = index">
              <div [attr.type]="entry.type">I {{entry.type === 'can' ? 'can' : 'see'}}</div>
              <spec-tokens [tokens]="entry.description" [spec]="spec"></spec-tokens>
            </li>
          </ol>
        </li>
      </ng-container>
    </ol>
  </ng-container>
</ng-container>
