@import "src/variables";

:host {
  display: block;
}

ol {
  > li {
    padding: $jnt-gutter-tiny 0;
    border-bottom: 1px dotted $jnt-gray-400-color;
  }
}

ol > li > ol > li {
  border: none;
}

[data-feature] {
  padding: $jnt-gutter-normal 40px;
  background: $jnt-white-color;
  border-radius: $jnt-corner-normal;
  font-size: $jnt-font-size-base;
}

[type='see'], [type='can'] {
  display: inline-block;
  padding: 1px 10px 1px;
  font-weight: bold;
  border-radius: 2px;
}
