<jnt-app-page-header [icon]="localUi.icons.print"
                     title="Contract"
                     i18n-title="@@label.contract"
                     teaser="your specification for printing"
                     i18n-teaser="@@message.contract_teaser">
</jnt-app-page-header>

<jnt-container>
  <jnt-stack [gutter]="ui.gutter.huge"
             [align]="ui.align.stretch">
    <jnt-block title="Features"
               i18n-title="@@label.features">
      <ol>
        <li *ngFor="let actor of spec.actors; trackBy:trackElement">
          <b>{{actor.name}}</b>
          <ol>
            <li *ngFor="let feature of actor.features">
              <jnt-stack [orientation]="ui.orientation.horizontal"
                         [justify]="ui.justify.between">
                <div>{{feature.title | joinTokens}}</div>
                <b *ngIf="(feature | featurePrice | async) as price">
                  {{price | currency}}
                </b>
              </jnt-stack>
            </li>
          </ol>
          <jnt-stack [orientation]="ui.orientation.horizontal"
                     [justify]="ui.justify.between">
            <div i18n="@@label.total">Total</div>
            <b *ngIf="(actor | actorPrice | async) as price">
              {{price | currency}}
            </b>
          </jnt-stack>
        </li>
      </ol>

      <jnt-stack [orientation]="ui.orientation.horizontal"
                 [justify]="ui.justify.between">
        <div i18n="@@label.total">Total</div>
        <div>
          {{spec | specPrice | currency}}
        </div>
      </jnt-stack>
    </jnt-block>

    <jnt-block title="Sprints"
               i18n-title="@@label.sprints">
      <ol>
        <li *ngFor="let sprint of spec.sprints; trackBy:trackElement">
          <b>{{sprint.title}}</b>
          <ol>
            <li *ngFor="let feature of sprint.features">
              <jnt-stack [orientation]="ui.orientation.horizontal"
                         [justify]="ui.justify.between">
                <div [attr.data-has-story]="feature.story.length > 0">{{feature.title | joinTokens}}</div>
                <b *ngIf="(feature | featurePrice | async) as price">
                  {{price | currency}}
                </b>
              </jnt-stack>
            </li>
          </ol>
          <jnt-stack [orientation]="ui.orientation.horizontal"
                     [justify]="ui.justify.between">
            <div i18n="@@label.total">Total</div>
            <b *ngIf="(sprint | sprintPrice | async) as price">
              {{price | currency}}
            </b>
          </jnt-stack>
        </li>
      </ol>
    </jnt-block>

    <jnt-block title="Agreements"
               i18n-title="@@label.agreements">
      <ol>
        <li *ngFor="let actor of spec.actors; trackBy:trackElement">
          <ng-container *ngIf="actor.features.length > 0">
            <b [ngSwitch]="locale">
              <ng-container *ngSwitchDefault>
                As <b>{{actor.name}}</b> I want
              </ng-container>
              <ng-container *ngSwitchCase="language.ru">
                Как <b>{{actor.name}}</b> я хочу
              </ng-container>
            </b>
            <ol>
              <ng-container *ngFor="let feature of actor.features">
                <li>
                  <b>{{feature.title | joinTokens}}</b>
                  <ol *ngIf="feature.story.length > 0">
                    <li *ngFor="let entry of feature.story; let i = index">
                      <ng-container [ngSwitch]="entry.type">
                        <ng-container *ngSwitchCase="storyEntryType.see">
                          <ng-container [ngSwitch]="consts.language">
                            <b *ngSwitchCase="language.ru">Я вижу</b>
                            <b *ngSwitchDefault>I see</b>
                          </ng-container>
                          &nbsp;
                        </ng-container>
                        <ng-container *ngSwitchCase="storyEntryType.can">
                          <ng-container [ngSwitch]="consts.language">
                            <b *ngSwitchCase="language.ru">Я могу</b>
                            <b *ngSwitchDefault>I can</b>
                          </ng-container>
                          &nbsp;
                        </ng-container>
                      </ng-container>
                      <spec-tokens [tokens]="entry.description" [spec]="spec"></spec-tokens>
                    </li>
                  </ol>
                </li>
              </ng-container>
            </ol>
          </ng-container>
        </li>
      </ol>
    </jnt-block>

  </jnt-stack>
</jnt-container>

