<!--<h2>Contents</h2>
<ul contents>
  <li *ngFor="let actor of spec.actors; trackBy: trackActor">
    <jnt-stack actor [orientation]="ui.orientation.horizontal">
      <jnt-link [source]="['.', {actor: actor.id}]" [title]="actor.name"></jnt-link>
      <ng-container *ngIf="(actor | actorPrice:actor.version:actor.rev) as price">
        <div price>{{price | currency}}</div>
      </ng-container>
    </jnt-stack>
    <ul>
      <li *ngFor="let feature of actor.features">
        <jnt-stack [orientation]="ui.orientation.horizontal">
          <jnt-stack [orientation]="ui.orientation.horizontal"
                     [align]="ui.align.center"
                     [gutter]="ui.gutter.small">
            <jnt-link
              (click)="router.navigate([actor.id,'features', feature.id], {relativeTo: route})"
              [title]="feature.title | joinTokens"></jnt-link>
            <div dot *ngIf="feature.story.length" story></div>
            <div dot *ngIf="feature.frames.length" frames></div>
            <div dot *ngIf="feature.graphql.length" graphql></div>
          </jnt-stack>
          <ng-container *ngIf="(feature | featurePrice:feature.version:feature.rev) as price">
            <div price>{{price | currency}}</div>
          </ng-container>
        </jnt-stack>
      </li>
    </ul>
  </li>
</ul>

<ul total>
  <li>Total</li>
  <li></li>
  <li>
    {{spec | specPrice:spec.version:spec.rev | currency}}
  </li>
</ul>-->

<h1>Функциональные требования</h1>
<ol>
  <li *ngFor="let actor of spec.actors; trackBy: trackActor">
    {{actor.name}}
    <ol>
      <li *ngFor="let feature of actor.features">
        {{feature.title | joinTokens}}
      </li>
    </ol>
  </li>
</ol>

<ng-container *ngFor="let actor of spec.actors; trackBy: trackActor">
  <h2>Как <b>{{actor.name}}</b> я хочу</h2>
  <ol actor>
    <li *ngFor="let feature of actor.features">
      <h3>{{feature.title | joinTokens}}</h3>
      <ol feature>
        <li *ngFor="let entry of feature.story; let i = index">
          <div [attr.type]="entry.type">Я {{entry.type === 'can' ? 'могу' : 'вижу'}}</div>
          <spec-tokens [tokens]="entry.description" [spec]="spec"></spec-tokens>
        </li>
      </ol>
    </li>
  </ol>
</ng-container>
