@import "src/variables";
@import "~@junte/ui/lib/assets/styles/jnt-common";

:host {
  display: block;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

[data-content] {
  li {
    padding: $jnt-gutter-tiny 0;
  }
}

[data-price] {
  display: flex;
  border-bottom: 1px dotted $jnt-gray-400-color;

  :nth-child(1) {
    flex: 1;
    color: $jnt-muted-color;
    &[data-has-story='true'] {
      color: $jnt-primary-text-color;
    }
  }

  &[data-total] {
    :nth-child(1) {
      color: $jnt-primary-text-color;
    }
  }

  :nth-child(2) {
    font-weight: bold;
  }
}

[data-actor] > li {
  margin-bottom: 20px;
  font-size: 16px;
}

[data-feature] {
  padding: $jnt-gutter-normal 40px;
  background: $jnt-white-color;
  border-radius: $jnt-corner-normal;
  font-size: $jnt-font-size-base;
}

[type='see'], [type='can'] {
  display: inline-block;
  padding: 1px 10px 1px;
  font-weight: bold;
  border-radius: 2px;
}

[type='see'] {
  color: $jnt-green-dark-color;
}

[type='can'] {
  color: $jnt-orange-color;
}
