@import "src/variables";
@import "~@junte/ui/lib/assets/styles/layout/responsive";

@include min-for-tablet() {
  :host {
    display: block;
    min-width: 400px;
  }
}

[data-demo] {
  line-height: 1;
  color: $jnt-primary-color;
}
