@import 'src/variables';
@import "~@junte/ui/lib/assets/styles/layout/responsive";

%data-decor {
  position: absolute;
  height: auto;
  pointer-events: none;
}

img {
  &[data-plus] {
    @extend %data-decor;
    left: 200px;
    top: 25px;
    @include for-mobile() {
      display: none;
    }
  }

  &[data-torus-small] {
    @extend %data-decor;
    left: 825px;
    top: 235px;
    @include for-mobile() {
      left: 20px;
      top: 450px;
    }
  }

  &[data-torus-big] {
    @extend %data-decor;
    left: -100px;
    top: 600px;
    @include for-mobile() {
      left: auto;
      right: 0;
      top: 485px;
    }
  }

  &[data-torus-half] {
    @extend %data-decor;
    left: 1300px;
    top: 800px;
    @include for-mobile() {
      display: none;
    }
  }

  &[data-hand-up] {
    @extend %data-decor;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include for-mobile() {
      display: none;
    }
  }

  &[data-specifications] {
    @extend %data-decor;
    top: 170px;
    right: -325px;
    z-index: 1;
    @include for-mobile() {
      display: none;
    }
  }

}
