@import 'src/variables';
@import '~@junte/ui/lib/assets/styles/jnt-variables';
@import '~@junte/ui/lib/assets/styles/layout/responsive';
@import '~@junte/ui/lib/assets/styles/layout/lp';
@import '~@junte/ui/lib/assets/styles/forms/button';
@import '~@junte/ui/lib/assets/styles/navigation/menu';
@import '~@junte/ui/lib/assets/styles/navigation/link';
@import '~@junte/ui/lib/assets/styles/layout/grid';
@import '~@junte/ui/lib/assets/styles/elements/icon';
@import "decors";

$jnt-ng-deep: true;

$windows-scrollbar-width: 17px;

@include jnt-grid-container((width: 1200px, padding: 0 $jnt-gutter-normal $jnt-gutter-large $jnt-gutter-normal)) {
  position: relative;
  text-align: center;

  @include for-mobile() {
    width: 100%;
  }
}

:host {
  display: block;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;

  &[data-device-tags*='windows'] {
    min-width: calc(100vw - #{$windows-scrollbar-width});
  }

  @include jnt-lp-header((position: fixed, padding: $jnt-gutter-big 0, container-width: 1200px));
  @include jnt-lp-footer((padding: $jnt-gutter-big));
  @include jnt-button((text-transform: uppercase, font-weight: $jnt-font-weight-bold));
}

[data-logo] {
  display: block;

  img {
    display: block;
  }
}

[data-me] {
  display: block;
}

h1 {
  font-weight: $jnt-font-weight-extra-bold;
  color: $jnt-primary-color;
  font-size: 64px;
  line-height: 1.2;
  margin: 0;

  &[data-header] {
    margin: 155px 0 0 0;

    @include for-mobile() {
      margin: 30px 0 0 0;
    }
  }

  @include for-mobile() {
    font-size: 40px;
  }
}

h2 {
  font-weight: 1.45;
  font-size: $jnt-font-size-big;
  margin: $jnt-gutter-normal 0 $jnt-gutter-huge 0;

  @include for-mobile() {
    font-size: $jnt-font-size-normal;
    margin: $jnt-gutter-normal 0 0 0;
  }
}

jnt-lp-slide {
  display: flex;
  position: static;
  background: url(../../assets/images/lp/bg.svg) fixed;
  background-size: cover;

  &[data-welcome] {
    padding-bottom: 0;
    height: 1001px !important;
    @include for-mobile() {
      height: 900px !important;
    }
    [data-teaser] {
      max-width: 500px;
    }
  }
}

[data-teaser] {
  font-family: $jnt-font-family-base;
}

[data-hand] {
  position: absolute;
  left: 665px;
  top: 0;
  width: 170px;
  height: 154px;
  transform: translate3D(-77px, 23px, 0) rotate(0);
  z-index: 1;

  @include for-mobile() {
    width: 120px;
    height: 140px;
    top: -40px;
    left: 290px;
  }

  img {
    position: relative;
    z-index: 1;
    @include for-mobile() {
      width: 120px;
      height: auto;
    }
  }

  h1 {
    position: absolute;
    top: 144px;
    left: -82px;
    line-height: 0.8;
    @include for-mobile() {
      top: 103px;
      left: -48px;
    }
  }
}

[data-features], [data-tariffs], [data-reviews] {

  h1 {
    @include for-mobile() {
      margin: 0 0 $jnt-gutter-normal 0;
    }
  }

  p {
    text-align: center;
    line-height: 1.75em;
    position: relative;
    z-index: 1;
  }

  [data-teaser] {
    margin-bottom: 50px;
  }

  img {
    position: absolute;

    @include for-mobile() {
      display: none;
    }

    &[data-torus-small] {
      top: 35px;
      left: 60px;
    }

    &[data-torus-half] {
      top: 650px;
      right: -10px;
      left: auto;
    }

    &[data-coin] {
      top: 670px;
      left: -80px;
    }
  }
}

[data-tariffs] {

  img[data-torus-half] {
    top: 450px;
    right: -145px;
    left: auto;
  }
}

[data-reviews] {
  img[data-torus-small] {
    top: 100px;
    right: 30px;
    left: auto;
  }

  img[data-torus-half] {
    top: 600px;
    left: -100px;
  }
}

[data-cp] {
  display: block;
  text-decoration: none;
  @include jnt-icon((size: 48px));
}

//TODO: junte-ui mixin api
[data-team]::ng-deep {
  [data-link] {
    white-space: nowrap;
  }
}



