<jnt-popover></jnt-popover>

<jnt-lp-layout>
  <jnt-lp-header>
    <ng-template #headerLogoTemplate>
      <a routerLink="/">
        <img src="assets/images/lp/logo.svg" height="49">
      </a>
    </ng-template>
    <jnt-menu>
      <jnt-menu-item title="Features"
                     [link]="{source: [], fragment: 'features'}"></jnt-menu-item>
      <jnt-menu-item title="Pricing plans"
                     [link]="{source: [], fragment: 'tariffs'}"></jnt-menu-item>
      <jnt-menu-item title="Support"
                     [link]="['support']"></jnt-menu-item>
    </jnt-menu>
    <ng-template #contentTemplate>
      <jnt-stack [orientation]="ui.orientation.horizontal"
                 [align]="ui.align.center">
        <jnt-menu data-lang>
          <jnt-menu-item [active]="true" title="Ru" link="/ru/"></jnt-menu-item>
          <jnt-menu-item title="En" link="/en/"></jnt-menu-item>
        </jnt-menu>
        <ng-container *ngIf="!!me;else notLoggedTemplate">
          <jnt-stack [orientation]="ui.orientation.horizontal"
                     [gutter]="ui.gutter.small"
                     [align]="ui.align.center">
            <jnt-avatar [name]="me.firstName"
                        [size]="ui.size.small"></jnt-avatar>
            <jnt-link [title]="me.firstName"
                      [source]="['/projects']"
                      [icon]="{position: ui.position.right, icon: ui.icons.chevronRight}"></jnt-link>
          </jnt-stack>
        </ng-container>
        <ng-template #notLoggedTemplate>
          <jnt-button [outline]="ui.outline.ghost"
                      [icon]="ui.icons.login"
                      text="Login"
                      (click)="router.navigate(['/login'])">
          </jnt-button>
        </ng-template>
      </jnt-stack>
    </ng-template>
  </jnt-lp-header>
  <jnt-lp-slide>
    <jnt-container>
      <div data-hand [@move-hand]>
        <img src="assets/images/lp/hand.png" width="170" height="154" alt="hand">
        <h1 [@coloring]>make</h1>
      </div>
      <img data-specifications
           src="assets/images/lp/welcome.webp" width="798" height="749">
      <img data-plus
           [@move]="{value: '', params: {distance: distance.plus}}"
           src="assets/images/lp/plus.png" width="89" height="87">
      <img data-torus-small
           [@move]="{value: '', params: {distance: distance.torusSmall}}"
           src="assets/images/lp/torus-small.png" width="100" height="100">
      <img data-figma
           [@move]="{value: '', params: {distance: distance.figma}}"
           src="assets/images/lp/figma.png" width="119" height="118">
      <img data-torus-big
           [@move]="{value: '', params: {distance: distance.torusBig}}"
           src="assets/images/lp/torus-big.png" width="272" height="273">
      <jnt-stack [align]="ui.align.stretch" [gutter]="ui.gutter.huge">
        <jnt-stack [align]="ui.align.stretch">
          <h1 data-header>Where teams <br> specifications</h1>
          <h3 data-teaser>We help teams write better <br> documentation for IT-products</h3>
        </jnt-stack>
        <jnt-stack [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.big">
          <jnt-button text="Try it for free now"
                      (click)="jumpTo('tariffs')">
          </jnt-button>
          <jnt-button data-how-works
                      [scheme]="ui.scheme.secondary"
                      text="How it works"
                      (click)="jumpTo('features')">
          </jnt-button>
        </jnt-stack>
      </jnt-stack>
    </jnt-container>
  </jnt-lp-slide>
  <jnt-lp-slide>
    <jnt-container data-features>
      <h1 id="features">Key features</h1>
      <h3 data-teaser>Please, meet short review of our service</h3>
      <spec-lp-features>
        <jnt-button text="Try it for free now"
                    (click)="jumpTo('tariffs')">
        </jnt-button>
      </spec-lp-features>
      <img data-torus-small
           src="assets/images/lp/torus-small.png" width="100" height="100">
      <img data-torus-half
           src="assets/images/lp/torus-half.png" width="128" height="148">
    </jnt-container>
  </jnt-lp-slide>

  <jnt-lp-slide>
    <jnt-container data-tariffs>
      <h1 id="tariffs">Pricing plans</h1>
      <h3 data-teaser>Please, choose optimal plan for you</h3>
      <spec-lp-tariffs [me]="me"
                       (selected)="buy($event)"></spec-lp-tariffs>
    </jnt-container>
  </jnt-lp-slide>

  <jnt-container>
    <div data-footer>
      <jnt-stack [orientation]="ui.orientation.horizontal"
                 [align]="ui.align.center"
                 [justify]="ui.justify.between">
        <jnt-link data-junte title="Junte Team 2016 – 2021"
                  [icon]="ui.icons.junteStroke"
                  [target]="ui.target.blank"
                  source="//junte.team"></jnt-link>
        <jnt-menu [spacing]="ui.gutter.small">
          <jnt-menu-item title="Agreement"
                         i18n-title="@@label.agreement"
                         [link]="['agreement']"></jnt-menu-item>
          <jnt-menu-item title="Policy"
                         i18n-title="@@label.policy"
                         [link]="['policy']"></jnt-menu-item>
          <jnt-menu-item title="Security"
                         i18n-title="@@label.security"
                         [link]="['security']"></jnt-menu-item>
          <jnt-menu-item title="Contacts"
                         i18n-title="@@label.contacts"
                         [link]="['contacts']"></jnt-menu-item>
        </jnt-menu>
      </jnt-stack>
    </div>
  </jnt-container>

</jnt-lp-layout>
