@import 'src/variables';
@import '~@junte/ui/lib/assets/styles/jnt-variables';
@import '~@junte/ui/lib/assets/styles/layout/responsive';
@import '~@junte/ui/lib/assets/styles/layout/lp';
@import '~@junte/ui/lib/assets/styles/forms/button';
@import '~@junte/ui/lib/assets/styles/navigation/menu';
@import '~@junte/ui/lib/assets/styles/navigation/link';
@import '~@junte/ui/lib/assets/styles/layout/grid';
@import '~@junte/ui/lib/assets/styles/elements/icon';
@import "decors";

$jnt-ng-deep: true;

@include jnt-grid-container((width: 970px)) {
  width: 970px;
  position: relative;
  text-align: center;

  @include for-mobile() {
    width: 100%;
  }
}

;

:host {
  display: block;

  @include jnt-lp-header((position: fixed, padding: $jnt-gutter-big 0));
  @include jnt-button((text-transform: uppercase, font-weight: $jnt-font-weight-bold));

  &[data-scrolled='true'] {
    @include jnt-lp-header((background: $jnt-white-color));
  }
}

[data-logo] {
  display: block;
  img {
    display: block;
  }
}

jnt-lp-header::ng-deep {
  transition: background .5s ease;
}

[data-lang] {
  @include jnt-menu((top: (item: (color: $jnt-primary-color, text-transform: uppercase))), '&');
}

h1 {
  font-weight: $jnt-font-weight-extra-bold;
  color: $jnt-primary-color;
  font-size: 64px;
  line-height: 1.2;
  margin: 0;

  &[data-header] {
    margin: 155px 0 0 0;
  }
}

h3 {
  font-weight: 1.35;
  margin: 0;
}

jnt-lp-slide {
  display: flex;
  position: static;
  background: url(../../assets/images/lp/bg.svg) fixed;
}

[data-teaser] {
  font-family: $jnt-font-family-base;
}

[data-hand] {
  position: absolute;
  left: 660px;
  top: 0;
  width: 170px;
  height: 154px;
  transform: translate3D(-77px, 23px, 0) rotate(0);
  z-index: 1;

  img {
    position: relative;
    z-index: 1;
  }

  h1 {
    position: absolute;
    top: 144px;
    left: -82px;
    line-height: 0.8;
  }
}

[data-how-works] {
  @include jnt-button((color: $jnt-primary-color), '&');
}

[data-features], [data-tariffs] {

  h1 {
    margin: 50px 0 $jnt-gutter-normal 0;
  }

  [data-teaser] {
    margin-bottom: 50px;
  }

  img {
    position: absolute;

    &[data-torus-small] {
      top: 200px;
      left: -120px;
    }

    &[data-torus-half] {
      top: 780px;
      right: -85px;
    }
  }

}

[data-footer] {
  padding: $jnt-gutter-normal 0;

  [data-junte] {
    @include jnt-link((color: $jnt-gray-900-color), '&');
  }

  @include jnt-menu((top: (item: (font-size: $jnt-font-size-small))));
}
