<jnt-popover></jnt-popover>

<jnt-lp-layout>
  <jnt-lp-header>
    <ng-template #headerLogoTemplate>
      <a data-logo routerLink="/">
        <img src="assets/images/lp/logo.svg" height="49">
      </a>
    </ng-template>
    <jnt-menu>
      <jnt-menu-item title="Features"
                     i18n-title="@@action.features"
                     [link]="{source: [], fragment: 'features'}"></jnt-menu-item>
      <jnt-menu-item title="Pricing plans"
                     i18n-title="@@action.pricing_plans"
                     [link]="{source: [], fragment: 'tariffs'}"></jnt-menu-item>
      <jnt-menu-item title="Reviews"
                     i18n-title="@@action.reviews"
                     [link]="{source: [], fragment: 'reviews'}"></jnt-menu-item>
    </jnt-menu>
    <ng-template #contentTemplate>
      <jnt-stack [orientation]="ui.orientation.horizontal"
                 [align]="ui.align.center">
        <jnt-menu>
          <jnt-menu-item
            title="ru"
            [active]="locale === language.ru"
            link="/ru/"></jnt-menu-item>
          <jnt-menu-item
            title="en"
            [active]="locale === language.en"
            link="/en/"></jnt-menu-item>
        </jnt-menu>
        <ng-container *ngIf="!!me;else notLoggedTemplate">
          <jnt-avatar [name]="me.firstName"
                      [size]="ui.size.small"
                      [routerLink]="['/projects']"></jnt-avatar>
        </ng-container>
        <ng-template #notLoggedTemplate>
          <jnt-button [outline]="ui.outline.ghost"
                      [icon]="ui.icons.login"
                      text="Login"
                      i18n-text="@@action.login"
                      (click)="router.navigate(['/login'])">
          </jnt-button>
        </ng-template>
      </jnt-stack>
    </ng-template>
  </jnt-lp-header>
  <jnt-lp-slide>
    <jnt-container>
      <div data-hand [@moveHand]>
        <img src="assets/images/lp/hand.png" width="170" height="154" alt="hand">
        <h1 i18n="@@message.lp_make" [@coloring]>make</h1>
      </div>
      <img data-specifications
           src="assets/images/lp/welcome.webp" width="798" height="749">
      <img data-plus
           [@move]="{value: '', params: {distance: distance.plus}}"
           src="assets/images/lp/plus.png" width="89" height="87">
      <img data-torus-small
           [@move]="{value: '', params: {distance: distance.torusSmall}}"
           src="assets/images/lp/torus-small.png" width="100" height="100">
      <img data-figma
           [@move]="{value: '', params: {distance: distance.figma}}"
           src="assets/images/lp/figma.png" width="119" height="118">
      <img data-torus-big
           [@move]="{value: '', params: {distance: distance.torusBig}}"
           src="assets/images/lp/torus-big.png" width="272" height="273">
      <jnt-stack [align]="ui.align.stretch" [gutter]="ui.gutter.huge">
        <jnt-stack [align]="ui.align.stretch">
          <h1 data-header i18n="@@message.lp_slogan">Where teams <br> specifications</h1>
          <h3 data-teaser i18n="@@message.lp_teaser">We help teams write better <br> documentation for IT-products</h3>
        </jnt-stack>
        <jnt-stack [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.big">
          <jnt-button text="Try it for free now"
                      i18n-text="@@action.try_for_free"
                      [icon]="ui.icons.arrowDown"
                      (click)="jumpTo('tariffs')">
          </jnt-button>
          <jnt-button data-how-works
                      [scheme]="ui.scheme.secondary"
                      text="How it works"
                      i18n-text="@@action.how_it_works"
                      [icon]="ui.icons.question"
                      (click)="jumpTo('features')">
          </jnt-button>
        </jnt-stack>
      </jnt-stack>
    </jnt-container>
  </jnt-lp-slide>
  <jnt-lp-slide>
    <jnt-container data-features>
      <h1 id="features" i18n="@@label.key_features">Key features</h1>
      <h3 data-teaser i18n="@@message.key_features_teaser">To make clear product specification you need</h3>
      <spec-lp-features>
        <jnt-button text="Try it for free now"
                    i18n-text="@@action.try_for_free"
                    [icon]="ui.icons.arrowDown"
                    (click)="jumpTo('tariffs')">
        </jnt-button>
      </spec-lp-features>
      <img data-torus-small
           src="assets/images/lp/torus-small.png" width="100" height="100">
      <img data-torus-half
           src="assets/images/lp/torus-half.png" width="128" height="148">
    </jnt-container>
  </jnt-lp-slide>

  <jnt-lp-slide>
    <jnt-container data-tariffs>
      <h1 id="tariffs" i18n="@@label.pricing_plans">Pricing plans</h1>
      <h3 data-teaser i18n="@@label.pricing_plans_teaser">Please, choose optimal plan for you</h3>
      <spec-lp-tariffs [me]="me" (selected)="buy($event)"></spec-lp-tariffs>
    </jnt-container>
  </jnt-lp-slide>

  <jnt-lp-slide>
    <jnt-container data-reviews>
      <h1 id="reviews" i18n="@@label.reviews">Clients say</h1>
      <h3 data-teaser i18n="@@label.reviews_teaser">We will try for you be here</h3>
      <p>Super review here!</p>
    </jnt-container>
  </jnt-lp-slide>

  <jnt-lp-footer>
    <ng-template #footerCopyrightTemplate>
      <jnt-stack [orientation]="ui.orientation.horizontal"
                 [gutter]="ui.gutter.small"
                 [align]="ui.align.end">
        <jnt-icon [icon]="ui.icons.junteStroke"></jnt-icon>
        <jnt-link title="Junte Team 2016 – 2021"
                  [target]="ui.target.blank"
                  source="//junte.team"></jnt-link>
      </jnt-stack>
    </ng-template>
    <jnt-menu #lpFooterMenu [spacing]="ui.gutter.small">
      <jnt-menu-item title="Agreement"
                     i18n-title="@@action.agreement"
                     [link]="['agreement']"></jnt-menu-item>
      <jnt-menu-item title="Policy"
                     i18n-title="@@action.policy"
                     [link]="['policy']"></jnt-menu-item>
      <jnt-menu-item title="Security"
                     i18n-title="@@action.security"
                     [link]="['security']"></jnt-menu-item>
      <jnt-menu-item title="Contacts"
                     i18n-title="@@action.contacts"
                     [link]="['contacts']"></jnt-menu-item>
    </jnt-menu>
    <ng-template #contentTemplate>
      <jnt-icon [icon]="localUi.icons.cp"></jnt-icon>
    </ng-template>
  </jnt-lp-footer>
</jnt-lp-layout>
