@import "~@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
}

header {
  margin-bottom: $jnt-gutter-normal;

  [data-title], [data-name] {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: normal;
    border: none;
    box-sizing: border-box;
    outline: none;
    height: 1.4em;
    line-height: 1.1em;
    overflow: hidden;
    background-color: transparent;
    white-space: nowrap;
    width: 100%;

    &:focus {
      color: black;
    }
  }

  [data-title] {
    font-size: 2em;
  }
}

[data-auto-name] {
  display: flex;
  align-items: center;

  label {
    display: block;
    cursor: pointer;
    border: 1px solid silver;
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    margin-right: $jnt-gutter-tiny;
    position: relative;
    z-index: 1;

    input[type='checkbox'] {
      visibility: collapse;
    }

    &[checked='true'] {
      background: silver;
    }
  }

  [data-name] {
    flex: 1;
    color: silver;
    font-size: .85em;
    line-height: 2em;
  }
}

[data-entity-item] {
  background-color: $jnt-white-color;
  padding: $jnt-gutter-small;
  box-sizing: border-box;
  border: 1px solid $jnt-secondary-color;
  border-radius: 10px;
  z-index: 1;

  [data-entity], [data-enum] {
    flex: 1;
  }
}

.cdk-drag {
  &-preview {
    box-sizing: border-box;
    box-shadow: $jnt-shadow-normal;
  }

  &-dragging .cdk-drag {
    transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
  }

  &-animating {
    transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
  }

  &-placeholder {
    opacity: 0.5;
    transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
  }
}
