<jnt-form [formGroup]="form" jntValidation (submitted)="attach()">
    <jnt-form-item>
        <jnt-form-label>Resource</jnt-form-label>
        <jnt-form-control name="resource">
            <jnt-select placeholder="Resource"
                        [size]="ui.sizes.small"
                        formControlName="resource">
                <jnt-select-option *ngFor="let r of spec.resourceTypes"
                                   [key]="r.title" [label]="r.title">
                </jnt-select-option>
            </jnt-select>
            <jnt-form-message [type]="ui.form.validators.typeError.required">
                This field is required
            </jnt-form-message>
        </jnt-form-control>
    </jnt-form-item>

    <jnt-form-item>
        <jnt-form-label>URL</jnt-form-label>
        <jnt-form-control name="url">
            <jnt-input placeholder="Url of issue"
                       [size]="ui.sizes.small"
                       formControlName="url"></jnt-input>
            <jnt-form-message [type]="ui.form.validators.typeError.required">
                This field is required
            </jnt-form-message>
        </jnt-form-control>
    </jnt-form-item>

    <jnt-form-item *ngIf="urlControl.value">
        <jnt-form-control name="system">
            <jnt-switcher formControlName="system">
                <jnt-switcher-option label="GitLab"
                                     [icon]="ui.icons.gitlab"
                                     [value]="issueSystem.gitlab"></jnt-switcher-option>
                <jnt-switcher-option label="GitHub"
                                     [icon]="ui.icons.github"
                                     [value]="issueSystem.github"></jnt-switcher-option>
            </jnt-switcher>
            <jnt-form-message [type]="ui.form.validators.typeError.required">
                This field is required
            </jnt-form-message>
        </jnt-form-control>
    </jnt-form-item>

    <ng-template #formFooterTemplate>
        <jnt-stack [align]="ui.flex.align.end">
            <jnt-button text="Attach"
                        [size]="ui.sizes.small"
                        [type]="ui.form.button.type.submit"></jnt-button>
        </jnt-stack>
    </ng-template>
</jnt-form>
