<jnt-message
  *ngIf="!!me?.changeSubscriptionRequest && me?.changeSubscriptionRequest?.toSubscription?.id !== me?.subscription?.id; else selectTariffTemplate"
  [icon]="ui.icons.animated.reload"
  [scheme]="ui.scheme.secondary">
  <ng-container [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      You made request changing to tariff
      <jnt-label [label]="me.changeSubscriptionRequest.tariff.title"></jnt-label>
      <br>
      Usually it requires less 1 minute. Please wait a little bit. If you have a problems please write to
      <jnt-link title="support"
                [icon]="{icon: ui.icons.link, position: ui.position.right}"
                [source]="['/support']"></jnt-link>
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      Вы отправили запрос на смену тарифа на
      <jnt-label [label]="me.changeSubscriptionRequest.tariff.title"></jnt-label>
      <br>
      Обычно это занимает не более 1 мин. Пожалуйста, подождите. В случае проблем обратитесь в
      <jnt-link title="поддержку"
                [icon]="{icon: ui.icons.link, position: ui.position.right}"
                [source]="['/support']"></jnt-link>
    </ng-container>
  </ng-container>
</jnt-message>

<ng-template #selectTariffTemplate>
  <jnt-stack [align]="ui.align.stretch">
    <jnt-message *ngIf="me?.subscription.tariff.price > 0"
                 [scheme]="ui.scheme.secondary"
                 [icon]="ui.icons.information">
      <ng-container [ngSwitch]="locale">
        <ng-container *ngSwitchDefault>
          For canceling or changing your subscription, please write to
          <jnt-link title="support"
                    [icon]="ui.icons.link"
                    [source]="['/support']"></jnt-link>

          or you can use special form
          <jnt-link
            title="cloud payments"
            [icon]="localUi.icons.cp"
            [target]="ui.target.blank"
            source="https://my.cloudpayments.ru/en/unsubscribe"></jnt-link>
        </ng-container>
        <ng-container *ngSwitchCase="language.ru">
          Для изменения или отмены подписки, пожалуйста, обратитесь в
          <jnt-link title="поддержку"
                    [icon]="ui.icons.link"
                    [source]="['/support']"></jnt-link>

          или используйте специальную форму
          <jnt-link
            title="cloud payments"
            [icon]="ui.icons.link"
            [target]="ui.target.blank"
            source="https://my.cloudpayments.ru/en/unsubscribe"></jnt-link>
        </ng-container>
      </ng-container>
    </jnt-message>
    <jnt-row [gutter]="ui.gutter.normal"
             [align]="ui.align.stretch">
      <jnt-col *ngFor="let t of tariffs" [tablet]="4">
        <jnt-card data-tariff [attr.data-current]="t.id === me?.subscription?.tariff.id"
                  [padding]="ui.gutter.big"
                  [height]="ui.height.fluid"
                  [width]="ui.width.fluid">

          <jnt-stack [align]="ui.align.stretch">
            <jnt-stack [orientation]="ui.orientation.horizontal"
                       [gutter]="ui.gutter.big"
                       [justify]="ui.justify.center"
                       [align]="ui.align.center">
              <jnt-icon data-tarrif-icon [icon]="t.icon + ':svg:local:stroked'"></jnt-icon>
              <h3>
                {{t.price | currency:'USD':'symbol':'1.0-0'}}
                <span i18n="@@label.per_month">per month</span><br>
                {{t.title}}
              </h3>
            </jnt-stack>
            <p data-teaser>
              <ng-container [ngSwitch]="locale">
                <ng-container *ngSwitchDefault>
                  {{t.teaser}}
                </ng-container>
                <ng-container *ngSwitchCase="language.ru">
                  <ng-container [ngSwitch]="t.code">
                    <ng-container *ngSwitchCase="'free'">
                      Попробуйте ключевые возможности без какой-либо оплаты
                    </ng-container>
                    <ng-container *ngSwitchCase="'startup'">
                      Подходит для небольших команд и включает все возможности
                    </ng-container>
                    <ng-container *ngSwitchCase="'enterprise'">
                      Используйте сервис без ограничений и получите персональную поддержку
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </p>
            <hr>
            <jnt-stack>
              <jnt-stack data-feature-on
                         [orientation]="ui.orientation.horizontal"
                         [gutter]="ui.gutter.small"
                         [align]="ui.align.center">
                <div>
                  <jnt-icon [icon]="localUi.icons.featureOn"></jnt-icon>
                </div>
                <div>{{t.maxProjects < 999 ? t.maxProjects : '∞'}}
                  <ng-container *ngIf="t.maxProjects > 1;else singleProjectTemplate">
                    <ng-template #threeProjectTemplate>
                      <ng-container i18n="@@label.three_projects">projects</ng-container>
                    </ng-template>
                    <ng-container *ngIf="t.maxProjects >= 5;else threeProjectTemplate"
                                  i18n="@@label.many_projects">projects
                    </ng-container>
                  </ng-container>
                  <ng-template #singleProjectTemplate>
                    <ng-container i18n="@@label.single_project">project</ng-container>
                  </ng-template>
                </div>
              </jnt-stack>

              <jnt-stack data-feature-on
                         [orientation]="ui.orientation.horizontal"
                         [gutter]="ui.gutter.small"
                         [align]="ui.align.center">
                <div>
                  <jnt-icon [icon]="localUi.icons.featureOn"></jnt-icon>
                </div>
                <div>{{t.maxProjectMembers < 999 ? t.maxProjectMembers : '∞'}}
                  <ng-container i18n="@@label.members_for_project">members for project</ng-container>
                </div>
              </jnt-stack>

              <jnt-stack data-feature-on
                         *ngIf="t.features | includes: tariffFeatures.communityChat"
                         [orientation]="ui.orientation.horizontal"
                         [gutter]="ui.gutter.small"
                         [align]="ui.align.center">
                <div>
                  <jnt-icon [icon]="localUi.icons.featureOn"></jnt-icon>
                </div>
                <div i18n="@@label.feature_community_chat">Community chat</div>
              </jnt-stack>

              <jnt-stack data-feature-on
                         *ngIf="t.features | includes: tariffFeatures.slackSupport"
                         [orientation]="ui.orientation.horizontal"
                         [gutter]="ui.gutter.small"
                         [align]="ui.align.center">
                <div>
                  <jnt-icon [icon]="localUi.icons.featureOn"></jnt-icon>
                </div>
                <div i18n="@@label.feature_slack_support">Slack support</div>
              </jnt-stack>

              <jnt-stack data-feature-on
                         *ngIf="t.features | includes: tariffFeatures.exclusiveSlackSupport"
                         [orientation]="ui.orientation.horizontal"
                         [gutter]="ui.gutter.small"
                         [align]="ui.align.center">
                <div>
                  <jnt-icon [icon]="localUi.icons.featureOn"></jnt-icon>
                </div>
                <div i18n="@@label.feature_exclusive_slack_support">Exclusive slack support</div>
              </jnt-stack>

              <jnt-stack data-feature-on
                         *ngIf="t.features | includes: [tariffFeatures.projectMembersRoles,
                        tariffFeatures.printContract, tariffFeatures.exportImport]; else inactiveFeaturesTemplate"
                         [orientation]="ui.orientation.horizontal"
                         [gutter]="ui.gutter.small"
                         [align]="ui.align.center">
                <div>
                  <jnt-icon [icon]="localUi.icons.featureOn"></jnt-icon>
                </div>
                <div i18n="@@label.all_features">All features</div>
              </jnt-stack>
            </jnt-stack>

            <ng-template #inactiveFeaturesTemplate>
              <jnt-stack data-feature-off
                         [orientation]="ui.orientation.horizontal"
                         [gutter]="ui.gutter.small"
                         [align]="ui.align.center">
                <div>
                  <jnt-icon [icon]="localUi.icons.featureOff"></jnt-icon>
                </div>
                <div i18n="@@label.feature_roles_for_teams">Roles for members</div>
              </jnt-stack>

              <jnt-stack data-feature-off
                         [orientation]="ui.orientation.horizontal"
                         [gutter]="ui.gutter.small"
                         [align]="ui.align.center">
                <div>
                  <jnt-icon [icon]="localUi.icons.featureOff"></jnt-icon>
                </div>
                <div i18n="@@label.feature_print_contract">Print contract</div>
              </jnt-stack>

              <jnt-stack data-feature-off
                         [orientation]="ui.orientation.horizontal"
                         [gutter]="ui.gutter.small"
                         [align]="ui.align.center">
                <div>
                  <jnt-icon [icon]="localUi.icons.featureOff"></jnt-icon>
                </div>
                <div i18n="@@label.feature_export_import">Export / import</div>
              </jnt-stack>
            </ng-template>
          </jnt-stack>

          <ng-template #cardFooterTemplate>
            <jnt-stack data-footer [align]="ui.align.stretch">
              <ng-template #currentTemplate>
                <jnt-stack [align]="ui.align.stretch">
                  <jnt-stack [orientation]="ui.orientation.horizontal"
                             [justify]="ui.justify.center">
                    <jnt-icon data-selected [icon]="ui.icons.checked"></jnt-icon>
                  </jnt-stack>
                  <jnt-date-period *ngIf="!!me?.subscription.activeUntil"
                                   [start]="me?.subscription.createdAt"
                                   [current]="today"
                                   [end]="me?.subscription.activeUntil"></jnt-date-period>
                </jnt-stack>
              </ng-template>
              <ng-container *ngIf="t.id !== me?.subscription?.tariff.id; else currentTemplate">
                <ng-container *ngIf="me?.subscription.tariff.price <= 0">
                  <ng-template #freeTariffTemplate>
                    <jnt-button text="Try"
                                i18n-text="@@action.try"
                                [scheme]="ui.scheme.accent"
                                (click)="select(t)"></jnt-button>
                  </ng-template>
                  <jnt-button *ngIf="t.price > 0;else freeTariffTemplate"
                              text="Buy"
                              i18n-text="@@action.buy"
                              [scheme]="ui.scheme.accent"
                              (click)="select(t)"></jnt-button>
                </ng-container>
              </ng-container>
            </jnt-stack>
          </ng-template>
        </jnt-card>
      </jnt-col>
    </jnt-row>
  </jnt-stack>
</ng-template>
