@import '../../../variables';
@import '~@junte/ui/lib/assets/styles/elements/icon';
@import '~@junte/ui/lib/assets/styles/layout/card';
@import '~@junte/ui/lib/assets/styles/layout/skeleton';

$jnt-ng-deep: true;

:host {
  display: block;
  position: relative;
  z-index: 1;
  @include jnt-skeleton((card: (height: 300px)));
  @include jnt-card((background: rgba($jnt-primary-background, 0.6), corner: 16px));
}

[data-tariff] {
  // TODO: @junte/ui
  height: 100%;
  font-family: $jnt-lp-layout-font-family;

  &[data-current=false] {
    backdrop-filter: blur(20px);
  }

  &[data-current=true] {
    @include jnt-card((
      background: #ECEFFF,
      border: 2px solid $jnt-primary-color,
      shadow: 0px 30px 30px rgba(57, 73, 171, 0.14)), '&');

    [data-selected] {
      @include jnt-icon((size: 32px, stroke: 2px, color: $jnt-success-color), '&');
    }
  }

  [data-tarrif-icon] {
    @include jnt-icon((size: 64px, stroke: 3px, color: $jnt-primary-color), '&');
  }

  h3 {
    font-weight: $jnt-font-weight-bold;
    color: $jnt-primary-color;
    line-height: 1.25;
    margin: 0;

    span {
      font-size: .65em;
      color: $jnt-gray-700-color;
      font-weight: $jnt-font-weight-base;
    }
  }

  [data-teaser] {
    margin-top: $jnt-gutter-normal;
    text-align: center;
  }

  hr {
    width: 100%;
    border: none;
    border-top: 1px solid $jnt-secondary-color;
  }

  %feature {
    div:first-child {
      padding: $jnt-gutter-tiny;
      border-radius: 50%;
      background-color: $jnt-green-color;
      @include jnt-icon((color: $jnt-white-color));
    }
  }

  [data-feature-on] {
    @extend %feature;
  }

  [data-feature-off] {
    @extend %feature;

    div:first-child {
      background-color: $jnt-gray-600-color;
    }
  }

  [data-footer] {
    padding-top: $jnt-gutter-normal;
  }

}
