<p>Features are a functionality of your application. Your app is a game with actors each of them wants to do something
  for reaching some goal.</p>
<!--<h2>Contents</h2>
<ul contents>
  <li *ngFor="let actor of spec.actors; trackBy: trackActor">
    <jnt-stack actor [type]="ui.stack.type.horizontal">
      <jnt-link [source]="['.', {actor: actor.id}]" [title]="actor.name"></jnt-link>
      <ng-container *ngIf="(actor | actorPrice:actor.version:actor.rev) as price">
        <div price>{{price | currency}}</div>
      </ng-container>
    </jnt-stack>
    <ul>
      <li *ngFor="let feature of actor.features">
        <jnt-stack [type]="ui.stack.type.horizontal">
          <jnt-stack [type]="ui.stack.type.horizontal"
                     [align]="ui.flex.align.center"
                     [gutter]="ui.gutter.small">
            <jnt-link
              (click)="router.navigate([actor.id,'features', feature.id], {relativeTo: route})"
              [title]="feature.title | joinTokens"></jnt-link>
            <div dot *ngIf="feature.story.length" story></div>
            <div dot *ngIf="feature.frames.length" frames></div>
            <div dot *ngIf="feature.graphql.length" graphql></div>
          </jnt-stack>
          <ng-container *ngIf="(feature | featurePrice:feature.version:feature.rev) as price">
            <div price>{{price | currency}}</div>
          </ng-container>
        </jnt-stack>
      </li>
    </ul>
  </li>
</ul>

<ul total>
  <li>Total</li>
  <li></li>
  <li>
    {{spec | specPrice:spec.version:spec.rev | currency}}
  </li>
</ul>-->

<div data-feature [attr.data-active]="active">
  <jnt-button data-close
              [size]="ui.sizes.small"
              [icon]="ui.icons.close"
              (click)="router.navigate(['./'], {relativeTo: route})"></jnt-button>
  <jnt-block data-block [padding]="ui.gutter.normal">
    <router-outlet (activate)="active = true" (deactivate)="active = false"></router-outlet>
  </jnt-block>
</div>

<jnt-stack [gutter]="ui.gutter.large">
  <jnt-button *ngIf="manager.mode ==  editMode.edit"
              [icon]="ui.icons.font.plus"
              [size]="ui.sizes.tiny"
              [scheme]="ui.schemes.secondary"
              (click)="addActor()"></jnt-button>
  <ul actors cdkDropList (cdkDropListDropped)="moveActor($event)" [cdkDropListData]="spec.actors">
    <li *ngFor="let actor of spec.actors; let i = index; trackBy: trackActor" cdkDrag field>
      <jnt-stack *ngIf="manager.mode ==  editMode.edit" actions [gutter]="ui.gutter.small">
        <jnt-button cdkDragHandle
                    [icon]="ui.icons.font.expand"
                    [size]="ui.sizes.tiny"
                    [scheme]="ui.schemes.secondary">
        </jnt-button>
        <jnt-button [icon]="ui.icons.font.delete"
                    [size]="ui.sizes.tiny"
                    [scheme]="ui.schemes.secondary"
                    [jntPopover]="{contentTemplate: deleteTemplate, trigger: ui.popover.trigger.click}">
        </jnt-button>
        <ng-template #deleteTemplate>
          <jnt-confirm message="Are you sure to delete the actor?" (cancel)="popover.hide()"
                       (ok)="deleteActor(i);popover.hide()"></jnt-confirm>
        </ng-template>
      </jnt-stack>
      <spec-actor actor [actor]="actor" [selected]="selected"></spec-actor>
    </li>
  </ul>
</jnt-stack>

<div *ngIf="!!selected" backdrop
     (click)="router.navigate([{}], {relativeTo: route})"></div>
