<p>Features are a functionality of your application. Your app is a game with actors each of them wants to do something for reaching some goal.</p>
<h2>Contents</h2>
<ul contents>
    <li *ngFor="let actor of spec.actors; trackBy: trackActor">
        <jnt-stack actor [type]="ui.stack.type.horizontal">
            <jnt-link [source]="['.', {actor: actor.id}]" [title]="actor.name"></jnt-link>
            <ng-container *ngIf="(actor | actorPrice:actor.version:actor.rev) as price">
                <div price>{{price | currency}}</div>
            </ng-container>
        </jnt-stack>
        <ul>
            <li *ngFor="let feature of actor.features">
                <jnt-stack [type]="ui.stack.type.horizontal">
                    <jnt-stack [type]="ui.stack.type.horizontal"
                               [align]="ui.flex.align.center"
                               [gutter]="ui.gutter.small">
                        <jnt-link [source]="['.', {feature: feature.id}]"
                                  [title]="feature.title | joinTokens"></jnt-link>
                        <div dot *ngIf="feature.story.length" story></div>
                        <div dot *ngIf="feature.frames.length" frames></div>
                        <div dot *ngIf="feature.graphql.length" graphql></div>
                    </jnt-stack>
                    <ng-container *ngIf="(feature | featurePrice:feature.version:feature.rev) as price">
                        <div price>{{price | currency}}</div>
                    </ng-container>
                </jnt-stack>
            </li>
        </ul>
    </li>
</ul>

<ul total>
    <li>Total</li>
    <li></li>
    <li>
        {{spec | specPrice:spec.version:spec.rev | currency}}
    </li>
</ul>
<jnt-stack [gutter]="ui.gutter.large">
    <jnt-button *ngIf="manager.mode ==  editMode.edit"
                [icon]="ui.icons.font.plus"
                [size]="ui.sizes.tiny"
                [scheme]="ui.schemes.secondary"
                (click)="addActor()"></jnt-button>
    <ul actors cdkDropList (cdkDropListDropped)="moveActor($event)" [cdkDropListData]="spec.actors">
        <li *ngFor="let actor of spec.actors; let i = index; trackBy: trackActor" cdkDrag field>
            <jnt-stack *ngIf="manager.mode ==  editMode.edit" actions [gutter]="ui.gutter.small">
                <jnt-button cdkDragHandle
                            [icon]="ui.icons.font.expand"
                            [size]="ui.sizes.tiny"
                            [scheme]="ui.schemes.secondary">
                </jnt-button>
                <jnt-button [icon]="ui.icons.font.delete"
                            [size]="ui.sizes.tiny"
                            [scheme]="ui.schemes.secondary"
                            (click)="deleteActor(i)">
                </jnt-button>
            </jnt-stack>
            <spec-actor [actor]="actor"></spec-actor>
        </li>
    </ul>
</jnt-stack>


