<jnt-stack [gutter]="ui.stack.gutter.large">
    <jnt-button *ngIf="manager.mode ==  editMode.edit"
                [icon]="ui.icons.plus"
                [size]="ui.sizes.tiny"
                [scheme]="ui.schemes.secondary"
                (click)="addActor()"></jnt-button>
    <ul cdkDropList (cdkDropListDropped)="moveActor($event)" [cdkDropListData]="spec.actors">
        <li *ngFor="let actor of spec.actors; let i = index; trackBy: trackActor" cdkDrag field>
            <jnt-stack *ngIf="manager.mode ==  editMode.edit" actions [gutter]="ui.stack.gutter.small">
                <jnt-button cdkDragHandle
                            [icon]="ui.icons.expand"
                            [size]="ui.sizes.tiny"
                            [scheme]="ui.schemes.secondary">
                </jnt-button>
                <jnt-button [icon]="ui.icons.delete"
                            [size]="ui.sizes.tiny"
                            [scheme]="ui.schemes.secondary"
                            (click)="deleteActor(i)">
                </jnt-button>
            </jnt-stack>
            <spec-actor [actor]="actor"></spec-actor>
        </li>
    </ul>
</jnt-stack>


