@import "~@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
  position: relative;
}

[data-actions] {
  opacity: .1;
  margin-right: $jnt-gutter-small;
  padding-top: $jnt-gutter-small;

  &:hover {
    opacity: 1;
    transition: .25s opacity;
  }
}

[data-actor] {
  flex: 1;
}

.cdk-drag {
  &-preview {
    box-shadow: $jnt-shadow-normal;
  }

  &-dragging .cdk-drag {
    transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
  }

  &-animating {
    transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
  }

  &-placeholder {
    opacity: 0.5;
    transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
  }
}

[data-library] {
  position: fixed;
  top: 90px;
  right: $jnt-gutter-big;
  box-shadow: $jnt-shadow-normal;
  z-index: 5;
}

[data-epics] {
  list-style: none;
  margin: 0;
  padding: $jnt-gutter-small;
  display: flex;
  flex-wrap: wrap;

  li {
    border: 1px solid $jnt-secondary-color;
    border-radius: $jnt-corner-small;
    padding: $jnt-gutter-small;
    user-select: none;
    background-color: $jnt-secondary-color;
    cursor: move;

    &:not(:last-child) {
      margin-right: $jnt-gutter-small;
    }
  }
}

