<jnt-stack [gutter]="ui.gutter.large">
    <jnt-button *ngIf="manager.mode ==  editMode.edit"
                [icon]="ui.icons.font.plus"
                [size]="ui.sizes.tiny"
                [scheme]="ui.schemes.secondary"
                (click)="addEpic()"></jnt-button>
    <ul cdkDropList (cdkDropListDropped)="moveEpic($event)" [cdkDropListData]="spec.epics">
        <li *ngFor="let epic of spec.epics; let i = index;" cdkDrag field>
            <jnt-stack *ngIf="manager.mode ==  editMode.edit" actions [gutter]="ui.gutter.small">
                <jnt-button cdkDragHandle
                            [icon]="ui.icons.font.expand"
                            [size]="ui.sizes.tiny"
                            [scheme]="ui.schemes.secondary">
                </jnt-button>
                <jnt-button [icon]="ui.icons.font.delete"
                            [size]="ui.sizes.tiny"
                            [scheme]="ui.schemes.secondary"
                            (click)="deleteEpic(i)">
                </jnt-button>
            </jnt-stack>
            <spec-epic [epic]="epic"></spec-epic>
        </li>
    </ul>
</jnt-stack>


