@import "src/variables";

:host {
  display: block;
}

[data-syntax] {
  font-size: .85em;
  p {
    margin: $jnt-gutter-small 0;
  }
}

ol {
  li:not(:last-child) {
    margin-bottom: $jnt-gutter-tiny;
  }
}
