@import "~@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
  position: relative;
}

[data-art] {
  width: 50%;
}

[data-add] {
  position: relative;
  [data-button] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 200px;
  }
}

[data-actions] {
  opacity: .1;
  margin-right: $jnt-gutter-small;
  padding-top: $jnt-gutter-small;

  &:hover {
    opacity: 1;
    transition: .25s opacity;
  }
}

[data-actor] {
  flex: 1;
}
