@import "~@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
  position: relative;
}

[data-art] {
  width: 50%;
}

[data-actions] {
  opacity: .1;
  margin-right: $jnt-gutter-small;
  padding-top: $jnt-gutter-small;

  &:hover {
    opacity: 1;
    transition: .25s opacity;
  }
}

[data-actor] {
  flex: 1;
}
