@import "~@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
  position: relative;
}

[data-art] {
  width: 50%;
}

[data-actions] {
  opacity: .1;
  margin-right: $jnt-gutter-small;
  padding-top: $jnt-gutter-small;

  &:hover {
    opacity: 1;
    transition: .25s opacity;
  }
}

[data-actor] {
  flex: 1;
}

%epic {
  border: 1px solid $jnt-secondary-color;
  border-radius: $jnt-corner-small;
  padding: $jnt-gutter-small;
  background-color: $jnt-secondary-color;
}

.cdk-drag {
  &-preview {
    box-sizing: border-box;
    box-shadow: $jnt-shadow-normal;
    @extend %epic;
  }

  &-dragging .cdk-drag {
    transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
  }

  &-animating {
    transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
  }

  &-placeholder {
    opacity: 0.5;
    transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
  }
}

[data-library] {
  position: fixed;
  top: 90px;
  right: 100px;
  box-shadow: $jnt-shadow-normal;
  z-index: 5;
  width: 300px;

  div {
    @extend %epic;
    cursor: move;
    user-select: none;

    &:not(:last-child) {
      margin-right: $jnt-gutter-small;
    }
  }
}

