<jnt-app-page-header [icon]="localUi.icons.features"
                     title="Features"
                     i18n-title="@@label.features"
                     teaser="functionality of your application"
                     i18n-teaser="@@message.features_teaser">
</jnt-app-page-header>

<jnt-stack [align]="ui.align.stretch"
           [gutter]="ui.gutter.large">
  <ng-template #emptyDataTemplate>
    <jnt-message>
      <jnt-stack>
        <ng-container [ngSwitch]="consts.language">
          <ng-container *ngSwitchDefault>
            <p>Let's think your app is <b>a game</b>. Users are players with some goals.
              To reach their goals we should satisfy their <b>requirements</b>.</p>
            <p>E.g. <b>Client</b> wants make an order.
              <b>Operator</b> wants process the order.
              <b>Carrier</b> wants deliver the order.</p>
            <p>Try to split users of you app by groups - roles.</p>
          </ng-container>
          <ng-container *ngSwitchCase="language.ru">
            <p>Давайте представим, что Ваше приложение – это <b>игра</b>.</p>
            <p>Пользователи – это игроки с некоторыми целями, для достижения которых мы должны
              удовлетворить их <b>требования</b>.</p>
            <p>Например Ваша игра <b>интернет-магазин:</b></p>
            <ol>
              <li><b>Клиент</b> хочет
                <ul>
                  <li>каталог продуктов</li>
                  <li>сделать заказ</li>
                </ul>
              </li>
              <li><b>Оператор</b> хочет
                <ul>
                  <li>список заказов от клиентов</li>
                  <li>обработать заказ</li>
                </ul>
              </li>
              <li><b>Курьер</b> хочет
                <ul>
                  <li>лист доставок на день</li>
                  <li>доставить заказ</li>
                </ul>
              </li>
            </ol>
            <p>Попробуйте разделить пользователей Вашего продукта по группам – ролям – это и будут актеры.</p>
          </ng-container>
        </ng-container>
        <jnt-button *ngIf="manager.mode === editMode.edit"
                    text="Add first actor"
                    i18n-text="@@action.add_first_actor"
                    [icon]="ui.icons.add"
                    (click)="addActor()"
                    [analytics]="{ type: analyticsType.goal, goal: 'addActor' }"></jnt-button>
      </jnt-stack>
    </jnt-message>

    <img data-art src="assets/images/features.svg">
  </ng-template>

  <jnt-stack cdkDropList *ngIf="spec.actors.length > 0; else emptyDataTemplate"
             [align]="ui.align.stretch"
             [cdkDropListData]="spec?.actors"
             (cdkDropListDropped)="moveActor($event)">
    <jnt-card *ngFor="let actor of spec.actors; let i = index; trackBy: trackElement"
              cdkDrag [cdkDragDisabled]="(manager.mode$ | async) === editMode.view">
      <ng-template *ngIf="(manager.mode$ | async) === editMode.edit" #cardDragTemplate let-icon="icon">
        <button cdkDragHandle>
          <jnt-icon [icon]="icon"></jnt-icon>
        </button>
      </ng-template>
      <spec-actor [actor]="actor"
                  [mode]="added === actor.id ? editMode.edit : editMode.view"></spec-actor>

      <ng-template #cardActionsTemplate *ngIf="(manager.mode$ | async) === editMode.edit" let-hide="hide">
        <jnt-menu [orientation]="ui.orientation.vertical">
          <jnt-menu-item [icon]="ui.icons.delete"
                         title="Delete"
                         i18n-title="@@action.delete"
                         (click)="hide()"
                         [jntModal]="{content: deleteTemplate}">
          </jnt-menu-item>
        </jnt-menu>
      </ng-template>

      <ng-template #deleteTemplate>
        <jnt-confirm message="Are you sure to delete?"
                     i18n-message="@@message.are_you_sure_delete"
                     (cancel)="modal.close()"
                     (ok)="deleteActor(actor)"></jnt-confirm>
      </ng-template>
    </jnt-card>

    <jnt-card data-add-one *ngIf="(manager.mode$ | async) === editMode.edit"
              [padding]="ui.gutter.large">
      <jnt-button text="Add actor"
                  i18n-text="@@action.add_actor"
                  [icon]="localUi.icons.add"
                  [size]="ui.size.large"
                  [outline]="ui.outline.transparent"
                  (click)="addActor()"
                  [analytics]="{ type: analyticsType.goal, goal: 'addActor' }"></jnt-button>
    </jnt-card>
  </jnt-stack>
</jnt-stack>
