<jnt-popover #popover></jnt-popover>
<jnt-modal #modal [backdrop]="backdrop"></jnt-modal>

<jnt-app-layout #layout [position]="ui.placement.fixed">
  <jnt-app-header>
    <ng-template #headerLogoTemplate>
      <img src="/assets/images/logo-light.svg">
    </ng-template>
    <ng-container>
      <jnt-menu>
        <jnt-menu-item [link]="['/projects']" title="Projects"></jnt-menu-item>
        <jnt-menu-item [link]="['/marketplace']" title="Marketplace"></jnt-menu-item>
      </jnt-menu>
      <ng-template #headerUserbarTemplate>
        <jnt-app-header-userbar>
          <ng-template #userbarAvatarTemplate>
            <jnt-icon icon="user"></jnt-icon>
          </ng-template>
          <ng-template #userbarMenuTemplate>
            <jnt-button (click)="logout()" text="Logout"></jnt-button>
          </ng-template>
        </jnt-app-header-userbar>
      </ng-template>
    </ng-container>
  </jnt-app-header>

  <router-outlet></router-outlet>
</jnt-app-layout>
