@import "../../../../../../../../node_modules/@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
}

form {
  display: flex;
  align-items: flex-start;
  position: relative;
  b {
    margin-right: $jnt-gutter-small;
    white-space: nowrap;
    width: 40px;
  }
}

select {
  display: inline-block;
  appearance: none;
  padding: 0;
  border: 0;
  font-weight: bold;
  margin-right: $jnt-gutter-small;
  background: none;
  width: 40px;
}

input {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  align-items: center;
  padding: 0 0 1px 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  height: 20px;
  line-height: 1.2em;
  overflow: hidden;
  background-color: transparent;
  white-space: nowrap;
  min-width: 200px;
  font-size: 1em;
  &:focus {
    color: black;
  }
}
