<ng-container *ngIf="feature.story.length;else addStoryTemplate">
    <ol (mouseenter)="manager.mode ==  editMode.edit ? mode = editMode.edit : null"
        (mouseleave)="mode = editMode.view">
        <li *ngFor="let entry of feature.story; let i = index">
            <spec-story-entry #storyEntry [entry]="entry"
                              [mode]="mode"
                              [spec]="feature.spec"
                              (changed)="edit(i, $event)"
                              (finished)="add(i)"
                              (deleted)="delete(i)">
            </spec-story-entry>
        </li>
    </ol>
</ng-container>

<ng-template #addStoryTemplate>
    <p>
        <jnt-link title="Add story"
                  [outline]="ui.outline.ghost"
                  [icon]="ui.icons.plus"
                  (click)="fill()"></jnt-link>
        to feature.
    </p>
</ng-template>
