<!--<ul data-filling>
  <li [attr.data-step]="feature.story.length > 0">
    <span>Story</span>
  </li>
  <li data-chevron>
    <div>&rsaquo;</div>
  </li>
  <li [attr.data-step]="feature.frames.length > 0">
    <span>Design</span>
  </li>
  <li data-chevron>
    <div>&rsaquo;</div>
  </li>
  <li [attr.data-step]="feature.resources.length > 0">
    <span>
      <ng-container *ngIf="(feature | featurePrice | async) as price;else estimatesTemplate">
              {{price | currency}}
      </ng-container>
      <ng-template #estimatesTemplate>Estimates</ng-template>
    </span>
  </li>
  <li data-chevron>
    <div>&rsaquo;</div>
  </li>
  <li [attr.data-step]="feature.graphql.length > 0">
    <span>API</span>
  </li>
</ul>-->

<form [formGroup]="form">
  <header (mouseenter)="manager.mode ==  editMode.edit ? mode = editMode.edit : null"
          (mouseleave)="mode = editMode.view">
    <ng-container *ngIf="mode == editMode.edit; else viewHeader">
      <input  #nameRef data-title formControlName="title">
    </ng-container>
  </header>

  <ng-template #viewHeader>
    <spec-tokens data-title [spec]="feature.spec"
                 [tokens]="feature.title"></spec-tokens>
  </ng-template>
</form>
