@import "src/variables";

:host {
  display: block;
}

form {
  display: flex;
  align-items: flex-start;
  position: relative;

  > * {
    display: none;
  }

  &[data-mode='view'] {
    b, [data-tokens] {
      display: block;
    }
    select, input {
      display: none;
    }
  }

  &[data-mode='edit'] {
    b, [data-tokens] {
      display: none;
    }
    select, input {
      display: block;
    }
  }
}

b {
  margin-right: $jnt-gutter-small;
  white-space: nowrap;
  width: 60px;
}

select {
  display: inline-block;
  appearance: none;
  padding: 0;
  border: 0;
  font-weight: bold;
  margin-right: $jnt-gutter-small;
  background: none;
  width: 60px;
}

input {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  align-items: center;
  padding: 0 0 1px 0;
  margin: 0;
  border: none;
  outline: none;
  height: 20px;
  line-height: 1.2em;
  overflow: hidden;
  background-color: transparent;
  white-space: nowrap;
  min-width: 200px;
  font-size: 1em;

  &:focus {
    color: black;
  }
}
