<jnt-stack [orientation]="ui.orientation.horizontal" alphabet [align]="ui.align.center">
    <ng-container *ngFor="let term of (spec.terms | sortByName); let i = index; let first = first">
        <a *ngIf="!(term.name | sameFirstChar:(spec.terms | sortByName)[i - 1]?.name)"
           [routerLink]="['.']" [fragment]="term.name[0]">
            {{term.name[0]}}
        </a>
    </ng-container>
</jnt-stack>

<jnt-stack [gutter]="ui.gutter.small" terms>
    <jnt-button *ngIf="manager.mode === editMode.edit"
                [icon]="ui.icons.add"
                [scheme]="ui.scheme.secondary"
                [outline]="ui.outline.transparent"
                (click)="addTerm()">
    </jnt-button>

    <jnt-stack [align]="ui.align.stretch" list>
        <ng-container *ngFor="let term of (spec.terms | sortByName); let i = index; let first = first">
            <a *ngIf="!(term.name | sameFirstChar:(spec.terms | sortByName)[i - 1]?.name)"
               char [id]="term.name[0]">
                {{term.name[0]}}
            </a>
            <spec-term [term]="term" [spec]="spec"></spec-term>
        </ng-container>
    </jnt-stack>
</jnt-stack>
