<jnt-stack [type]="ui.stack.type.horizontal" alphabet [align]="ui.flex.align.center">
    <ng-container *ngFor="let term of terms; let i = index; let first = first">
        <a *ngIf="!(term.name | sameFirstChar:terms[i - 1]?.name)"
           [routerLink]="['.']" [fragment]="term.name[0]">
            {{term.name[0]}}
        </a>
    </ng-container>
</jnt-stack>

<jnt-stack [gutter]="ui.gutter.small" terms>
    <jnt-button *ngIf="manager.mode === editMode.edit"
                [icon]="ui.icons.font.add"
                [scheme]="ui.schemes.secondary"
                [outline]="ui.outline.transparent"
                (click)="addTerm()">
    </jnt-button>

    <jnt-stack [align]="ui.flex.align.stretch">
        <ng-container *ngFor="let term of terms; let i = index; let first = first">
            <a *ngIf="!(term.name | sameFirstChar:terms[i - 1]?.name)"
               char [id]="term.name[0]">
                {{term.name[0]}}
            </a>
            <spec-term [term]="term"></spec-term>
        </ng-container>
    </jnt-stack>
</jnt-stack>
