<jnt-informer *ngIf="errors.length > 0"
              [placement]="ui.placement.absolute"
              [context]="ui.context.modal"
              (ok)="this.errors = []">
  <jnt-informer-message *ngFor="let e of errors"
                        [message]="e.toString()"></jnt-informer-message>
</jnt-informer>

<jnt-form #formComponent
          [formGroup]="form"
          [state]="progress.setting || progress.redirecting ? ui.state.loading : null"
          (submitted)="setPassword()">
  <jnt-stack [align]="ui.align.stretch">
    <jnt-form-item>
      <jnt-form-control name="code">
        <jnt-input #codeRef formControlName="code"
                   placeholder="Code"
                   i18n-placeholder="@@label.code"
                   autocomplete="new-code"></jnt-input>
        <jnt-form-message [validator]="ui.validator.required"
                          i18n="@@message.field_required">This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>
    <jnt-form-item>
      <jnt-form-control name="password">
        <jnt-input formControlName="password"
                   placeholder="Password"
                   [icon]="ui.icons.lock"
                   [type]="ui.input.type.password"
                   i18n-placeholder="@@label.password"
                   autocomplete="new-password"></jnt-input>
        <jnt-form-message [validator]="ui.validator.required"
                          i18n="@@message.field_required">This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>
    <jnt-form-item>
      <jnt-form-control name="confirmation">
        <jnt-input formControlName="confirmation"
                   placeholder="Confirm password"
                   [icon]="ui.icons.lock"
                   [type]="ui.input.type.password"
                   i18n-placeholder="@@label.password"
                   autocomplete="new-confirmation"
                   [jntShortcuts]="[{key: ui.keyboard.key.enter, action: submit.bind(this)}]"></jnt-input>
        <jnt-form-message [validator]="ui.validator.required"
                          i18n="@@message.field_required">This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>

    <jnt-message *ngIf="form.errors?.mismatched && confirmationControl.dirty"
                 [icon]="ui.icons.warning"
                 [scheme]="ui.scheme.fail"
                 i18="@@message.passwords_mismatch">Passwords mismatch
    </jnt-message>
  </jnt-stack>

  <ng-template #formFooterTemplate>
    <jnt-stack [align]="ui.align.stretch">
      <jnt-button text="Reset password"
                  i18n-text="@@action.reset_password"
                  [width]="ui.width.fluid"
                  [type]="ui.button.type.submit">
      </jnt-button>
      <p i18n="@@message.code_problems">Did not receive code?</p>
      <jnt-button text="Support"
                  i18n-text="@@action.support"
                  [icon]="ui.icons.help"
                  [scheme]="ui.scheme.secondary"
                  (click)="router.navigate(['/support'])">
      </jnt-button>
    </jnt-stack>
  </ng-template>

</jnt-form>
