<ng-container [formGroup]="form">
  <table formGroupName="workflow">
    <tr>
      <td>
        <spec-workflow-step title="Story"
                            i18n-title="@@label.user_story"
                            formControlName="story"
                            [icon]="localUi.icons.story"></spec-workflow-step>
      </td>
      <td>
        <jnt-icon [icon]="ui.icons.chevronRight"></jnt-icon>
      </td>
      <td>
        <spec-workflow-step title="Resources"
                            i18n-title="@@label.resources"
                            formControlName="resources"
                            [icon]="localUi.icons.resources"></spec-workflow-step>
      </td>
      <td>
        <jnt-icon [icon]="ui.icons.chevronRight"></jnt-icon>
      </td>
      <td>
        <spec-workflow-step title="Design"
                            i18n-title="@@label.design"
                            formControlName="design"
                            [icon]="ui.icons.figma"></spec-workflow-step>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <jnt-icon [icon]="ui.icons.chevronDown"></jnt-icon>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <span i18n="@@label.workflow">Workflow</span>
      </td>
      <td>
        <spec-workflow-step title="API"
                            i18n-title="@@label.api"
                            formControlName="api"
                            [icon]="localUi.icons.graphQl"></spec-workflow-step>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <jnt-icon [icon]="ui.icons.chevronDown"></jnt-icon>
      </td>
    </tr>
    <tr>
      <td>
        <spec-workflow-step title="Accepting"
                            i18n-title="@@label.accepting"
                            formControlName="accepting"
                            [icon]="localUi.icons.accepting"></spec-workflow-step>
      </td>
      <td>
        <jnt-icon [icon]="ui.icons.chevronLeft"></jnt-icon>
      </td>
      <td>
        <spec-workflow-step title="Testing"
                            i18n-title="@@label.testing"
                            formControlName="testing"
                            [icon]="localUi.icons.testing"></spec-workflow-step>
      </td>
      <td>
        <jnt-icon [icon]="ui.icons.chevronLeft"></jnt-icon>
      </td>
      <td>
        <spec-workflow-step title="Developing"
                            i18n-title="@@label.developing"
                            formControlName="developing"
                            [icon]="localUi.icons.developing"></spec-workflow-step>
      </td>
    </tr>
  </table>

</ng-container>
