@import "src/variables";
@import "~@junte/ui/lib/assets/styles/elements/icon";

$jnt-ng-deep: true;

table {
  width: 100%;

  thead tr {
    height: 100px;
  }

  th {

    &:first-child {
      text-align: center;
      font-size: 1.25em;
    }

    &:not(:first-child) {
      position: relative;
      font-size: .85em;

      span {
        position: absolute;
        left: 10px;
        bottom: $jnt-gutter-tiny;
        transform-origin: left top;
        transform: translateY(20px) translateY(100%) rotate(-90deg);
      }
    }
  }

  th:not(:first-child), td:not(:first-child) {
    width: 30px;
    text-align: center;
  }

  th, td {
    padding: $jnt-gutter-tiny;
  }

  tr[data-feature] {
    background-color: $jnt-secondary-background;

    td {
      &:first-child {
        border-top-left-radius: $jnt-corner-normal;
        border-bottom-left-radius: $jnt-corner-normal;
        padding-left: $jnt-gutter-small;
      }

      &:last-child {
        border-top-right-radius: $jnt-corner-normal;
        border-bottom-right-radius: $jnt-corner-normal;
      }
    }
  }

  td[data-gutter] {
    height: $jnt-gutter-tiny;
    font-size: 0;
  }

  [data-actor] {
    text-align: left;
    font-weight: $jnt-font-weight-bold;
    padding: $jnt-gutter-small 0;
  }

  [data-state='doing'] {
    @include jnt-icon((color: $jnt-gray-800-color), '&');
  }

  [data-state='done'] {
    @include jnt-icon((color: $jnt-success-color), '&');
  }

  [data-state='missed'] {
    @include jnt-icon((color: $jnt-gray-600-color), '&');
  }

}
