<form [formGroup]="form">
  <ng-template #noResourceTypesTemplate>
    <jnt-message [scheme]="ui.scheme.fail">
      You have no <b>resource types</b> in project
      <jnt-link title="settings"
                [source]="['../../../../..', 'details']"
                [icon]="{icon: ui.icons.link, position: ui.position.right}"></jnt-link>
    </jnt-message>
  </ng-template>

  <ng-container *ngIf="feature.spec.resourceTypes.length > 0;else noResourceTypesTemplate">
    <ng-template #fillResourcesTemplate>
      <jnt-stack [align]="ui.align.stretch">
        <jnt-message>
          <p>Resources are used for implementing feature.</p>
        </jnt-message>
        <jnt-stack [orientation]="ui.orientation.horizontal">
          <jnt-button text="Fill resources"
                      [icon]="ui.icons.add"
                      (click)="fill()"></jnt-button>
        </jnt-stack>
      </jnt-stack>
    </ng-template>
    <ng-container formArrayName="resources">
      <ng-container *ngIf="resources.controls.length > 0;else fillResourcesTemplate">
        <jnt-stack [align]="ui.align.stretch">

          <jnt-stack [orientation]="ui.orientation.horizontal">
            <jnt-button [icon]="ui.icons.add"
                        [shape]="ui.shape.circle"
                        (click)="add()"></jnt-button>
          </jnt-stack>

          <jnt-row *ngFor="let r of resources.controls; let i = index"
                   [formGroupName]="i">
            <jnt-col [wide]="3" [desktop]="4" [tablet]="4" [mobile]="6">
              <jnt-select placeholder="Title"
                          formControlName="resource"
                          [width]="ui.width.fluid">
                <jnt-select-option *ngFor="let r of feature.spec.resourceTypes"
                                   [key]="r.title" [label]="r.title"></jnt-select-option>
              </jnt-select>
            </jnt-col>
            <jnt-col [tablet]="2" [mobile]="4">
              <jnt-input placeholder="Hours"
                         formControlName="hours"
                         [type]="ui.input.type.number"
                         [textAlign]="ui.text.align.right"
                         [width]="ui.width.fluid"></jnt-input>
            </jnt-col>
            <jnt-col [span]="2">
              <jnt-button [icon]="ui.icons.delete"
                          [scheme]="ui.scheme.secondary"
                          [shape]="ui.shape.circle"
                          [type]="ui.button.type.button"
                          (click)="delete(i)"></jnt-button>
            </jnt-col>
          </jnt-row>
        </jnt-stack>
      </ng-container>
    </ng-container>
  </ng-container>
</form>
