<jnt-form [formGroup]="form" jntValidation (submitted)="add()">
    <jnt-form-item>
        <jnt-form-label>URL</jnt-form-label>
        <jnt-form-control name="url">
            <jnt-input placeholder="Url of figma frame" formControlName="url"></jnt-input>
            <jnt-form-message [type]="ui.form.validators.typeError.required">
                This field is required
            </jnt-form-message>
        </jnt-form-control>
    </jnt-form-item>

    <ng-template #formFooterTemplate>
        <jnt-stack [align]="ui.flex.align.end">
            <jnt-button text="Save"
                        [size]="ui.sizes.small"
                        [type]="ui.form.button.type.submit"></jnt-button>
        </jnt-stack>
    </ng-template>
</jnt-form>
