@import "~junte-ui/lib/assets/styles/variables";

form {
  position: relative;
}

header {
  margin-bottom: $gutter-small;
  [title] {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: normal;
    border: none;
    box-sizing: border-box;
    outline: none;
    height: 1.4em;
    line-height: 1.1em;
    overflow: hidden;
    background-color: transparent;
    white-space: nowrap;
    width: 100%;
    font-size: 1em;
    &:focus {
      color: black;
    }
  }
}

[api] {
  cursor: pointer;
}

[summary] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid $secondary-color;
}

[story] {
  display: flex;
}
