<form [formGroup]="form">
  <header (mouseenter)="manager.mode ==  editMode.edit ? mode = editMode.edit : null"
          (mouseleave)="mode = editMode.view">
    <ng-container *ngIf="mode == editMode.edit; else viewHeader">
      <input name formControlName="name">
    </ng-container>
  </header>

  <ng-template #viewHeader>
    <h1 name>{{actor.name}}</h1>
  </ng-template>
  <h3>As <b>{{actor.name}}</b> I want:</h3>

  <ul data-epics>
    <li *ngFor="let group of (actor.features | groupFeaturesByEpic:version); trackBy: trackFeature">
      <h4>
        <span>{{group.epic?.title}}</span>
      </h4>
      <ul [attr.selected]="!!selected">
        <li [attr.opened]="selected === feature.id"
            *ngFor="let feature of group.features; trackBy: trackFeature" cdkDropList
            cdkDropListConnectedTo="epics" [id]="'feature-' + feature.id"
            (cdkDropListDropped)="onDropEpic(feature, $event)">
          <jnt-button *ngIf="manager.mode ==  editMode.edit"
                      [icon]="ui.icons.edit"
                      [size]="ui.sizes.tiny"
                      [scheme]="ui.schemes.secondary"
                      (click)="router.navigate([actor.id, 'features', feature.id], {relativeTo: route})">
          </jnt-button>
          <spec-feature feature [attr.id]="feature.id" [feature]="feature"></spec-feature>
          <jnt-button *ngIf="manager.mode ==  editMode.edit"
                      [icon]="ui.icons.delete"
                      [size]="ui.sizes.tiny"
                      [scheme]="ui.schemes.secondary"
                      [jntPopover]="{contentTemplate: deleteTemplate, trigger: ui.popover.trigger.click}">
          </jnt-button>
          <ng-template #deleteTemplate>
            <jnt-confirm message="Are you sure to delete the feature?" (cancel)="popover.hide()"
                         (ok)="deleteFeature(feature.id);popover.hide()"></jnt-confirm>
          </ng-template>
        </li>
      </ul>
    </li>
    <li *ngIf="manager.mode == editMode.edit">
      <jnt-button [icon]="ui.icons.plus" [size]="ui.sizes.tiny"
                  [scheme]="ui.schemes.secondary"
                  (click)="addFeature()">
      </jnt-button>
    </li>
  </ul>
</form>
