<form [formGroup]="form">
    <header (mouseenter)="manager.mode ==  editMode.edit ? mode = editMode.edit : null"
            (mouseleave)="mode = editMode.view">
        <ng-container *ngIf="mode == editMode.edit; else viewHeader">
            <input name formControlName="name">
        </ng-container>
    </header>

    <ng-template #viewHeader>
        <h1 name>{{actor.name}}</h1>
    </ng-template>
    <h3>As <b>{{actor.name}}</b> I want:</h3>

    <ul>
        <li *ngFor="let group of (actor.features | groupFeaturesByEpic:version); trackBy: trackFeature">
            <h4>
                <span>{{group.epic?.title}}</span>
            </h4>
            <ul [attr.selected]="!!selected">
                <li [attr.opened]="selected === feature.id"
                    *ngFor="let feature of group.features; trackBy: trackFeature" cdkDropList
                    cdkDropListConnectedTo="epics" [id]="'feature-' + feature.id"
                    (cdkDropListDropped)="onDropEpic(feature, $event)">
                    <jnt-stack *ngIf="manager.mode ==  editMode.edit" actions
                               [gutter]="ui.gutter.tiny">
                        <jnt-button [icon]="ui.icons.delete"
                                    [size]="ui.sizes.tiny"
                                    [scheme]="ui.schemes.secondary"
                                    (click)="deleteFeature(feature.id)">
                        </jnt-button>
                    </jnt-stack>
                    <spec-feature [feature]="feature"
                                  (selected)="router.navigate([selected == feature.id ? {} : {feature: feature.id}], {relativeTo: route})"
                                  [opened]="selected === feature.id"
                                  feature>
                    </spec-feature>
                </li>
            </ul>
        </li>
        <li *ngIf="manager.mode == editMode.edit">
            <jnt-button [icon]="ui.icons.plus" [size]="ui.sizes.tiny"
                        [scheme]="ui.schemes.secondary"
                        (click)="addFeature()">
            </jnt-button>
        </li>
    </ul>
</form>
