@import "../../../../../../node_modules/junte-ui/lib/assets/styles/variables";

:host {
  display: block;
}

form {
  position: relative;
}

header {
  [name] {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: normal;
    border: none;
    box-sizing: border-box;
    outline: none;
    height: 1.4em;
    line-height: 1.1em;
    overflow: hidden;
    background-color: transparent;
    white-space: nowrap;
    width: 100%;
    font-size: 2em;

    &:focus {
      color: black;
    }
  }
}

h3 {
  font-size: $font-size-base;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    &:not(:last-child) {
      margin-bottom: $gutter-normal;
    }

    position: relative;

    h4 {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      font-size: $font-size-base;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        white-space: nowrap;
      }
    }

    ul {
      list-style: none;
      margin: 0 0 0 $gutter-normal;
      padding: 0 0 0 $gutter-small;
      display: flex;
      flex-direction: column;
      border-left: 2px solid $primary-light-color;

      li {
        display: flex;
        align-items: flex-start;
        background-color: $white-color;
        padding: $gutter-small;
        box-sizing: border-box;
        margin-right: $gutter-normal;
        border: 1px solid $secondary-color;
        border-radius: 10px;

        [actions] {
          opacity: .1;
          margin: 0 $gutter-small 0 0;

          &:hover {
            opacity: 1;
            transition: .25s opacity;
          }
        }

        &:not(:last-child) {
          margin-bottom: $gutter-normal;
        }

        [feature] {
          width: 100%;
        }
      }
    }
  }
}
