<jnt-app-content>
  <jnt-app-body>
    <jnt-container>
      <jnt-app-page-header [icon]="localUi.icons.general"
                           title="Your projects"
                           teaser="for creating specifications">
        <ng-template #headerActionsTemplate>
            <jnt-button text="Add project"
                        [icon]="ui.icons.add"
                        [shape]="ui.shape.circle"
                        (click)="add()">
            </jnt-button>
        </ng-template>
      </jnt-app-page-header>

      <jnt-stack [align]="ui.align.stretch">

        <ng-template #noDataTemplate>
          <jnt-row>
            <jnt-col [mobile]="6" [tablet]="3" *ngFor="let i of 8 | mockArray">
              <jnt-skeleton [type]="ui.skeleton.type.card"
                            [animated]="progress.loading"></jnt-skeleton>
            </jnt-col>
          </jnt-row>
        </ng-template>

        <ng-container *ngIf="projects.length > 0; else noDataTemplate">
          <jnt-row>
            <jnt-col [mobile]="6" [tablet]="3"
                     *ngFor="let project of projects; trackBy: trackProject;let i = index">
              <jnt-card [width]="ui.width.fluid">
                <jnt-stack [gutter]="ui.gutter.tiny">
                  <jnt-link [source]="[project.id]"
                            [icon]="project.isPublic ? localUi.icons.public : null"
                            [title]="project.title"></jnt-link>
                  <span *ngIf="!!project.description">{{project.description}}</span>
                </jnt-stack>
                <ng-template #cardActionsTemplate let-hide="hide">
                  <jnt-menu [orientation]="ui.orientation.vertical">
                    <jnt-menu-item [icon]="ui.icons.edit"
                                   title="Edit"
                                   (click)="edit(project, i);hide()">
                    </jnt-menu-item>
                    <jnt-menu-item [icon]="ui.icons.delete"
                                   title="Delete"
                                   [loading]="progress.deleting"
                                   (click)="delete(project.id, hide)">
                    </jnt-menu-item>
                  </jnt-menu>
                </ng-template>
              </jnt-card>
            </jnt-col>
          </jnt-row>
        </ng-container>
      </jnt-stack>
    </jnt-container>
  </jnt-app-body>
</jnt-app-content>
