<jnt-app-content>
  <jnt-app-body>
    <jnt-container>
      <jnt-app-page-header [icon]="localUi.icons.project"
                           title="Your projects"
                           i18n-title="@@label.your_projects"
                           teaser="for creating specifications"
                           i18n-teaser="@@message.projects_teaser">
        <ng-template #headerActionsTemplate>
          <jnt-button text="Add project"
                      i18n-text="@@action.add_project"
                      [icon]="ui.icons.add"
                      [shape]="ui.shape.circle"
                      (click)="add()">
          </jnt-button>
        </ng-template>
      </jnt-app-page-header>

      <jnt-stack [align]="ui.align.stretch">
        <ng-template #noDataTemplate>
          <jnt-row *ngIf="progress.loading;else emptyDateTemplate">
            <jnt-col [mobile]="6" [tablet]="3" *ngFor="let i of 8 | mockArray">
              <jnt-skeleton [type]="ui.skeleton.type.card"></jnt-skeleton>
            </jnt-col>
          </jnt-row>

          <ng-template #emptyDateTemplate>
            <jnt-empty message="No projects yet">
              <ng-template #emptyDescriptionTemplate>
                <jnt-stack [orientation]="ui.orientation.horizontal"
                           [align]="ui.align.center">
                  <jnt-button text="Add" [icon]="ui.icons.add" (click)="add()"></jnt-button>
                  <p>your first project now!</p>
                </jnt-stack>
              </ng-template>
            </jnt-empty>
          </ng-template>
        </ng-template>

        <ng-container *ngIf="projects.length > 0; else noDataTemplate">
          <jnt-row>
            <jnt-col [mobile]="6" [tablet]="3"
                     *ngFor="let project of projects; trackBy: trackProject;let i = index">
              <ng-template #cardPictureTemplate>
                <jnt-picture height="100px"
                             [src]="project.emblem?.url || 'assets/images/project-emblem.svg'"></jnt-picture>
              </ng-template>
              <jnt-card [width]="ui.width.fluid"
                        [orientation]="ui.orientation.vertical"
                        [picture]="{template: cardPictureTemplate}">
                <jnt-stack [gutter]="ui.gutter.tiny">
                  <jnt-link [source]="[project.id]"
                            [icon]="project.isPublic ? localUi.icons.public : null"
                            [title]="project.title"></jnt-link>
                  <span *ngIf="!!project.description">{{project.description}}</span>
                </jnt-stack>
                <ng-template #cardActionsTemplate let-hide="hide">
                  <jnt-menu [orientation]="ui.orientation.vertical">
                    <jnt-menu-item [icon]="ui.icons.edit"
                                   title="Edit"
                                   i18n-title="@@action.edit"
                                   (click)="edit(project, i);hide()">
                    </jnt-menu-item>
                    <jnt-menu-item [icon]="ui.icons.delete"
                                   title="Delete"
                                   i18n-title="@@action.delete"
                                   [loading]="progress.deleting"
                                   (click)="delete(project.id, hide)">
                    </jnt-menu-item>
                  </jnt-menu>
                </ng-template>
              </jnt-card>
            </jnt-col>
          </jnt-row>
        </ng-container>
      </jnt-stack>
    </jnt-container>
  </jnt-app-body>
</jnt-app-content>
