<ng-container *ngIf="space">
    <ul class="unstyled">
        <jnt-stack>
            <ng-container *ngFor="let actor of space.actors">
                <h1>{{actor.name}}</h1>
                <jnt-block>
                    <ol>
                        <li *ngFor="let feature of actor.features">
                            <app-feature [feature]="feature"></app-feature>
                        </li>
                    </ol>
                </jnt-block>
            </ng-container>
        </jnt-stack>
    </ul>
</ng-container>
