<ng-template #reviewTemplate let-name="name" let-avatar="avatar" let-position="position" let-text="text">

</ng-template>
<jnt-row [align]="ui.align.stretch"
         [gutter]="ui.gutter.big"
         [spacing]="ui.gutter.huge">
  <jnt-col *ngFor="let r of reviews" [tablet]="6">
    <jnt-card data-review [width]="ui.width.fluid" [padding]="ui.gutter.large">
      <jnt-stack data-text [align]="ui.align.center">
        <jnt-icon [icon]="localUi.icons.quote"></jnt-icon>
        <p>{{r.text}}</p>
      </jnt-stack>
      <ng-template #cardFooterTemplate>
        <jnt-stack [orientation]="ui.orientation.horizontal"
                   [gutter]="ui.gutter.small"
                   [align]="ui.align.center">
          <jnt-avatar [image]="r.avatar"
                      [size]="ui.size.small"></jnt-avatar>
          <div data-person>
            <div>{{r.name}}</div>
            <div>{{r.position}}</div>
          </div>
        </jnt-stack>
      </ng-template>
    </jnt-card>
  </jnt-col>
</jnt-row>
