<jnt-app-content>
  <jnt-app-body>
    <jnt-container>
      <router-outlet></router-outlet>
    </jnt-container>
  </jnt-app-body>
  <jnt-app-footer>
    <jnt-stack [orientation]="ui.orientation.horizontal"
               [gutter]="ui.gutter.small"
               [align]="ui.align.end">
      <jnt-icon [icon]="ui.icons.junte"></jnt-icon>
      <jnt-link title="Junte Team 2016 – 2021"
                [target]="ui.target.blank"
                source="//junte.team"></jnt-link>
    </jnt-stack>
    <jnt-menu [spacing]="ui.gutter.normal">
      <jnt-menu-item title="Agreement"
                     i18n-title="@@action.agreement"
                     [link]="['/agreement']"></jnt-menu-item>
      <jnt-menu-item title="Policy"
                     i18n-title="@@action.policy"
                     [link]="['/policy']"></jnt-menu-item>
      <jnt-menu-item title="Security"
                     i18n-title="@@action.security"
                     [link]="['/security']"></jnt-menu-item>
      <jnt-menu-item title="Contacts"
                     i18n-title="@@action.contacts"
                     [link]="['/contacts']"></jnt-menu-item>
      <jnt-menu-item title="Support"
                     i18n-title="@@action.support"
                     [link]="['/support']"></jnt-menu-item>
    </jnt-menu>
  </jnt-app-footer>
</jnt-app-content>

