<jnt-app-content>
  <jnt-app-body>
    <jnt-container>
      <router-outlet></router-outlet>
    </jnt-container>
  </jnt-app-body>
  <jnt-app-footer>
    <jnt-menu [spacing]="ui.gutter.small">
      <jnt-menu-item title="Contacts"
                     i18n-title="@@label.contacts"
                     [link]="['/contacts']"></jnt-menu-item>
      <jnt-menu-item title="Agreement"
                     i18n-title="@@label.agreement"
                     [link]="['/agreement']"></jnt-menu-item>
      <jnt-menu-item title="Policy"
                     i18n-title="@@label.policy"
                     [link]="['/policy']"></jnt-menu-item>
      <jnt-menu-item title="Security"
                     i18n-title="@@label.security"
                     [link]="['/security']"></jnt-menu-item>
    </jnt-menu>
  </jnt-app-footer>
</jnt-app-content>

