@import 'src/variables';
@import "../../common";
@import "../animation";

img {
  position: absolute;

  &[data-rock] {
    bottom: 0;
    left: 0;
  }

  &[data-manager] {
    bottom: 0;
    right: 0;
  }
}

[data-feature-1] {
  top: 185px;
  left: -240px;
}

[data-feature-2] {
  top: 240px;
  left: -200px;
}
