<jnt-container>

  <jnt-app-page-header title="Договор обработки рекурентных платежей"
                       teaser="подписки на сервис"
                       [icon]="localUi.icons.agreement"></jnt-app-page-header>

  <p>ИП Бреславский Антон Вадимович, далее именуемый Получатель предлагает в порядке ст. 435 ГК РФ физическим лицам
    принять данную Оферту о предоставлении услуги «Автоматический платеж» на нижеследующих условиях.</p>

  <p>Договор считается заключенным и приобретает силу с момента совершения физическим лицом действий, предусмотренных
    Офертой и означающих безоговорочное принятие физическим лицом всех условий Оферты без каких-либо изъятий или
    ограничений на условиях присоединения.</p>

  <h1>Термины и определения</h1>

  <p><b>Процессор</b> – АО «Тинькофф Банк» БИК:044525974 К/с: 30101810145250000974</p>

  <p><b>Банк</b> – кредитная организация – АО «Тинькофф Банк» БИК: 044525974 К/с: 30101810145250000974</p>

  <p><b>Банк-эмитент</b> – кредитная организация, осуществляющая деятельность по выпуску и/или выдаче банковских карт
    Плательщикам на основании заключенного договора.</p>

  <p><b>Платежная карта, Карта</b> – платежный инструмент, представляющий собой форму безналичных расчетов,
    предназначенную для
    совершения Плательщиком операций с денежными средствами, находящимися у Банка-эмитента, в соответствии с договором,
    заключенным между Банком-эмитентом и Плательщиком.</p>

  <p><b>Международные платежные системы (МПС)</b> – международные платежные системы «VISA International», «MasterCard
    Worldwide», национальная платёжная система «МИР».</p>

  <p><b>Личный кабинет</b> – специализированный раздел в сети Интернет, защищенный специальными средствами защиты и
    содержащий
    данные Плательщика, а также иную информацию.</p>

  <p><b>Акцепт платежного требования</b> – согласие, данное Пользователем на совершение Перевода Процессором в пользу
    Получателя на основании его требования об оплате, предъявленное Процессору.</p>

  <p><b>Плательщик</b> – физическое лицо, заключившее с Банкомэмитентом, Процессором и Получателем договоры,
    обратившееся к
    Получателю для получения Услуги.</p>

  <p><b>Получатель</b> – юридическое лицо, индивидуальный предприниматель, физическое лицо, занимающееся в установленном
    законодательством порядке частной практикой, заключившее Договор с Плательщиком о предоставлении товаров, работ,
    услуг и с Процессором о переводах без открытия банковских счетов осуществлении информационно-технического
    взаимодействия, предоставляющее Плательщику Услугу.</p>

  <p><b>Перевод</b> – операция по безналичному перечислению денежных средств с Платежной карты Плательщика,
    осуществляемая
    Процессором в пользу Получателя.</p>

  <p><b>Услуга автоматического платежа, Услуга, Автоматический платеж, Рекуррентный платеж, Платежи по подписке,
    Автоплатеж</b>
    – услуга, предоставляемая Плательщику в рамках настоящего Договора, направленная на предоставление Получателю
    возможности производить автоматическое получение денежных средств с Платежной карты Плательщика за товары, работу,
    услуги Получателя.</p>

  <p><b>Сайт</b> – сайт в сети Интернет, содержащий информацию о Получателе, его деятельности, размещенный по адресу:
    <a href="https://www.specprojector.com/">https://www.specprojector.com/</a></p>

  <p>Термины, не перечисленные в данном Договоре, используются в общепринятом значении.</p>

  <ol>
    <li>
      <h1>ОПИСАНИЕ УСЛУГИ</h1>
      <ol>
        <li>В рамках Услуги Плательщик использует для оплаты Платежную карту и дает свое согласие Получателю на
          предъявление Процессору требований о периодическом списании денежных средств с его Платежной карты с учетом
          условий, предусмотренных настоящим Договором.
        </li>
        <li>Все расчеты по Платежной карте проводятся в валюте РФ.</li>
      </ol>
    </li>
    <li>
      <h1>ИСПОЛЬЗОВАНИЕ УСЛУГИ</h1>
      <ol>
        <li>Плательщик производит акцепт условий настоящего Договора путем оплаты одного из платных тарифов сервиса.
        </li>
        <li>Принимая условия настоящего Договора, Плательщик дает свое согласие на направление Получателем Процессору
          платежных требований на списание денежных средств с Платежной карты на условиях заранее данного акцепта с
          учетом условий Услуги, установленных настоящим Договором, а именно:
          <ul>
            <li>Средства списываются в оплату за использование сервиса в соответствии с лицензионным соглашением,
              опубликованном по адресу: <a href="//www.specprojector.com/agreement">https://www.specprojector.com/agreement</a>
              между ИП Бреславский Антон Вадимович и Покупателем.
            </li>
            <li>Оплата производятся в соответствии с графиком платежей и публикуется на странице текущей подписки на
              сервис <a href="//www.specprojector.com/subscription">
                https://www.specprojector.com/subscription</a>
            </li>
            <li>Размер Перевода не более 10 000 руб. и не менее 500 руб. – устанавливается в соответствии с выбранным
              тарифным планом.
            </li>
            <li>Интервалы последовательных списаний: новое платёжное требование может быть направлено не ранее, чем
              через 10 дней после последнего успешного перевода.
            </li>
          </ul>
        </li>
        <li>Разрешение, указанное в п. 2.2 дается Плательщиком сроком на 12 (Двенадцать) месяцев и вступает в силу с
          момента принятия Плательщиком настоящего Договора на сайте Получателя.
        </li>
        <li>Акцепт первого после подключения Услуги платежного требования Получателя дается Процессору на платежной
          странице (платежной форме), путем нажатия кнопки «Оплатить». Последующие требования Получателя не акцептуются
          Плательщиком и оплачиваются Процессором в пользу Получателя на условиях заранее данного акцепта.
        </li>
        <li>При подключении Услуги Плательщик вводит данные Платежной карты, с которой будет производиться списание.
        </li>
        <li>Плательщик дает согласие на проверку сведений о Платежной карте (иных персональных данных), указываемых при
          подключении Услуги, Получателю, Процессору и/или с помощью третьих лиц.
        </li>
        <li>В случае успешного прохождения проверки, Плательщику подключается Услуга, после чего Плательщик может
          воспользоваться Услугой.
        </li>
        <li>Процессор на основании платежного требования Получателя и полученного акцепта Плательщика осуществляет
          перевод денежных средств с Платежной карты без открытия счетов в пользу Получателя.
        </li>
        <li>Плательщик признает действия Процессора по Переводу денежных средств с Платежной карты в пользу Получателя
          по подключенной Услуге как выполненные с его согласия.
        </li>
        <li>В случае недостаточности денежных средств на Платежной карте, Перевод не совершается.</li>
      </ol>
    </li>
    <li>
      <h1>ПРАВА И ОБЯЗАННОСТИ</h1>
      <ol>
        <li>
          <h2>Плательщик обязан</h2>
          <ol>
            <li>Соблюдать условия настоящего Договора;</li>
            <li>Обеспечить и гарантировать собственноручное подключение к Услуге;</li>
            <li>Указывать только достоверные данные при подключении и использовании Услуги;</li>
            <li>Использовать только собственную Платежную карту. В случае замены/утраты Платежной карты, незамедлительно
              уведомить Получателя с целью прекращения оказания Услуги;
            </li>
            <li>При использовании Услуги не передавать третьим лицам конфиденциальную информацию, влекущую получение
              доступа к Услуге со стороны третьих лиц (логин, пароль, номер Платежной карты, иная информация);
            </li>
            <li>Уведомлять Получателя за 3 (три) рабочих дня о прекращении действия разрешения на предъявление
              требований Процессору о периодическом списании денежных средств, путем направления извещения на e–mail,
              почту или форму обратной связи на сайте Получателя.
            </li>
          </ol>
        </li>
        <li>
          <h2>Получатель обязан</h2>
          <ol>
            <li>Соблюдать условия настоящего Договора;</li>
            <li>Обеспечить бесперебойную работу Сайта;</li>
            <li>Предоставить Плательщику полную информацию обо всех списаниях, комиссиях, условиях доставки товара или
              предоставления услуги;
            </li>
            <li>
              Направлять Платежное требование Процессору после проверки его соответствия лимитам, указанным в п. 2.2
              настоящей Оферты, и должно содержать:
              <ul>
                <li>Наименование Получателя или его идентификационные признаки;</li>
                <li>Идентификационные данные Плательщика;</li>
                <li>Условия регулярной услуги, перечисленные в п. 2.2 настоящего Договора.</li>
              </ul>
            </li>
          </ol>
        </li>
        <li>
          <h2>Получатель вправе:</h2>
          <ol>
            <li>Прекратить действие настоящего Договора в любое время в одностороннем внесудебном порядке с
              предварительным уведомлением Плательщика за 3 (три) рабочих дня.
            </li>
            <li>Отказать или приостановить предоставление Услуги в случае:
              <ul>
                <li>если Получателем не соблюдается процедура подключения Услуги;</li>
                <li>в случае непринятия Плательщиком настоящего Договора;</li>
                <li>в случае неполучения информации об успешно проведенной проверке данных Платежной карты;</li>
                <li>в случае получения отказа в проведении операций по Платежной карте от Процессора;</li>
                <li>в случае указания Плательщиком неверных (недостоверных) персональных данных, данных Платежной
                  карты;
                </li>
                <li>при наличии обоснованных письменных обращений настоящего владельца Платежной карты о факте
                  неправомерного использования Платежной карты, несанкционированного доступа к Карте.
                </li>
              </ul>
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>
      <h1>ПОРЯДОК ОТКЛЮЧЕНИЯ УСЛУГИ</h1>
      <ol>
        <li>Пользователь может отказаться от Автоматических платежей на сайте Получателя в личном кабинете.</li>
        <li>Услуга может быть отключена Получателем в случае неисполнения Плательщиком условий настоящего Договора, а
          также в случае отказа Процессора от совершения Перевода денежных средств Плательщика в пользу Получателя.
        </li>
        <li>Услуга может быть отключена в связи с истечением срока действия акцепта, указанного в п. 2.3 настоящего
          Договора. Продление срока акцепта осуществляется на основании заявления Плательщика.
        </li>
      </ol>
    </li>
    <li>
      <h1>ОТВЕТСТВЕННОСТЬ</h1>
      <ol>
        <li>Плательщик принимает меры для обеспечения конфиденциальности информации и данных о Плательщике, вносимых им
          на сайте Получателя.
        </li>
        <li>Получатель не несет ответственность за ущерб, возникший вследствие неисполнения Плательщиком обязательств,
          предусмотренных п. 3.1 настоящего Договора.
        </li>
        <li>Вопросы ответственности Получателя и Процессора, а так же Плательщика и Процессора предусмотрены отдельными
          договорами, заключенными между ними.
        </li>
        <li>Получатель не несет ответственность за временную неработоспособность Сайта, вызванную не зависящими от
          Получателя причинам.
        </li>
        <li>Стороны не несут ответственность за неисполнение/ ненадлежащее исполнение обязательств, вызванное
          обстоятельствами непреодолимой силы.
        </li>
        <li>О возникновении данных обстоятельств стороны обязаны уведомить друг друга в течение 3 (Трех) календарных
          дней с даты их возникновения.
        </li>
      </ol>
    </li>
    <li>
      <h1>РЕКВИЗИТЫ ПОЛУЧАТЕЛЯ</h1>
      <p>
        <b>ИП Бреславский Антон Вадимович</b><br>
        153000, Ивановская обл., г. Иваново, ул. Смирнова, д. 83, оф. 11<br>
        ИНН: 370200463337 | ОГРНИП: 316370200083752<br>
        Расчетный счет 40802810670010011804 в МОСКОВСКИЙ ФИЛИАЛ АО КБ «МОДУЛЬБАНК» г. Москва, БИК: 044525092
      </p>
    </li>
    <li>
      <h1>ИНФОРМАЦИЯ О ПРОЦЕССОРЕ</h1>
      <p>АО «Тинькофф Банк» БИК:044525974 К/с: 30101810145250000974</p>
    </li>
  </ol>

  <p>ПРАВА И ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЯ И Поставщика, ВЫТЕКАЮЩИЕ ИЗ НАСТОЯЩЕЙ ОФЕРТЫ, НЕ МОГУТ БЫТЬ ПЕРЕДАНЫ ТРЕТЬИМ ЛИЦАМ
    БЕЗ ПИСЬМЕННОГО СОГЛАСИЯ ДРУГОЙ СТОРОНЫ.</p>

  <p>Я, ПОЛЬЗОВАТЕЛЬ, ОЗНАКОМЛЕН И СОГЛАСЕН С НАСТОЯЩИМ СОГЛАШЕНИЕМ ИСПОЛЬЗОВАНИЯ СЕРВИСА «РЕКУРРЕНТНЫЕ ПЛАТЕЖИ», С
    АВТОМАТИЧЕСКИМ СПИСАНИЕМ ДЕНЕЖНЫХ СРЕДСТВ С БАНКОВСКОЙ КАРТЫ ЗА УСЛУГИ ПОСТАВЩИКА ПО ДОГОВОРУ.</p>

  <p>Обращения по вопросам условий настоящего Соглашения и Технической поддержки принимаются по адресу электронной
    почты
    <jnt-link title="sp@junte.ru" source="mailto:sp@junte.ru"></jnt-link>
  </p>
</jnt-container>
