<jnt-container>

  <jnt-app-page-header title="Договор обработки рекурентных платежей"
                       teaser="подписки на сервис"
                       [icon]="localUi.icons.agreement"></jnt-app-page-header>

  <p>ИП Бреславский Антон Вадимович, далее именуемый Получатель предлагает в порядке ст. 435 ГК РФ физическим лицам
    принять данную Оферту о предоставлении услуги «Автоматический платеж» на нижеследующих условиях.</p>

  <p>Обращения по вопросам условий настоящего Соглашения и Технической поддержки принимаются по адресу электронной
    почты
    <jnt-link title="sp@junte.ru" source="mailto:sp@junte.ru"></jnt-link>
  </p>
</jnt-container>
