<form [formGroup]="form">
  <header (mouseenter)="manager.mode ==  editMode.edit ? mode = editMode.edit : null"
          (mouseleave)="mode = editMode.view">
    <ng-container *ngIf="mode == editMode.edit; else viewHeader">
      <input data-title formControlName="title">
      <div data-auto-name>
        <label [attr.checked]="autoNameControl.value">
          <input type="checkbox" formControlName="autoName">
        </label>
        <input data-name formControlName="name">
      </div>
    </ng-container>
  </header>

  <ng-template #viewHeader>
    <h1 data-title>{{entity.title}}</h1>
    <div data-auto-name>
      <label [attr.checked]="autoNameControl.value">
      </label>
      <h2 data-name>{{entity.name}}</h2>
    </div>
  </ng-template>

  <ul *ngIf="entity.fields.length > 0">
    <li *ngFor="let f of entity.fields">
      {{f.title}}
    </li>
  </ul>

</form>
