@import "~junte-ui/lib/assets/styles/variables";

[app-body] {
  padding-left: $gutter-normal;

  ul {
    list-style: none;
    margin: 0;
    padding: $gutter-normal 0 0 0;

    [field] {
      display: flex;
      align-items: flex-start;
      background-color: $white-color;
      box-shadow: $shadow-primary;
      width: 100%;
      padding: $gutter-small $gutter-normal;
      box-sizing: border-box;
      border-radius: 10px;

      &:not(:last-child) {
        margin-bottom: $gutter-small;
      }

      [stack] {
        width: 100%;
      }
    }

  }

}
