<jnt-app-layout #layout>
    <jnt-app-header>
        <ng-template #logo>
            <img src="/assets/images/logo-light.svg">
        </ng-template>
        <ng-container>
            <ng-template #topMenu>
                <jnt-menu>
                    <jnt-menu-item [link]="['/projects']" title="Projects"></jnt-menu-item>
                    <jnt-menu-item [link]="['/marketplace']" title="Marketplace"></jnt-menu-item>
                </jnt-menu>
            </ng-template>
            <ng-template #userbar>
                <jnt-userbar>
                    <ng-template #avatar>
                        <jnt-icon icon="user"></jnt-icon>
                    </ng-template>
                    <ng-template #userMenu>
                        <jnt-user-menu [type]="ui.orientation.vertical" [spacer]="ui.sizes.small">
                            <jnt-button (click)="logout()" text="Logout"></jnt-button>
                        </jnt-user-menu>
                    </ng-template>
                </jnt-userbar>
            </ng-template>
        </ng-container>
    </jnt-app-header>
    <jnt-app-content>
        <jnt-app-body app-body>
            <jnt-stack projects>
                <jnt-button [icon]="ui.icons.plus" (click)="edit()"></jnt-button>

                <ng-template #skeleton>
                    <jnt-stack [align]="ui.flex.align.stretch" list>
                        <jnt-block *ngFor="let i of 5 | mockArray" [padding]="ui.padding.normal">
                            <jnt-skeleton [lines]="1"></jnt-skeleton>
                        </jnt-block>
                    </jnt-stack>
                </ng-template>
                <ng-container *ngIf="!loading else skeleton">
                    <jnt-stack [align]="ui.flex.align.stretch" list>
                        <jnt-block *ngFor="let project of projects; trackBy: trackProject"
                                   [padding]="ui.padding.normal">
                            <jnt-stack [type]="ui.stack.type.horizontal" [justify]="ui.flex.justify.between"
                                       [align]="ui.flex.align.center">
                                <jnt-link [source]="[project.id]" [title]="project.title"></jnt-link>
                                <jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.gutter.tiny">
                                    <jnt-button [icon]="ui.icons.edit"
                                                [size]="ui.sizes.tiny"
                                                [scheme]="ui.schemes.secondary"
                                                (click)="edit(project)">
                                    </jnt-button>
                                    <jnt-button [icon]="ui.icons.delete"
                                                [size]="ui.sizes.tiny"
                                                [scheme]="ui.schemes.secondary"
                                                (click)="delete(project.id)">
                                    </jnt-button>
                                </jnt-stack>
                            </jnt-stack>
                        </jnt-block>
                    </jnt-stack>
                </ng-container>
            </jnt-stack>
        </jnt-app-body>
    </jnt-app-content>
</jnt-app-layout>
