<jnt-app-content>
    <jnt-app-body app-body>
        <jnt-stack projects>
            <jnt-button [icon]="ui.icons.plus" (click)="create()"></jnt-button>

            <ng-template #skeleton>
                <jnt-stack [align]="ui.flex.align.stretch" list>
                    <jnt-block *ngFor="let i of 5 | mockArray" [padding]="ui.padding.normal">
                        <jnt-skeleton [lines]="1"></jnt-skeleton>
                    </jnt-block>
                </jnt-stack>
            </ng-template>
            <ng-container *ngIf="!loading else skeleton">
                <jnt-stack [align]="ui.flex.align.stretch" list>
                    <jnt-block *ngFor="let project of projects; trackBy: trackProject"
                               [padding]="ui.padding.normal">
                        <jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.stack.gutter.tiny"
                                   [justify]="ui.flex.justify.between" [align]="ui.flex.align.center">
                            <jnt-link [source]="[project.id]">{{project.title}}</jnt-link>
                            <jnt-button [icon]="ui.icons.delete"
                                        [size]="ui.sizes.tiny"
                                        [scheme]="ui.schemes.secondary"
                                        (click)="delete(project.id)">
                            </jnt-button>
                        </jnt-stack>
                    </jnt-block>
                </jnt-stack>
            </ng-container>
        </jnt-stack>
    </jnt-app-body>
</jnt-app-content>
