<ng-container *ngIf="sprint">
    <h1>{{sprint.title}}</h1>
    <h2 i18n="@@label.features">Features</h2>
    <jnt-stack>
        <ng-container *ngFor="let group of (sprint.features | groupFeaturesByEpic)">
            <h3>{{group.epic?.title}}</h3>
            <jnt-block>

                <ol>
                    <li *ngFor="let feature of group.features">
                        <small>{{feature.actor?.name}}</small>
                        <spec-feature [feature]="feature"></spec-feature>
                    </li>
                </ol>
            </jnt-block>
        </ng-container>
    </jnt-stack>

    <ng-container *ngIf="sprint.improvements.length">
        <h2 i18n="@@label.improvements">Improvements</h2>
        <ol improvements>
            <li *ngFor="let improvement of sprint.improvements">
                <jnt-stack [orientation]="ui.orientation.horizontal">
                    <spec-tokens [tokens]="improvement.title"></spec-tokens>

                </jnt-stack>
                <small>{{improvement.feature.actor?.name}}</small>
                <spec-feature [feature]="improvement.feature"></spec-feature>
            </li>
        </ol>
    </ng-container>
</ng-container>
