<h3 [@fade-move]><span>Client wants</span></h3>
<div data-frame>
  <img data-rock [@scale] src="assets/images/lp/rock.svg">
  <img data-client [@move]="{value: '', params: {distance: '315px, 0, 0', stateEnd: '315px, 0'}}"
       src="assets/images/lp/client.svg">
  <img data-flowers [@scale] src="assets/images/lp/flowers.svg">
  <img data-think [@scale] src="assets/images/lp/think.svg">
  <img data-bulb [@scale] src="assets/images/lp/bulb.svg">
</div>
<div data-feature-1 [@moveList]>Product catalog</div>
<div data-feature-2 [@moveList]>Product details</div>
<div data-feature-3 [@moveList]>Add product to card</div>
<div data-feature-4 [@moveList] (@moveList.done)="done.emit()">Play an order</div>

