@import 'src/variables';
@import "../../common";
@import "../animation";

img {
  position: absolute;

  &[data-rock] {
    bottom: 0;
    left: 0;
  }

  &[data-client] {
    bottom: 0;
    left: -100%;
  }

  &[data-flowers] {
    bottom: 20px;
    right: 15px;
    transform-origin: bottom;
  }

  &[data-think] {
    top: 80px;
    right: 70px;
    transform-origin: bottom;
  }

  &[data-bulb] {
    top: 10px;
    left: 20px;
  }
}

[data-feature-1] {
  top: 130px;
  right: -200px;
}

[data-feature-2] {
  top: 185px;
  right: -240px;
}

[data-feature-3] {
  top: 240px;
  right: -280px;
}

[data-feature-4] {
  top: 295px;
  right: -320px;
}
