@import "../../../node_modules/junte-ui/lib/assets/styles/variables";

button {
  display: flex;
  vertical-align: middle;
  background: $secondary-color;
  border: 1px solid black;
  padding: $gutter-small;
  cursor: pointer;
  border-radius: 3px;
}

[api] {
  cursor: pointer;
}

[summary] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid $secondary-color;
}

[story] {
  display: flex;
}