@import "src/variables";

:host {
  display: block;
}

form {
  position: relative;
}

header {
  [data-title], [data-name] {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: normal;
    border: none;
    box-sizing: border-box;
    outline: none;
    line-height: 1.2em;
    overflow: hidden;
    background-color: transparent;
    white-space: nowrap;
    width: 100%;

    &:focus {
      color: black;
    }
  }

  [data-title] {
    font-size: 2em;
  }

  [data-auto-name] {
    display: flex;
    align-items: center;

    label {
      display: block;
      cursor: pointer;
      border: 1px solid silver;
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;
      margin-right: $jnt-gutter-tiny;
      position: relative;
      z-index: 1;

      input[type='checkbox'] {
        visibility: collapse;
      }

      &[checked='true'] {
        background: silver;
      }
    }

    [data-name] {
      flex: 1;
      color: silver;
      font-size: .85em;
      line-height: 2em;
    }
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;

  li {
    border: 1px solid $jnt-muted-color;
    border-radius: 5px;
    margin-top: $jnt-gutter-small;
    margin-right: $jnt-gutter-small;
    padding: 0 5px;
    background-color: $jnt-secondary-color;
  }
}
