@import "~@junte/ui/lib/assets/styles/jnt-common";
@import "~@junte/ui/lib/assets/styles/jnt-all";
@import "~@junte/ui/lib/assets/styles/jnt-variables";

header {
  [editable] {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    background-color: transparent;
    white-space: nowrap;
    width: 100%;

    &:focus {
      color: black;
    }
  }
}
