@import "~junte-ui/lib/assets/styles/variables";

:host {
  display: block;
  position: relative;
}

ul[contents] {
  [dot] {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    &[story] {
      background-color: $primary-color;
    }
    &[frames] {
      background-color: $green-dark-color;
    }
    &[graphql] {
      background-color: $red-dark-color;
    }
  }
  li {
    ul {
      font-size: $font-size-small;
    }
  }
  [price] {
    flex: 1;
    text-align: right;
    border-bottom: 1px dotted $gray-600-color;
  }
  [actor] [price] {
    font-weight: bold;
  }
}

[total] {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 $gutter-big 0;
  padding: 0;
  font-size: $font-size-large;
  text-align: right;
  li:nth-child(2), li:nth-child(3) {
    border-bottom: 1px dotted $gray-600-color;
  }
  li:nth-child(2) {
    flex: 1;
  }
}

[data-feature] {
  display: none;
  z-index: 5;
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 200px;
  background: rgba(0, 0, 0, .5);
  &[data-active="true"] {
    display: block;
  }
  [data-block] {
    position: absolute;
    top: $gutter-normal;
    right: $gutter-normal;
    bottom: $gutter-normal;
    left: $gutter-normal;
    overflow: scroll;
  }
  [data-close] {
    position: absolute;
    top: $gutter-small;
    right: $gutter-small;
    z-index: 1;
  }
}

ul[actors] {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  [actor] {
    flex: 1;
  }
}

[field] {
  display: flex;
  align-items: flex-start;
  background-color: $white-color;
  box-shadow: $shadow-primary-light;
  width: 100%;
  padding: $gutter-small;
  box-sizing: border-box;
  border-radius: 10px;

  &[placeholder] {
    border: 1px solid black;
    height: 100px;
  }

  &:not(:last-child) {
    margin-bottom: $gutter-large;
  }

  [actions] {
    opacity: .1;
    margin: 0 $gutter-small 0 0;

    &:hover {
      opacity: 1;
      transition: .25s opacity;
    }
  }
}

.cdk-drag-preview {
  box-shadow: $shadow-primary;
}

.cdk-drop-dragging .cdk-drag {
  transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0.5;
  transition: transform .2s cubic-bezier(0, 0, 0.2, 1);
}
