<ng-template #noResourceTypesTemplate>
  <jnt-message [icon]="ui.icons.warning">
    You have no
    <jnt-link title="resource types"
              [icon]="{icon: ui.icons.link, position: ui.position.right}"
              (click)="settings.emit()"></jnt-link>
  </jnt-message>
</ng-template>

<jnt-form *ngIf="spec.resourceTypes.length > 0;else noResourceTypesTemplate"
          [formGroup]="form"
          (submitted)="attach()">
  <jnt-stack [align]="ui.align.stretch">
    <jnt-form-item>
      <jnt-form-label i18n="@@label.resource">Resource</jnt-form-label>
      <jnt-form-control name="resource">
        <jnt-switcher placeholder="Resource"
                      i18n-placeholder="@@label.resource"
                      formControlName="resource"
                      [orientation]="ui.orientation.vertical"
                      [features]="[ui.feature.marks]">
          <jnt-switcher-option *ngFor="let r of spec.resourceTypes"
                               [label]="r.title"
                               [value]="r.title">
          </jnt-switcher-option>
        </jnt-switcher>
        <jnt-form-message [validator]="ui.validator.required"
                          i18n="@@message.field_required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>

    <jnt-form-item>
      <jnt-form-label>URL</jnt-form-label>
      <jnt-form-control name="url">
        <jnt-input placeholder="Url of issue"
                   i18n-placeholder="@@label.url_of_issue"
                   formControlName="url"></jnt-input>
        <jnt-form-message [validator]="ui.validator.required"
                          i18n="@@message.field_required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>

    <jnt-form-item *ngIf="urlControl.value">
      <jnt-form-control name="system">
        <jnt-switcher formControlName="system">
          <jnt-switcher-option label="GitLab"
                               [icon]="ui.icons.gitlab"
                               [value]="issueSystem.gitlab"></jnt-switcher-option>
          <jnt-switcher-option label="GitHub"
                               [icon]="ui.icons.github"
                               [disabled]="true"
                               [value]="issueSystem.github"></jnt-switcher-option>
        </jnt-switcher>
        <jnt-form-message [validator]="ui.validator.required"
                          i18n="@@message.field_required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>
  </jnt-stack>

  <ng-template #formFooterTemplate>
    <jnt-stack [align]="ui.align.end">
      <jnt-button text="Attach"
                  i18n-text="@@action.attach"
                  [type]="ui.button.type.submit"
                  [icon]="ui.icons.add"></jnt-button>
    </jnt-stack>
  </ng-template>
</jnt-form>
