@import "~@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
  padding: $jnt-gutter-normal;
}

[add] {
  margin: $jnt-gutter-normal;
  position: absolute;
  right: 0;
}

[container] {
  &[code="todo"] {
    background-color: $jnt-primary-light-color;
  }

  &[code="doing"] {
    background-color: limegreen;
  }

  &[code="done"] {
    background-color: $jnt-green-dark-color;
  }
}

