@import "~junte-ui/lib/assets/styles/variables";

:host {
  display: block;
  padding: $gutter-normal;
}

[container] {
  width: 25%;
  min-width: 200px;
  display: inline-block;
  padding: $gutter-normal;
  color: $secondary-color;
  border-radius: $corner-normal;
  background-color: $gray-700;

  &[code="todo"] {
    background-color: $primary-light-color;
  }

  &[code="doing"] {
    background-color: limegreen;
  }

  &[code="done"] {
    background-color: $green-dark;
  }

  h2 {
    margin: 0;
  }

  [empty] {
    color: $primary-text-color;
    font-size: 24px;

    ::ng-deep {
      [body] {
        display: flex;
        justify-content: center;
      }
    }
  }
}

[item] {
  padding: $gutter-big;
  cursor: pointer;
  background: $primary-background;
  color: $primary-text-color;
  font-size: $font-size-large;
  box-shadow: $shadow-primary;
}

.cdk-drag-preview {
  border-radius: $corner-normal;
  box-shadow: $shadow-primary-dark;
}

.cdk-drop-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: .3;
}

