@import "~junte-ui/lib/assets/styles/variables";

:host {
  display: block;
  padding-top: $gutter-small;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 18px;
}

[actor] > li {
  margin-bottom: 20px;
}

[feature]{
  padding: $gutter-normal 40px;
  background: $white-color;
  border-radius: $corner-normal;
}

[type='see'], [type='can'] {
  display: inline-block;
  padding: 1px 10px 1px;
  font-weight: bold;
  border-radius: 2px;
}

[type='see'] {
  color: $green-dark-color;
}

[type='can'] {
  color: $orange-color;
}
