<jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.gutter.small" [wrap]="ui.flex.wrap.wrap">
    <ng-container *ngFor="let type of tokens">
        <ng-container [ngSwitch]="type | getTokenType">
            <ng-container *ngSwitchCase="tokenType.term">
                <a term [routerLink]="['..', 'terms']" [fragment]="type['term']">
                    <dt>{{type['term']}}</dt>
                </a>
            </ng-container>
            <ng-container *ngSwitchCase="tokenType.accent">
                <span accent>{{type['text']}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="tokenType.url">
                <a target="_blank" [attr.href]="type['url']">{{type['url']}}</a>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <span>{{type['text']}}</span>
            </ng-container>
        </ng-container>
    </ng-container>
</jnt-stack>
