<jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.gutter.small" [wrap]="ui.flex.wrap.wrap">
    <ng-container *ngFor="let token of tokens">
        <ng-container [ngSwitch]="token | getTokenType">
            <ng-container *ngSwitchCase="tokenType.term">
                <a term [routerLink]="['..', 'terms']" [fragment]="token['term']"
                   [jntPopover]="{title: token['term'], content: (token['term'] | termDescription:spec), trigger: ui.popover.trigger.hover}">
                    <dt>{{token['term']}}</dt>
                </a>
            </ng-container>
            <ng-container *ngSwitchCase="tokenType.accent">
                <span accent>{{token['text']}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="tokenType.url">
                <a target="_blank" [attr.href]="token['url']">{{token['url']}}</a>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <span>{{token['text']}}</span>
            </ng-container>
        </ng-container>
    </ng-container>
</jnt-stack>
