@import "src/variables";

:host {
  display: block;
}

input, textarea {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-weight: normal;
  border: none;
  box-sizing: border-box;
  outline: none;
  height: fit-content;
  line-height: 1.5em;
  overflow: hidden;
  background-color: transparent;
  white-space: nowrap;
  width: 100%;
  font-size: 1em;

  &:focus {
    color: black;
  }
}

[data-name] {
  font-weight: $jnt-font-weight-bold;

  input {
    font-weight: $jnt-font-weight-bold;
  }
}

textarea {
  white-space: normal;
  resize: none;
  overflow: hidden;
}
