<jnt-row [formGroup]="form" (mouseenter)="manager.mode === editMode.edit ? mode = editMode.edit : null"
         (mouseleave)="mode = editMode.view">
  <jnt-col [tablet]="4">
    <div data-name>
      <ng-template #viewNameTemplate>
        <span>{{term.title}}</span>
      </ng-template>
      <ng-container *ngIf="mode == editMode.edit; else viewNameTemplate">
        <input #titleRef formControlName="title">
      </ng-container>
    </div>
  </jnt-col>
  <jnt-col [tablet]="8">
    <ng-template #viewDescriptionTemplate>
      <spec-tokens [spec]="term.spec"
                   [tokens]="term.description"></spec-tokens>
    </ng-template>
    <ng-container *ngIf="mode === editMode.edit; else viewDescriptionTemplate">
      <textarea fitHeight formControlName="description" rows="1"></textarea>
    </ng-container>
  </jnt-col>
</jnt-row>
