<jnt-app-page-header [icon]="localUi.icons.model"
                     [title]="entity.title"
                     teaser="fields list"
                     i18n-teaser="@@message.entity_fields_teaser">
</jnt-app-page-header>

<jnt-stack cdkDropList
           [align]="ui.align.stretch"
           [gutter]="ui.gutter.small"
           (cdkDropListDropped)="moveField($event)"
           [cdkDropListData]="entity.fields">
  <jnt-card *ngFor="let field of entity.fields; let i = index; trackBy:trackElement"
            cdkDrag [cdkDragDisabled]="(manager.mode$ | async) === editMode.view">
    <jnt-stack [orientation]="ui.orientation.horizontal">
      <ng-template *ngIf="(manager.mode$ | async) == editMode.edit" #cardDragTemplate let-icon="icon">
        <button cdkDragHandle>
          <jnt-icon [icon]="icon"></jnt-icon>
        </button>
      </ng-template>
      <spec-entity-field data-field [field]="field"></spec-entity-field>
      <jnt-button *ngIf="manager.mode == editMode.edit"
                  [icon]="ui.icons.delete"
                  [size]="ui.size.tiny"
                  [outline]="ui.outline.transparent"
                  [shape]="ui.shape.circle"
                  (click)="deleteField(field)">
      </jnt-button>
    </jnt-stack>
  </jnt-card>
  <jnt-card data-add-one *ngIf="(manager.mode$ | async) === editMode.edit"
        [padding]="ui.gutter.large">
      <jnt-button data-button text="Add field"
          i18n-text="@@action.add_entity_field"
          [icon]="ui.icons.add"
          [size]="ui.size.large"
          [outline]="ui.outline.transparent"
          (click)="addField()"></jnt-button>
  </jnt-card>
</jnt-stack>
