<jnt-app-page-header [icon]="localUi.icons.modules"
                     title="Modules"
                     i18n-title="@@label.modules"
                     teaser="groups of functions"
                     i18n-teaser="@@message.modules_teaser">
</jnt-app-page-header>

<ng-template #emptyDataTemplate>
  <jnt-message>
    <jnt-stack>
      <ng-container [ngSwitch]="consts.language">
        <ng-container *ngSwitchDefault>
          <p>Features could be grouped by similar applying area.</p>
          <p>E.g. an actor <b>Client</b> wants <b>Register</b>, <b>Login</b>,
            <b>Restore password</b>.</p>
          <p>These features can be grouped by module <b>User Accounts</b>.</p>
        </ng-container>
        <ng-container *ngSwitchCase="language.ru">
          <p>Функции могут быть сгруппированы по области реализации.</p>
          <p>Например <b>Клиент</b> хочет <b>Зарегистрироваться</b>, <b>Войти</b>,
            <b>Восстановить пароль</b>.</p>
          <p>Эти функции могут быть сгруппированы по модулю <b>Учетные записи пользователей</b>.</p>
        </ng-container>
      </ng-container>
      <jnt-button *ngIf="(manager.mode$ | async) === editMode.edit"
                  [icon]="ui.icons.add"
                  text="Add first module"
                  i18n-text="@@action.add_first_module"
                  (click)="addModule()"></jnt-button>
    </jnt-stack>
  </jnt-message>

  <img data-art src="assets/images/modules.svg">
</ng-template>

<jnt-row>
  <jnt-col [desktop]="8">
    <jnt-stack cdkDropList *ngIf="spec.modules.length > 0; else emptyDataTemplate"
               [align]="ui.align.stretch"
               (cdkDropListDropped)="moveModule($event)"
               [cdkDropListData]="spec.modules">
      <jnt-card cdkDrag *ngFor="let module of spec.modules; let i = index; trackBy: trackModule">
        <ng-template #cardDragTemplate let-icon="icon">
          <button cdkDragHandle>
            <jnt-icon [icon]="icon"></jnt-icon>
          </button>
        </ng-template>
        <spec-module [module]="module"
                      [mode]="added === module.id ? editMode.edit : editMode.view"
                      (updated)="cd.detectChanges()"></spec-module>

        <ng-template #cardActionsTemplate *ngIf="(manager.mode$ | async) === editMode.edit" let-hide="hide">
          <jnt-menu [orientation]="ui.orientation.vertical">
            <jnt-menu-item [icon]="ui.icons.delete"
                           title="Delete"
                           i18n-title="@@action.delete"
                           (click)="hide()"
                           [jntModal]="{content: deleteTemplate}">
            </jnt-menu-item>
          </jnt-menu>
        </ng-template>

        <ng-template #deleteTemplate>
          <jnt-confirm message="Are you sure to delete?"
                       i18n-message="@@message.are_you_sure_delete"
                       (cancel)="modal.close()"
                       (ok)="deleteModule(module)"></jnt-confirm>
        </ng-template>
      </jnt-card>
      <jnt-card data-add-one *ngIf="(manager.mode$ | async) === editMode.edit"
                [padding]="ui.gutter.large">
        <jnt-button data-button text="Add module"
                    i18n-text="@@action.add_module"
                    [icon]="ui.icons.add"
                    [size]="ui.size.large"
                    [outline]="ui.outline.transparent"
                    (click)="addModule()"></jnt-button>
      </jnt-card>
    </jnt-stack>
  </jnt-col>
  <jnt-col [tablet]="4">
    <jnt-accordion data-library>
      <jnt-accordion-section title="Features">
        <ng-template #accordionContentTemplate>
          <ng-container *ngFor="let actor of spec.actors">
            <p>{{actor.name}}</p>
            <jnt-stack cdkDropList [cdkDropListConnectedTo]="spec | modulesIds"
                       [orientation]="ui.orientation.horizontal"
                       [wrap]="ui.wrap.wrap"
                       [spacing]="ui.gutter.normal">
              <ng-container *ngFor="let feature of actor.features">
                <jnt-card cdkDrag [cdkDragData]="feature" *ngIf="!feature.module"
                          [padding]="ui.gutter.small">
                  <ng-template #cardDragTemplate let-icon="icon">
                    <button cdkDragHandle>
                      <jnt-icon [icon]="icon"></jnt-icon>
                    </button>
                  </ng-template>
                  {{feature.title}}
                </jnt-card>
              </ng-container>
            </jnt-stack>
          </ng-container>
        </ng-template>
      </jnt-accordion-section>

      <jnt-accordion-section title="Model">
        <ng-template #accordionContentTemplate>
          <p>Entities</p>
          <jnt-stack cdkDropList [cdkDropListConnectedTo]="spec | modulesIds"
                     [orientation]="ui.orientation.horizontal"
                     [wrap]="ui.wrap.wrap"
                     [spacing]="ui.gutter.normal">
            <ng-container *ngFor="let entity of spec.model.entities">
              <jnt-card cdkDrag [cdkDragData]="entity" *ngIf="!entity.module"
                        [padding]="ui.gutter.small">
                <ng-template #cardDragTemplate let-icon="icon">
                  <button cdkDragHandle>
                    <jnt-icon [icon]="icon"></jnt-icon>
                  </button>
                </ng-template>
                {{entity.title}}
              </jnt-card>
            </ng-container>
          </jnt-stack>
          <p>Enums</p>
          <jnt-stack cdkDropList [cdkDropListConnectedTo]="spec | modulesIds"
                     [orientation]="ui.orientation.horizontal"
                     [wrap]="ui.wrap.wrap"
                     [spacing]="ui.gutter.normal">
            <ng-container *ngFor="let enum of spec.model.enums">
              <jnt-card cdkDrag [cdkDragData]="enum" *ngIf="!enum.module"
                        [padding]="ui.gutter.small">
                <ng-template #cardDragTemplate let-icon="icon">
                  <button cdkDragHandle>
                    <jnt-icon [icon]="icon"></jnt-icon>
                  </button>
                </ng-template>
                {{enum.title}}
              </jnt-card>
            </ng-container>
          </jnt-stack>
        </ng-template>
      </jnt-accordion-section>
    </jnt-accordion>
  </jnt-col>
</jnt-row>
