<ul *ngIf="errors.length" class="unstyled">
    <li *ngFor="let error of errors" class="error">
        <ng-container *ngIf="error.actor">
            <jnt-label [label]="error['term']" [color]="ui.color.red"></jnt-label>
            term not found in <u>actor</u> <b>({{error.actor.id}})</b>,
            inside the property <u>features</u><b>({{error.feature.id}})</b>
        </ng-container>
        <ng-container *ngIf="error.epic">
            <jnt-label [label]="error['term']" [color]="ui.color.red"></jnt-label>
            term not found in <u>epic</u> <b>({{error.epic.id}})</b>,
            inside the property <u>features</u><b>({{error.feature.id}})</b>
        </ng-container>
        <ng-container *ngIf="error.sprint">
            <jnt-label [label]="error['term']" [color]="ui.color.red"></jnt-label>
            term not found in <u>sprint</u> <b>({{error.sprint.title}})</b>,
            inside the property <u>features</u><b>({{error.feature.id}})</b>
        </ng-container>
    </li>
</ul>
