@import "../../../../../../node_modules/@junte/ui/lib/assets/styles/jnt-variables";

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: $jnt-corner-small;
  border: 1px solid $jnt-secondary-color;
  th {
    font-weight: bold;
  }
  td, th {
    padding: $jnt-gutter-small;
    border: 1px solid $jnt-secondary-color;
    [link][closed='true'] ::ng-deep span[child-of=jnt-link-host] {
      text-decoration: line-through;
    }
    [closed] {
      color: $jnt-success-color;
    }
  }
}
