<jnt-container>
  <ng-container [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      <jnt-app-page-header title="Terms Agreement Of Using"
                           teaser="software services"
                           [icon]="localUi.icons.agreement"></jnt-app-page-header>

      <jnt-message [icon]="ui.icons.information"
                   [scheme]="ui.scheme.secondary">
        By using our site, you are agreeing to comply with and be bound by the following terms of use. Please review
        the following terms carefully. If you do not agree to these terms, you should not use this site and you should
        not use the services.
      </jnt-message>

      <p>
        Your use of Junte products, software, services and web sites (referred to collectively as «Services» in this
        document) is subject to the terms of the legal agreement between you and Junte.
      </p>
      <p>
        If you choose to purchase goods or services through this site, the following text includes the terms of
        agreement between Junte («Junte» or «Company») and the buyer («Buyer») of goods or services through the
        Junte’s Web site (the «Site»). The term «Junte» or «us» or «we» or «our» refers to Junte, the owner of the
        Web site and the provider of the services. The term «you» refers to the user or viewer of our Web Site and the
        user of the services.
      </p>
      <p>
        If you do not agree to these terms, you will not be able to use this website or service for any purpose, so
        please review these terms carefully!
      </p>

      <h1>Acceptance Of Agreement</h1>
      <p>
        You agree to the terms and conditions outlined in this Terms of Use Agreement («Agreement») with respect to
        our site and services (the «Site» and «Services» accordingly).
      </p>
      <p>
        This Agreement constitutes the entire and only agreement between us and you, and supersedes all prior or
        contemporaneous agreements, representations, warranties and understandings with respect to the Site and
        Services, the content, products or services provided by or through the Site, and the subject matter of this
        Agreement.
      </p>
      <p>
        This Agreement may be amended at any time by us from time to time without specific notice to you.
      </p>
      <h1>Copyright</h1>
      <p>
        The content, organization, graphics, design, compilation, magnetic translation, digital conversion and other
        matters related to the Site and Services are protected under applicable copyrights, trademarks and other
        proprietary (including but not limited to intellectual property) rights. The copying, redistribution, use or
        publication by you of any such matters or any part of the Site or any part of feature of the Services, except
        as allowed by Section 4 below, is strictly prohibited.
      </p>
      <p>
        You do not acquire ownership rights to any content, document or other materials viewed through the Site or
        Service. The posting of information or materials on the Site and Service does not constitute a waiver of any
        right in such information and materials. Some of the content on the site is the copyrighted work of third
        parties.
      </p>
      <h1>Service Marks</h1>
      <p>
        «Junte», «specprojector.com» and others linked to our site are trademarked
        service marks or registered service marks. Other product and company names mentioned on the Site or during the
        Service work may be trademarks of their respective owners.
      </p>
      <h1>Limited License; Permitted Uses</h1>
      <p>
        You are granted a non-exclusive, non-transferable, revocable license to access and use the Site and Services
        strictly in accordance with this Agreement;
      </p>
      <p>
        No print out or electronic version of any part of the Site and Service or its contents may be used by you in
        any litigation or arbitration matter whatsoever under any circumstances.
      </p>
      <h1>Restrictions And Prohibitions On Use</h1>
      <p>
        Your license for access and use of the Site and Services and any information, materials or documents
        (collectively defined as «Content and Materials») therein are subject to the following restrictions and
        prohibitions on use:
      </p>
      <p>
        You may not:
      </p>
      <ul>
        <li>copy, print (except for the express limited purpose permitted by Section 4 above), republish, display,
          distribute, transmit, sell, rent, lease, loan or otherwise make available in any form or by any means all or
          any portion of the Site or Services or any Content and Materials retrieved therefrom;
        </li>
        <li>use the Site or Services or any materials obtained from the Site or Services to develop, of as a component
          of, any information, storage and retrieval system, database, information base, or similar resource (in any
          media now existing or hereafter developed), that is offered for commercial distribution of any kind,
          including through sale, license, lease, rental, subscription, or any other commercial distribution
          mechanism;
        </li>
        <li>create compilations or derivative works of any Content and Materials from the Site or Services;</li>
        <li>use any Content and Materials from the Site or Services in any manner that may infringe any copyright,
          intellectual property right, proprietary right, or property right of us or any third parties;
        </li>
        <li>remove, change or obscure any copyright notice or other proprietary notice or terms of use contained in
          the Site or Services;
        </li>
        <li>make any portion of the Site or Services available through any timesharing system, service bureau, the
          Internet or any other technology now existing or developed in the future;
        </li>
        <li>remove, decompile, disassemble or reverse engineer any Site or Services software or use any network
          monitoring or discovery software to determine the Site or Services plan architecture;
        </li>
        <li>use any automatic or manual process to harvest information from the Site or Services;</li>
        <li>use the Site or Services for the purpose of gathering information for or transmitting (1) unsolicited
          commercial email; (2) email that makes use of headers, invalid or nonexistent domain names, or other means
          of deceptive addressing; and (3) unsolicited telephone calls or facsimile transmissions;
        </li>
        <li>use the Site or Services in a manner that violates any state or federal law regulating email, facsimile
          transmissions or telephone solicitations;
        </li>
        <li>export or re-export the Site or Services or any portion thereof, or any software available on or through
          the Site or Services, in violation of the export control laws or regulations of the United States.
        </li>
      </ul>
      <h1>Linking To The Site And Our Services</h1>
      <p>
        You may provide links to the Site and our Services, provided:
      </p>
      <ul>
        <li>that you do not remove or obscure, by framing or otherwise, advertisements, the copyright notice, or other
          notices on the Site and Services,
        </li>
        <li>your site does not engage in illegal or pornographic activities,</li>
        <li>you discontinue providing links to the Site and Services immediately upon request by us.</li>
      </ul>
      <h1>Advertisers</h1>
      <p>
        The Site and Services may contain advertising and sponsorships. Advertisers and sponsors are responsible for
        ensuring that material submitted for inclusion on the Site and Services is accurate and complies with
        applicable laws. We are not responsible for the illegality or any error, inaccuracy or problem in the
        advertiser’s or sponsor’s materials.
      </p>
      <h1>Registration</h1>
      <p>
        Our Service requires you to register. If you register, you agree to provide us with accurate, complete
        registration information. Your registration must be done using your real name and accurate information.
      </p>
      <p>
        Each registration is for your personal use only and not on behalf of any other person or entity. We do not
        permit (a) any other person using the registered sections under your name or username; or (b) access through a
        single name being made available to multiple users on a network. You are responsible for preventing such
        unauthorized use. You are responsible for maintaining the security of your account and password. You are also
        responsible for all Content posted and activity that occurs under your account.
      </p>
      <h1>Errors, Corrections And Changes</h1>
      <p>
        We do not represent or warrant that the Site and Services will be error-free, free of viruses or other harmful
        components, or that defects will be corrected.
      </p>
      <p>
        We do not represent or warrant that the information available on or through the Site and Services will be
        correct, accurate, timely or otherwise reliable.
      </p>
      <p>
        We may make changes to the features, functionality or content of the Site and Services at any time.
      </p>
      <p>
        We reserve the right in our sole discretion to edit or delete any documents, information or other content
        appearing on the Site and Services.
      </p>
      <h1>Third Party Content</h1>
      <p>
        Third party content may appear on the Site and Services or may be accessible via links from the Site and
        Services. We are not responsible for and assume no liability for any mistakes, misstatements of law,
        defamation, omissions, falsehood, obscenity, pornography or profanity in the statements, opinions,
        representations or any other form of content on the Site or Services provided to you. You understand that the
        information and opinions in the third party content represent solely the thoughts of the author and is neither
        endorsed by nor does it necessarily reflect our beliefs or opinions.
      </p>
      <h1>Unlawful Activity</h1>
      <p>
        We reserve the right to investigate complaints or reported violations of this Agreement and to take any action
        we deem appropriate, including but not limited to reporting any suspected unlawful activity to law enforcement
        officials, regulators, or other third parties and disclosing any information necessary or appropriate to such
        persons or entities relating to your profile, email addresses, usage history, posted materials, IP addresses
        and traffic information.
      </p>
      <h1>Use Of Information</h1>
      <p>
        We reserve the right, and you authorize us, to the use and assignment of all information regarding Site and
        Services uses by you and all information provided by you in any manner consistent with our Privacy Policy. All
        remarks, suggestions, ideas, graphics, or other information communicated by you to us (collectively, a
        «Submission») will forever be our property. We will not be required to treat any Submission as confidential,
        and will not be liable for any ideas (including without limitation, product, service or advertising ideas) and
        will not incur any liability as a result of any similarities that may appear in our future products, services
        or operations. Without limitation, we will have exclusive ownership of all present and future existing rights
        to the Submission of every kind and nature everywhere. We will be entitled to use the Submission for any
        commercial or other purpose whatsoever, without compensation to you or any other person sending the
        Submission. You acknowledge that you are responsible for whatever material you submit, and you, not us, have
        full responsibility for the message, including its legality, reliability, appropriateness, originality, and
        copyright.
      </p>
      <p>
        The company may store data provided by the client that is a trade secret. If the client enters data to our
        database which the client considers to be the trade secret, the client understands that the data is subject to
        all normal risks. The client understands that Junte is not responsible for any losses associated with the
        disclosure of the confidential information which the client entered to Junte database.
      </p>
      <h1>Third-Party Services</h1>
      <p>
        We may allow access to or advertise certain third-party product or service providers («Merchants») from which
        you may purchase certain goods or services. You understand that we do not operate or control the products or
        services offered by Merchants. Merchants are responsible for all aspects of order processing, fulfillment,
        billing and customer service. We are not a party to the transactions entered into between you and Merchants.
      </p>
      <p>
        You agree that use of or purchase from such Merchants is at your sole risk and is without warranties of any
        kind by us, expressed, implied or otherwise including warranties of title, fitness for purpose,
        merchantability or non-infringement.
      </p>
      <p>
        Under no circumstances are we liable for any damages arising from the transactions between you and merchants
        or for any information appearing on merchant sites or any other site linked to our site and services.
      </p>
      <h1>Third-Party Merchant Policies</h1>
      <p>
        All rules, policies (including privacy policies) and operating procedures of Merchants will apply to you while
        on any Merchant sites. We are not responsible for information provided by you to Merchants. We and the
        Merchants are independent contractors and neither party has authority to make any representations or
        commitments on behalf of the other.
      </p>
      <h1>Privacy Policy</h1>
      <p>
        Our Privacy Policy, as it may change from time to time, is a part of this Agreement. You must review this
        Privacy Policy by clicking on this link.
      </p>
      <h1>Payments</h1>
      <p>
        In the even you are purchasing something from us or from Merchants, you warrant that (i) any credit
        information you supply is true and complete, (ii) charges incurred by you will be honored by your credit card
        company, and (iii) you will pay the charges incurred by you at the posted prices, including any applicable
        taxes
      </p>
      <h1>Securities Laws</h1>
      <p>
        The Site and Services may include statements concerning our operations, prospects, strategies, financial
        condition, future economic performance and demand for our products or services, as well as our intentions,
        plans and objectives (particularly with respect to product and service offerings), that are forward-looking
        statements. These statements are based upon a number of assumptions and estimates which are subject to
        significant uncertainties, many of which are beyond our control. When used on our Site and Services, words
        like «anticipates,» «expects,» «believes,» «estimates,» «seeks,» «plans,» «intends,» «will» and similar
        expressions are intended to identify forward-looking statements designed to fall within securities law safe
        harbors for forward-looking statements. The Site and Services and the information contained herein does not
        constitute an offer or a solicitation of an offer for sale of any securities. None of the information
        contained herein is intended to be, and shall not be deemed to be, incorporated into any of our
        securities-related filings or documents.
      </p>
      <h1>Links To Other Web Sites</h1>
      <p>
        The Site and Services may contain links to other Web sites. We are not responsible for the content, accuracy
        or opinions express in such Web sites, and such Web sites are not investigated, monitored or checked for
        accuracy or completeness by us. Inclusion of any linked Web site on our Site and Services pages does not imply
        approval or endorsement of the linked Web site by us. If you decide to leave our Site and Services and access
        these third-party sites, you do so at your own risk.
      </p>
      <h1>Information</h1>
      <p>
        The Site and our Services contain information about us. We disclaim any duty or obligation to update this
        information. Information about companies other than ours should not be relied upon as being provided or
        endorsed by us.
      </p>
      <h1>Legal Compliance</h1>
      <p>
        You agree to comply with all applicable domestic and international laws, statutes, ordinances and regulations
        regarding your use of the Site and our Services and the Content and Materials provided therein.
      </p>
      <h1>Additional Terms And Conditions Relating To Any Goods Or Services Provided</h1>
      <p>
        Buyer agrees to review this Contract prior to purchasing anything and purchase of a good or service shall be
        deemed acceptance of this Contract.
      </p>
      <h1>Setup And Payment</h1>
      <p>
        Buyer represents and warrants that (i) the credit card information supplied is true, correct and complete and
        (ii) charges incurred by the Buyer will be honored by the Buyer's credit card company and (iii) Buyer shall
        pay charges incurred by Buyer at the amounts in effect at the time incurred, including all applicable taxes.
      </p>
      <p>
        Buyer shall be responsible for all charges incurred through use of Buyer's password. Buyer agrees to keep his
        or her password confidential and to notify Junte within 24 hours of any breach of this Contract or
        unauthorized use of the password. Junte does not protect Buyer from unauthorized use of Buyer's password.
      </p>
      <h1>Nontransferable</h1>
      <p>
        Your right to use the Site and Services is not transferable or assignable. Any username, password or right
        given to you to obtain information or documents is not transferable or assignable.
      </p>
      <h1>Copyright Over Purchased Goods Or Services</h1>
      <p>
        The content, organization, gathering, compilation, magnetic translation, digital conversion and other matters
        provided by Junte are protected under applicable copyrights, trademarks, and other proprietary (including but
        not limited to intellectual property) rights, and, the copying, redistribution, use or publication by a Buyer
        of any such content or any part of the Site or Services is prohibited.
      </p>
      <h1>Editing, Deleting, And Modification</h1>
      <p>
        Junte reserves the right in its sole discretion to edit or delete any information or content appearing on the
        Site and Services and to remove any goods and services for sale. Upon notice published over the Service, Junte
        may modify this Contract, or prices, and may discontinue or revise any or all aspects of the Site and Services
        in its sole discretion and without prior notice. Modification of this Contract will be deemed effective upon
        publication on the Site and Services with respect to transactions occurring after said date.
      </p>
      <h1>Right To Refuse</h1>
      <p>
        Junte reserves the right in its sole discretion to refuse service at any time. Sale of any goods or services
        is subject to availability.
      </p>
      <h1>Indemnification</h1>
      <p>
        You agree to indemnify, defend and hold us and our partners, agents, officers, directors, employees,
        subcontractors, successors, assigns, third party suppliers of information and documents, attorneys,
        advertisers, product and service providers, and affiliates (collectively, «Affiliated Parties») harmless from
        any liability, loss, claim and expense, including reasonable attorney's fees, related to your violation of
        this Agreement or use of the Site and Services.
      </p>
      <h1>Disclaimers</h1>
      <p>
        The information, content and documents from or through the site and services are provided «as-is,» «as
        available,» with «all faults», and all warranties, express or implied, are disclaimed (including but not
        limited to the disclaimer of any implied warranties of merchantability and fitness for a particular purpose).
      </p>
      <p>
        The information and services may contain bugs, errors, problems or other limitations. we and our affiliated
        parties have no liability whatsoever for your use of any information or service, except as provided in this
        contract.
      </p>
      <p>
        In particular, but not as a limitation thereof, we and our affiliated parties are not liable for any indirect,
        special, incidental or consequential damages (including damages for loss of business, loss of profits,
        litigation, or the like), whether based on breach of contract, breach of warranty, tort (including
        negligence), product liability or otherwise, even if advised of the possibility of such damages.
      </p>
      <p>
        We and our affiliated parties are also not liable for any loss or disclosure of information from you or your
        company.
      </p>
      <p>
        The negation and limitation of damages set forth above are fundamental elements of the basis of the bargain
        between us and you.
      </p>
      <p>
        This site and the products, services, documents and information presented would not be provided without such
        limitations.
      </p>
      <p>
        No advice or information, whether oral or written, obtained by you from us through the site, services or
        otherwise shall create any warranty, representation or guarantee not expressly stated in this agreement.
      </p>
      <p>
        All responsibility or liability for any damages caused by viruses contained within the electronic file
        containing a form or document is disclaimed.
      </p>
      <h1>Limitation Of Liability</h1>
      <ul>
        <li>We and any affiliated party shall not be liable for any loss, injury, claim, liability, or damage of any
          kind resulting in any way from (1) any errors in or omissions from the site or any services or products
          obtainable therefrom, (2) the unavailability or interruption of the site or services or any features
          thereof, (3) your use of the site or services, (4) the content contained on the site or services, (5) any
          loss or disclosure of information from you or your company or (6) any delay or failure in performance beyond
          the control of a covered party.
        </li>
        <li>The sole and entire maximum liability of Junte, for any reason, and buyer's sole and exclusive remedy for
          any cause whatsoever, shall be limited to the amount paid by the customer for the particular items
          purchased.
        </li>
      </ul>
      <p>
        Junte and any of its affiliates, dealers or suppliers are not liable for any indirect, special, incidental, or
        consequential damages (including damages for loss of business, loss of profits, litigation, or the like),
        whether based on breach of contract, breach of warranty, tort (including negligence), product liability or
        otherwise, even if advised of the possibility of such damages.
      </p>
      <p>
        The limitations of damages set forth above are fundamental elements of the basis of the bargain between Junte
        and buyer.
      </p>
      <p>
        This site and goods and services would not be provided without such limitations. some state statutes may apply
        regarding limitation of liability.
      </p>
      <h1>Payment Terms</h1>
      <p>
        A valid credit card is required for payment on accounts.
      </p>
      <p>
        Any deposit made by Buyer to Junte for purchase of Goods or Services is non-refundable.
      </p>
      <p>
        If you sign up for monthly service, you will be billed monthly starting on the 30th day after your account was
        initially created. If you cancel prior to the processing of your first invoice on the 30th day, you will not
        be charged.
      </p>
      <p>
        The service is billed in advance on a monthly basis and is non-refundable. There will be no refunds or credits
        for partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account.
        In order to treat everyone equally, no exceptions will be made.
      </p>
      <p>
        We reserve the right to alter or increase the fees for monthly service.
      </p>
      <p>
        For any upgrade or downgrade in your plan level, your credit card that you provided will be automatically
        charged the new rate on your next billing cycle.
      </p>
      <p>
        Downgrading your Service may cause the loss of Content, features and capacity of your Account. Junte does not
        accept any liability for such loss.
      </p>
      <p>
        The monthly service will be billed based upon a calendar month.
      </p>
      <p>
        All fees are exclusive of all taxes, levies or duties imposed by taxing authorities and you shall be
        responsible for payment of all such taxes, levies or duties, excluding only United States (federal and state)
        taxes.
      </p>
      <h1>Cancellation</h1>
      <p>
        You are solely responsible for properly cancelling your account. You can cancel your Account at any time by
        requesting this in writing.
      </p>
      <p>
        Junte, in its sole discretion, has the right to suspend or terminate your account and refuse any and all
        current or future use of the Service, or any other Junte’s services, for any reason at any time. Such
        termination of the Service will result in the deactivation or deletion of your Account or your access to your
        account, and the forfeiture and relinquishment of all Content in your account.
      </p>
      <h1>Use Of Information</h1>
      <p>
        Junte reserves the right, and Buyer authorizes Junte, to the use and assignment of all information regarding
        Buyer’s use of the Site and all information provided by Buyer, subject to applicable law.
      </p>
      <h1>Technical Support</h1>
      <p>
        Your use of the Service and the Website is at your sole risk. The service is provided on an «as is» and «as
        available» basis.
      </p>
      <p>
        Technical support is only provided to paying account holders and is only available via email or through the
        website.
      </p>
      <p>
        You understand that the response time to requests for technical support can be up to and exceeding five (5)
        business days under some circumstances.
      </p>
      <p>
        You understand that Junte uses third party vendors and hosting partners to provide the necessary hardware,
        software, networking, storage and related technology to run the Service.
      </p>
      <h1>Miscellaneous</h1>
      <p>
        This Agreement shall be treated as though it were executed and performed in San Francisco, California, and
        shall be governed by and construed in accordance with the laws of the State of California (without regard to
        conflict of law principles).
      </p>
      <p>
        Any cause of action by you with respect to the Site (and/or any information, Documents, products or services
        related thereto) must be instituted within one (1) year after the cause of action arose or be forever waived
        and barred.
      </p>
      <p>
        All actions shall be subject to the disclaimers and limitations of liability set forth in this contract.
      </p>
      <p>
        The language in this Agreement shall be interpreted as to its fair meaning and not strictly for or against any
        party.
      </p>
      <p>
        This Agreement and all incorporated agreements and your information may be automatically assigned by us in our
        sole discretion to a third party in the event of an acquisition, sale or merger.
      </p>
      <p>
        Should any part of this Agreement be held invalid or unenforceable, that portion shall be construed consistent
        with applicable law and the remaining portions shall remain in full force and effect.
      </p>
      <p>
        To the extent that anything in or associated with the Site is in conflict or inconsistent with this Agreement,
        this Agreement shall take precedence.
      </p>
      <p>
        Our failure to enforce any provision of this Agreement shall not be deemed a waiver of such provision nor of
        the right to enforce such provision.
      </p>
      <p>
        Our rights under this Agreement shall survive any termination of this Agreement.
      </p>
      <h1>Arbitration</h1>
      <p>
        Any legal controversy or legal claim arising out of or relating to this Agreement or our services, excluding
        legal action taken by us to collect or recover damages for, or obtain any injunction relating to, Site
        operations, intellectual property, and our services, shall be settled solely by binding arbitration in
        accordance with the commercial arbitration rules of Judicial Arbitration and Mediation Service («JAMS»)
        through its offices in San Francisco, California.
      </p>
      <p>
        Any such controversy or claim shall be arbitrated on an individual basis, and shall not be consolidated in any
        arbitration with any claim or controversy of any other party.
      </p>
      <p>
        The arbitration shall be conducted in San Francisco, California, and judgment on the arbitration award may be
        entered into any court having jurisdiction thereof.
      </p>
      <p>
        Either you or us may seek any interim or preliminary relief from a court of competent jurisdiction in San
        Francisco, California necessary to protect the rights or property of you and us pending the completion of
        arbitration.
      </p>
      <p>
        Each party shall bear one-half of the arbitration fees and costs incurred through JAMS.
      </p>
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      <jnt-app-page-header title="Лицензионное соглашение"
                           teaser="к Программе для ЭВМ «СпецПроджектор»"
                           [icon]="localUi.icons.agreement"></jnt-app-page-header>

      <jnt-message [icon]="ui.icons.information"
                   [scheme]="ui.scheme.secondary">
        ВАЖНО! Перед началом любого использования указанных ниже Программ для ЭВМ внимательно ознакомьтесь с условиями
        ее использования, содержащимися в настоящем Соглашении. Установка, запуск или иное начало использования
        Программы означает надлежащее заключение настоящего Соглашения и Ваше полное согласие со всеми его условиями.
        Если Вы не согласны безоговорочно принять условия настоящего Соглашения, Вы не имеете права использовать
        Программу.
      </jnt-message>

      <ol>
        <li>
          <h1>ОСНОВНЫЕ ТЕРМИНЫ</h1>
          <ol>
            <li>Лицензиар – ИП Бреславский А.В., ОГРН: 316370200083752, г. Иваново, ул. Смирнова 83 офис 11.
            </li>
            <li>Лицензиат – любое физическое или юридическое лицо, которое имеет право на использование Программы в
              своем интересе в соответствии с требованиями действующего законодательства РФ и настоящего Соглашения.
            </li>
            <li>Программа – Программа для ЭВМ «СпецПроджектор» (как в целом, так и ее компоненты), являющаяся
              представленной в объективной форме совокупностью данных и команд, в том числе исходного текста, базы
              данных, аудиовизуальных произведений, включённых Лицензиаром в состав указанной программы для ЭВМ, а
              также любая документация по ее использованию.
            </li>
            <li>Использование Программы – использование функциональных возможностей и/или запуск в порядке,
              определенном пользовательской (технической) документацией и настоящим Соглашением.
            </li>
            <li>Авторизованный пользователь – пользователь, зарегистрированный Лицензиатом в Программе и
              авторизовавшийся в ней как минимум один раз.
            </li>
            <li>Аккаунт – информационный ресурс, являющийся совокупностью данных одной копии Программы с уникальным
              идентификатором, с помощью которого группируются объекты программы для их совместного отображения и
              использования.
            </li>
            <li>Техническая поддержка – мероприятия, осуществляемые Лицензиаром в установленных им пределах и объемах
              для обеспечения функционирования Программы, включая информационно-консультационную поддержку Лицензиатов
              по вопросам использования Программы.
            </li>
            <li>Договор – документ, на основании которого Лицензиар (или иное лицо, имеющее соответствующие права)
              предоставил Лицензиату Программу для ее использования на условиях настоящего Соглашения.
            </li>
            <li>Регистрация – действие Лицензиата, направленное на создание Аккаунта, осуществляемое в порядке и для
              целей, предусмотренных лицензией соответствующего типа.
            </li>
            <li>Учетная запись – запись в системе Лицензиара (пара логин/пароль или специальный api-ключ), хранящая
              данные, позволяющие идентифицировать и авторизовать Лицензиата и авторизованного пользователя.
            </li>
            <li>Тип лицензии – тарифный план, избираемый Лицензиатом, согласно Прайс-листу Лицензиара, публикуемый в
              сети интернет по следующему адресу:
              <a href="//www.specprojector.com/#tariffs" target="_blank">www.specprojector.com/#tariffs</a>
            </li>
            <li>API (Application Programming Interface) — интерфейс взаимодействия системы со сторонними приложениями
              путем использования публичных методов, опубликованных Лицензиаром.
            </li>
          </ol>
        </li>
        <li>
          <h1>ПРЕДМЕТ СОГЛАШЕНИЯ</h1>
          <ol>
            <li>Лицензиар предоставляет Лицензиату право использования (простую неисключительную лицензию) Программы в
              рамках ее функциональных возможностей путем воспроизведения программы (подключения к Программе через
              сеть Интернет), исключительно для самостоятельного использования Лицензиатом без права сублицензирования
              третьим лицам.
            </li>
            <li>Настоящее Соглашение заключается до или непосредственно в момент начала использования Программы и
              действует на протяжении всего срока ее правомерного использования Лицензиатом в пределах срока действия
              авторского права на нее при условии надлежащего соблюдения Лицензиатом условий настоящего Соглашения.
            </li>
            <li>Лицензиар предоставляет Лицензиату право использования Программы без ограничения по территории в
              порядке и на условиях, предусмотренных действующим законодательством Российской Федерации, Договором и
              настоящим Соглашением.
            </li>
          </ol>
        </li>
        <li>
          <h1>АВТОРСКИЕ ПРАВА И ТОВАРНЫЕ ЗНАКИ</h1>
          <ol>
            <li>Программа является результатом интеллектуальной деятельности и объектом авторских прав (Программа для
              ЭВМ), которые регулируются и защищены законодательством Российской Федерации об интеллектуальной
              собственности и нормами международного права.
            </li>
            <li>Алгоритмы работы Программы и ее исходные коды (в том числе их части) являются коммерческой тайной
              Лицензиара. Любое их использование или использование Программы в нарушение условий настоящего Соглашения
              рассматривается как нарушение прав Лицензиара и является достаточным основанием для лишения Пользователя
              предоставленных по настоящему Соглашению прав.
            </li>
            <li>Лицензиар гарантирует, что обладает всем необходимым объемом прав на Программу для предоставления их
              Лицензиату, включая документацию к Программе.
            </li>
            <li>Ответственность за нарушение авторских прав наступает в соответствии с действующим законодательством
              Российской Федерации.
            </li>
            <li>Настоящим Соглашением Лицензиату не предоставляются никакие права на использование Товарных Знаков и
              Знаков Обслуживания Лицензиара и/или его партнеров.
            </li>
            <li>Лицензиат не может ни при каких условиях удалять или делать малозаметными информацию и сведения об
              авторских правах, правах на товарные знаки или патенты, указанные в Программе.
            </li>
          </ol>
        </li>
        <li>
          <h1>УСЛОВИЯ ИСПОЛЬЗОВАНИЯ ПРОГРАММЫ И ОГРАНИЧЕНИЯ</h1>
          <ol>
            <li>Лицензиату предоставляется право Регистрации в рамках настоящего Лицензионного соглашения.</li>
            <li>Регистрация, осуществляется Лицензиатом самостоятельно путем создания и указания своей учетной
              записи.
            </li>
            <li>Лицензиат имеет право в рамках настоящей Лицензии и в соответствии с выбранным типом Лицензии
              размещать в Аккаунте принадлежащие ему данные, если это не нарушает настоящее Лицензионное соглашение и
              Законодательство РФ.
            </li>
            <li>Лицензиат вправе изменять, добавлять или удалять файлы Программы только в случаях, предусмотренных
              законодательством Российской Федерации об авторском праве.
            </li>
          </ol>
        </li>
        <li>
          <h1>УСТУПКА (ПЕРЕДАЧА) ПРАВ</h1>
          <ol>
            <li>Лицензиат за исключением случаев, установленных настоящим Соглашением, имеет право однократно уступить
              полностью свои права и обязанности по настоящему Соглашению другому авторизованному пользователю.
            </li>
            <li>Уступка (передача) прав и обязанностей осуществляется только при условии полного и безоговорочного
              согласия нового Лицензиата со всеми положениями и условиями настоящего Соглашения и Договора.
            </li>
            <li>Лицензиат обязан предоставить Лицензиару полные данные о новом Лицензиате для перерегистрации на него
              Программы в соответствии с настоящим Соглашением.
            </li>
            <li>Уступка (передача) прав по настоящему Соглашению не может быть осуществлена косвенно или через
              какое-либо третье лицо.
            </li>
          </ol>
        </li>
        <li>
          <h1>ТИПЫ ЛИЦЕНЗИЙ (ТАРИФОВ)</h1>
          <ol>
            <li>Лицензиат вправе самостоятельно выбирать соответствующий тип лицензии, перечень которых размещен в
              сети Интернет по адресу:
              <a href="//www.specprojector.com/#tariffs" target="_blank">www.specprojector.com/#tariffs</a>
            </li>
            <li>Тип лицензии или тарифа определяет функциональный состав ПО, а так же набор предоставляемых Лицензиату
              дополнительных сервисов.
            </li>
            <li>Лицензиат вправе без выплаты вознаграждения использовать Программу в рамках бесплатной лицензии для
              ознакомления базовых функциональных возможностей Программы.
            </li>
            <li>Лицензиат имеет право сменить тип лицензии в течение всего срока ее действия, при этом срок действия
              приобретаемой лицензии будет увеличен на срок оплаченной, но неизрасходованной текущей лицензии с учетом
              тарифной стоимости новой лицензии.
            </li>
            <li>Начало срока действия лицензии — день создания Учетной записи и/или Аккаунта (день Регистрации) или день
              оплаты по новому тарифу.
            </li>
            <li>Продление лицензии по выбранному тарифу осуществляется автоматически - ежемесячно.
            </li>
            <li>В случае не продления лицензии на использование Программы на платном тарифе, тип лицензии Лицензиаром
              будет автоматически изменен на бесплатный.
            </li>
            <li>Лицензиар вправе изменять в одностороннем порядке типы лицензий, путем размещения нового их перечня в
              сети Интернет по адресу
              <a href="//www.specprojector.com/#tariffs" target="_blank">www.specprojector.com/#tariffs</a> не позднее
              14 (Четырнадцати) дней до даты введения в действие таких изменений.
            </li>
          </ol>
        </li>
        <li>
          <h1>ПОРЯДОК ИСПОЛЬЗОВАНИЯ ПРОГРАММЫ</h1>
          <ol>
            <li>Регистрация.
              <ol>
                <li>Для того чтобы воспользоваться Программой Лицензиату необходимо пройти процедуру Регистрации, в
                  результате которой для Лицензиата будет создана уникальная Учетная запись и Аккаунт. Для добавления
                  Авторизованных пользователей Лицензиату необходимо самостоятельно средствами Программы создать им
                  учетные записи и дать доступ к Аккаунту. Количество Авторизованных пользователей в рамках одного
                  Аккаунта определяется исходя из типа лицензии.
                </li>
                <li>Для регистрации Лицензиат обязуется предоставить достоверную и полную информацию о себе и
                  Авторизованных пользователях по вопросам, предлагаемым в форме регистрации, и поддерживать эту
                  информацию в актуальном состоянии. Если Лицензиат предоставляет неверную информацию или у Лицензиара
                  есть основания полагать, что предоставленная им информация неполна или недостоверна, Лицензиар имеет
                  право по своему усмотрению заблокировать либо удалить учетную запись Лицензиата, а также запретить
                  использование Программы.
                </li>
              </ol>
            </li>
            <li>Логин и пароль для доступа к Учетной записи Лицензиата или Авторизованного пользователя.
              <ol>
                <li>При регистрации Лицензиат или Авторизованный пользователь самостоятельно выбирает себе логин
                  (уникальное символьное имя учетной записи Лицензиата или Авторизованного пользователя) и пароль для
                  доступа к Учетной записи. Лицензиар вправе запретить использование определенных логинов, а также
                  устанавливать требования к логину и паролю (длина, допустимые символы и т.д.).
                </li>
                <li>Лицензиат или Авторизованный пользователь самостоятельно несут ответственность за безопасность
                  (устойчивость к угадыванию) выбранного им пароля, а также самостоятельно обеспечивает
                  конфиденциальность своего пароля. Лицензиат самостоятельно несет ответственность за все
                  действия/бездействие (а также их последствия) в рамках или с использованием Программы под своей
                  Учетной записью, включая случаи добровольной передачи или несоблюдения конфиденциальности данных для
                  доступа к его учетной записи третьим лицам на любых условиях (в том числе по договорам или
                  соглашениям). При этом все действия в рамках или с использованием Программы под учетной записью
                  Лицензиата считаются произведенными им самим, за исключением случаев, имеющих место после получения
                  Лицензиаром от Лицензиата направленного в порядке, предусмотренном настоящим Соглашением,
                  уведомления о несанкционированном использовании Программы под учетной записью Лицензиата или о любом
                  нарушении (подозрениях о нарушении) конфиденциальности своего пароля.
                </li>
                <li>Лицензиат обязан немедленно уведомить Лицензиара о любом случае несанкционированного доступа к
                  Программе с использованием его Учетной записи и/или о любом нарушении (подозрениях о нарушении)
                  конфиденциальности своего пароля. В целях безопасности, Лицензиат обязан самостоятельно осуществлять
                  безопасное завершение работы под своей учетной записью (кнопка «Выход») по окончании каждой сессии
                  работы с Программой. Лицензиар не отвечает за возможную потерю данных, а также другие последствия
                  любого характера, которые могут произойти из-за нарушения Лицензиатом положений этой части
                  Соглашения.
                </li>
              </ol>
            </li>
            <li>Удаление Учетной записи. Лицензиар вправе заблокировать и удалить Учетную запись Лицензиата, включая
              весь контент без объяснения причин, в случае нарушения условий Соглашения. С этого момента
              восстановление учетной записи, какой-либо информации, относящейся к ней, а равно доступов к Программе с
              использованием этой Учетной записи — невозможны.
            </li>
            <li>Ограничение доступа к API. Не может быть выполнено более 7 запросов к API в секунду суммарно ко всем
              методам. В случае подозрительной активности через API, Лицензиар вправе заблокировать доступ к API для
              аккаунта Лицензиата.
            </li>
          </ol>
        </li>
        <li>
          <h1>ОГРАНИЧЕНИЯ ИСПОЛЬЗОВАНИЯ</h1>
          <ol>
            <li>Лицензиат и/или Авторизованные пользователи не вправе совершать действия, которые могут повлечь: а)
              нарушение функционирования оборудования и сети Лицензиара; б) нарушение работы Программы или ограничение
              возможностей других пользователей в использовании Программы; в) несанкционированный доступ к Программе,
              а также информационно-вычислительным и сетевым ресурсам Лицензиара; г) причинение либо угрозу причинения
              ущерба третьим лицам, в том числе путем размещения информации и ссылок на ресурсы сети, содержание
              которых противоречит действующему законодательству РФ.
            </li>
            <li>Лицензиату не предоставляется возможность и право модификации Программы.</li>
            <li>Лицензиат самостоятельно обеспечивает наличие оборудования, соответствующего техническим требованиям
              для использования Программы и доступа к сети Интернет.
            </li>
            <li>Лицензиат гарантирует, что он имеет все необходимые права на все данные, компьютерные программы или
              сервисы, которые используются им в связи с использованием Программы, и что такие действия не нарушают
              прав третьих лиц.
            </li>
            <li>Лицензиат не вправе использовать Программу иными способами, кроме указанных в настоящем Соглашении, а
              также копировать, продавать и перепродавать ее или доступ к ней, кроме тех случаев, когда Пользователь
              получил такое разрешение от Лицензиара.
            </li>
          </ol>
        </li>
        <li>
          <h1>ТЕХНИЧЕСКАЯ ПОДДЕРЖКА</h1>
          <ol>
            <li>Лицензиар осуществляет Техническую поддержку Лицензиата, в том числе по вопросам, связанным с
              функциональностью Программы, особенностями эксплуатации на стандартных конфигурациях поддерживаемых
              операционных, почтовых и иных систем в порядке и на условиях, указанных в технической документации к
              ней.
            </li>
            <li>Лицензиат вправе обращаться в службу Технической поддержки Лицензиара без выплаты дополнительного
              вознаграждения.
            </li>
            <li>Для осуществления Технической поддержки Лицензиар вправе потребовать от Лицензиата предоставления
              информации, касающейся данных учетной записи, технических характеристик оборудования и другую
              необходимую для оказания Технической поддержки информацию.
            </li>
          </ol>
        </li>
        <li>
          <h1>ОГРАНИЧЕННАЯ ГАРАНТИЯ И ОТВЕТСТВЕННОСТЬ</h1>
          <ol>
            <li>Программа предоставляется по принципу «как есть» и Лицензиар не гарантирует, что все ее функциональные
              возможности будут отвечать ожиданиям Лицензиата и смогут быть применимы для конкретной его цели.
            </li>
            <li>Лицензиар не инициирует и не контролирует размещение Лицензиатом любой информации в процессе
              использования Программы, не влияет на ее содержание и целостность, а также в момент размещения указанной
              информации не знает и не может знать — нарушает ли она охраняемые законом права и интересы третьих лиц,
              международные договоры и действующее законодательство Российской Федерации.
            </li>
            <li>Лицензиар не несет ответственности перед Лицензиатом за любой ущерб, любую потерю доходов, прибыли,
              информации или сбережений, связанных с использованием или с невозможностью использования Программы, в
              том числе в случае предварительного уведомления со стороны Лицензиата о возможности такого ущерба, или
              по любому иску третьей стороны.
            </li>
            <li>Если при использовании Программы будут обнаружены ошибки, Лицензиар предпримет меры для их исправления
              в максимально короткие сроки. Стороны соглашаются, что точное определение срока устранения ошибки не
              может быть установлено, так как Программа тесно взаимодействует с другими программами для ЭВМ сторонних
              разработчиков, операционными системами и аппаратными ресурсами компьютера Лицензиата и работоспособность
              и время устранения проблем в полной мере не зависят только от Лицензиара.
            </li>
            <li>В случае совершения Лицензиатом действий, запрещенных нормами настоящего Соглашения, Лицензиар вправе
              без объяснения причин и какого-либо уведомления Лицензиата предпринять меры, выявляющие и
              предотвращающие указанные нарушения.
            </li>
            <li>За нарушение условий настоящего Соглашения Лицензиатом наступает ответственность, предусмотренная
              законодательством Российской Федерации.
            </li>
          </ol>
        </li>
        <li>
          <h1>УСЛОВИЕ ОБРАБОТКИ И ИСПОЛЬЗОВАНИЯ ПЕРСОНАЛЬНЫХ ДАННЫХ</h1>
          <ol>
            <li>Принимая условия настоящего Соглашения, Лицензиат в соответствии с Федеральным законом № 152-ФЗ «О
              персональных данных» от 27.07.2006 года, действуя свободно, своей волей и в своем интересе, выражает
              свое согласие на: предоставление своих персональных данных, включающих Фамилию, Имя, Отчество, адрес
              электронной почты, номер контактного телефона, дату рождения, регион, город, организацию, должность для
              их обработки Лицензиаром.
            </li>
            <li>Лицензиар обязуется принимать все необходимые меры для защиты указанных выше персональных данных от
              неправомерного доступа или раскрытия.
            </li>
            <li>Лицензиар осуществляет следующие действия в отношении обработки персональных данных: сбор, запись,
              систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование,
              обезличивание, блокирование, удаление, уничтожение.
            </li>
            <li>Настоящее согласие действует в течение всего срока действия Лицензионного соглашения и использование
              Лицензиатом Программы. Лицензиат понимает и соглашается с тем, что в случае отзыва данного согласия он
              лишается возможности использовать часть или все сервисы Программы.
            </li>
            <li>Лицензиат может отозвать согласие на обработку персональных данных, обратившись в техническую
              <a routerLink="['/support']">поддержку Лицензиара</a>
            </li>
            <li>Лицензиат соглашается на получение посредством электронной почты, адрес которой он указывает при
              регистрации, рекламно-информационных сообщений, касающихся продукции и услуг Лицензиара и его партнеров.
            </li>
          </ol>
        </li>
        <li>
          <h1>ДЕЙСТВИЕ, ИЗМЕНЕНИЕ И РАСТОРЖЕНИЕ СОГЛАШЕНИЯ</h1>
          <ol>
            <li>Лицензиат имеет право в любой момент запросить отмену продления его лицензии, при этом он может либо:
              <ol>
                <li>продолжить использовать программу на текущем тарифе до фактической даты окончания без
                  автоматического продления. В этом случае после окончания его тип лицензии будет изменен на бесплатный.
                </li>
                <li>забрать неизрасхдованный остаток на текущем тарифе и перейти на бесплатный тариф. При это остаток
                  будет рассчитан как <b>кол-во оставшихся дней * стоимость дня по тарифу</b>, где стоимость дня - это
                  стоимость тарифа в мес. / 30.
                </li>
              </ol>
            </li>
            <li>По всем вопросам, не урегулированным настоящим Соглашением, Стороны руководствуются действующим
              законодательством Российской Федерации.
            </li>
            <li>Лицензиар имеет право изменять условия настоящего Соглашения в одностороннем порядке путем размещения
              измененного текста в сети Интернет по адресу
              <a href="www.specprojector.com" target="_blank">www.specprojector.com</a>
            </li>
            <li>Лицензиар имеет право в случае нарушения Лицензиатом условий настоящего Соглашения по использованию
              Программы, в одностороннем порядке расторгнуть настоящее Соглашение.
            </li>
            <li>При расторжении настоящего Соглашения любой стороной и по любым основаниям Лицензиат и Авторизованные
              пользователи обязаны прекратить использование Программы полностью.
            </li>
            <li>В случае если компетентный суд признает какие-либо положения настоящего Соглашения недействительными,
              Соглашение продолжает действовать в остальной части.
            </li>
          </ol>
        </li>
        <li>
          <h1>ДОПОЛНИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h1>
          <ol>
            <li>Лицензиату запрещается использование Программы для осуществления массовых рассылок электронных
              сообщений коммерческого, рекламного и иного характера, не согласованных (не запрошенных) получателем
              информации по электронной почте или в группы телеконференций («спам»). Не рассматривается как «спам»
              рассылка информации с согласия получателя, при возможности отказа от подписки.
            </li>
            <li>Использование Программы должно осуществляться Лицензиатом только для законных целей и законными
              способами с учетом законодательства РФ, Европейского союза и США.
            </li>
            <li>За содержание Аккаунта (копии Программы), создаваемых и поддерживаемых Лицензиатом данных, несет
              ответственность непосредственно сам Лицензиат. Лицензиар не осуществляет предварительного контроля за
              содержанием размещаемой и/или распространяемой Лицензиатом информации, однако когда размещение и
              распространение такой информации противоречит законодательству, Лицензиар вправе заблокировать или
              удалить соответствующий Аккаунт и данные без предупреждения.
            </li>
            <li>Лицензиар не предоставляет Лицензиату услуги связи, не организует для него возможность доступа к
              информационным системам информационно-телекоммуникационных сетей, в том числе к сети Интернет, и не
              осуществляет деятельность по приему, обработке, хранению, передаче, доставки сообщений электросвязи.
            </li>
          </ol>
        </li>
        <li>
          <h1>КОНТАКТНАЯ ИНФОРМАЦИЯ ЛИЦЕНЗИАРА</h1>
        </li>
      </ol>
      <p>Обращения по вопросам условий настоящего Соглашения и Технической поддержки принимаются по адресу электронной
        почты
        <jnt-link title="sp@junte.ru" source="mailto:sp@junte.ru"></jnt-link>
      </p>
    </ng-container>
  </ng-container>
</jnt-container>
