<ng-template #attachTemplate>
  <spec-attach-issue [spec]="feature.spec"
                     (attached)="add($event)"></spec-attach-issue>
</ng-template>

<jnt-stack [align]="ui.align.stretch">
  <jnt-stack [orientation]="ui.orientation.horizontal">
    <jnt-button [icon]="ui.icons.add"
                [shape]="ui.shape.circle"
                [jntPopover]="{title: 'Attach issue', contentTemplate: attachTemplate, trigger: ui.trigger.click}"
                (attached)="reference.popover = $event"></jnt-button>
    <jnt-button [icon]="ui.icons.reload"
                [shape]="ui.shape.circle"
                [loading]="progress.refreshing"
                [disabled]="!feature.issues.length"
                (click)="refresh(true)"></jnt-button>
  </jnt-stack>

  <jnt-stack [align]="ui.align.stretch">
    <jnt-row *ngFor="let issue of feature.issues;let i = index">
      <jnt-col [span]="8">
        <jnt-stack [gutter]="ui.gutter.small">
          <jnt-stack [orientation]="ui.orientation.horizontal"
                     [gutter]="ui.gutter.small">
            <jnt-avatar *ngIf="issue.assignee?.avatar as avatar"
                        [size]="ui.size.tiny"
                        [image]="avatar"></jnt-avatar>
            <jnt-stack [orientation]="ui.orientation.horizontal">
              <div *ngIf="issue.title">
                <jnt-link link [attr.closed]="issue.state === issueState.closed"
                          target="_blank"
                          [source]="issue.url"
                          [title]="issue.title"></jnt-link>
                <br>
                <small *ngIf="issue.assignee?.name as name">{{name}}</small>
              </div>
              <jnt-icon *ngIf="issue.state === issueState.closed" closed
                        [icon]="ui.icons.check"></jnt-icon>
              <jnt-label [icon]="!!issue.error ? ui.icons.warning : null"
                         [size]="ui.size.small"
                         [label]="issue.resource"></jnt-label>
            </jnt-stack>
          </jnt-stack>
        </jnt-stack>
      </jnt-col>
      <jnt-col [span]="1">
        {{!!issue.spent ? issue.spent + 'h' : '&mdash;'}}
      </jnt-col>
      <jnt-col [span]="1">
        <jnt-button [icon]="ui.icons.cancel"
                    [scheme]="ui.scheme.secondary"
                    [shape]="ui.shape.circle"
                    (click)="delete(i)"></jnt-button>
      </jnt-col>
    </jnt-row>
  </jnt-stack>
</jnt-stack>

