<jnt-stack [gutter]="ui.gutter.large"
           [align]="ui.flex.align.stretch">
  <h3>{{feature.title}}</h3>

  <jnt-menu>
    <jnt-menu-item title="User story"
                   [link]="['story']">
      <jnt-badge [count]="feature.story.length"
                 [color]="ui.colors.purpleLighten"></jnt-badge>
    </jnt-menu-item>
    <jnt-menu-item title="Design"
                   [link]="['frames']">
      <jnt-badge [count]="feature.frames.length"
                 [color]="ui.colors.purpleLighten"></jnt-badge>
    </jnt-menu-item>
    <jnt-menu-item title="Resources"
                   [link]="['resources']">
      <jnt-badge [count]="(feature.resources | estimatedTime:feature.version:feature.rev) + 'h'"
                 [color]="ui.colors.purpleLighten"></jnt-badge>
    </jnt-menu-item>
    <jnt-menu-item title="API"
                   [link]="['api']">
      <jnt-badge [count]="feature.graphql.length"
                 [color]="ui.colors.purpleLighten"></jnt-badge>
    </jnt-menu-item>
    <jnt-menu-item title="Issues"
                   [link]="['issues']">
      <jnt-badge [count]="(feature.issues | spentTime:feature.version:feature.rev) + 'h'"
                 [color]="ui.colors.purpleLighten"></jnt-badge>
    </jnt-menu-item>
    <jnt-menu-item title="Markdown"
                   [link]="['markdown']"></jnt-menu-item>
  </jnt-menu>

  <router-outlet></router-outlet>

</jnt-stack>
