@import 'src/variables';
@import "~@junte/ui/lib/assets/styles/layout/grid";
@import "~@junte/ui/lib/assets/styles/layout/responsive";
@import "../lp/page";
@import "../lp/decors";

h4 {
  text-align: center;
  font-weight: $jnt-font-weight-bold;
}

[data-teaser] {
  text-align: center;
}
