<jnt-informer *ngIf="errors.length > 0"
              [placement]="ui.placement.absolute"
              [backdrop]="backdrop"
              (ok)="this.errors = []">
  <jnt-informer-message *ngFor="let e of errors"
                        [message]="e.toString()"></jnt-informer-message>
</jnt-informer>

<jnt-container>
  <ng-container *jntMinFor="ui.breakpoint.tablet">
    <img data-decor data-bagel-half
         [@move]="{value: '', params: {distance: distance.bagelHalf}}"
         src="../../assets/images/lp/bagel-half.png" alt="bagel-half">
    <img data-decor data-bagel-small
         [@move]="{value: '', params: {distance: distance.bagelSmall}}"
         src="../../assets/images/lp/bagel-small.png" alt="bagel-small">
    <img data-decor data-diamond
         [@move]="{value: '', params: {distance: distance.diamond}}"
         src="../../assets/images/lp/diamond.png" alt="diamond">
    <img data-decor data-bagel-pink
         [@move]="{value: '', params: {distance: distance.bagelPink}}"
         src="../../assets/images/lp/bagel-pink.png" alt="bagel-pink">
    <img data-decor data-hand-up
         [@move]="{value: '', params: {distance: distance.handUp}}"
         src="../../assets/images/lp/hand-up.png" alt="hand-up">
  </ng-container>
  <jnt-stack [orientation]="ui.orientation.horizontal" [justify]="ui.justify.center">
    <jnt-block data-block
               #content
               [padding]="ui.gutter.large"
               [features]="[ui.feature.adapted]">
      <ng-template #blockHeaderTemplate>
        <a data-logo routerLink="/">
          <img src="../../assets/images/logo.svg" height="50">
        </a>
      </ng-template>
      <jnt-form #formComponent
                [formGroup]="form"
                (submitted)="view === views.sendCode ? sendCode() : restore()">
        <ng-container *ngIf="view === views.sendCode">
          <jnt-stack [align]="ui.align.stretch">
            <jnt-stack [align]="ui.align.center">
              <h4>Forgot your password?</h4>
              <div data-teaser>Enter your email address to receive a password reset code</div>
            </jnt-stack>
            <jnt-form-item>
              <jnt-form-control name="email">
                <jnt-input formControlName="email"
                           placeholder="Email"
                           [icon]="ui.icons.email"
                           i18n-placeholder="@@label.email"></jnt-input>
                <jnt-form-message [validator]="ui.validator.required"
                                  i18n="@@message.field_required">This field is required
                </jnt-form-message>
                <jnt-form-message [validator]="ui.validator.email">
                  Enter email in full
                </jnt-form-message>
              </jnt-form-control>
            </jnt-form-item>
          </jnt-stack>
        </ng-container>

        <ng-container *ngIf="view === views.restore">
          <jnt-stack [align]="ui.align.stretch">
              <h4>Security code was sent, please check you email</h4>
              <jnt-form-item>
                <jnt-form-control name="code">
                  <jnt-input formControlName="code"
                             placeholder="Code"
                             i18n-placeholder="@@label.code"></jnt-input>
                  <jnt-form-message [validator]="ui.validator.required"
                                    i18n="@@message.field_required">This field is required
                  </jnt-form-message>
                </jnt-form-control>
              </jnt-form-item>
              <jnt-form-item>
                <jnt-form-control name="password">
                  <jnt-input formControlName="password"
                             placeholder="Password"
                             [icon]="ui.icons.lock"
                             [type]="ui.input.type.password"
                             i18n-placeholder="@@label.password"></jnt-input>
                  <jnt-form-message [validator]="ui.validator.required"
                                    i18n="@@message.field_required">This field is required
                  </jnt-form-message>
                </jnt-form-control>
              </jnt-form-item>
              <jnt-form-item>
                <jnt-form-control name="confirmation">
                  <jnt-input formControlName="confirmation"
                             placeholder="Confirm password"
                             [icon]="ui.icons.lock"
                             [type]="ui.input.type.password"
                             i18n-placeholder="@@label.password"></jnt-input>
                  <jnt-form-message [validator]="ui.validator.required"
                                    i18n="@@message.field_required">This field is required
                  </jnt-form-message>
                </jnt-form-control>
              </jnt-form-item>

            <jnt-message *ngIf="form.errors?.mismatched && confirmationControl.dirty"
                         [scheme]="ui.scheme.fail">Password mismatch</jnt-message>
          </jnt-stack>
        </ng-container>

        <ng-template #formFooterTemplate>
          <jnt-button [text]="view === views.sendCode ? 'Continue' : 'Save'"
                      i18n-text="@@action.continue"
                      [loading]="view === views.sendCode ? progress.sendCode : progress.restore"
                      [width]="ui.width.fluid"
                      [type]="ui.button.type.submit">
          </jnt-button>
        </ng-template>
      </jnt-form>
    </jnt-block>
  </jnt-stack>
</jnt-container>
