<form [formGroup]="form">
    <ng-template #fillResourcesTemplate>
        <p>
            <jnt-link title="Fill" (click)="fill()"></jnt-link>
            resources for feature.
        </p>
    </ng-template>
    <ng-container formArrayName="resources">
        <ng-container *ngIf="resources.controls.length;else fillResourcesTemplate">
            <jnt-stack [gutter]="ui.gutter.small">
                <jnt-button [icon]="ui.icons.plus"
                            [scheme]="ui.schemes.secondary"
                            [size]="ui.sizes.tiny"
                            (click)="add()"></jnt-button>
                <jnt-stack *ngFor="let r of resources.controls; let i = index"
                           [formGroupName]="i"
                           [type]="ui.stack.type.horizontal"
                           [gutter]="ui.gutter.small">
                    <jnt-select placeholder="Title" formControlName="resource">
                        <jnt-select-option *ngFor="let r of feature.spec.resourceTypes"
                                           [key]="r.title" [label]="r.title"></jnt-select-option>
                    </jnt-select>
                    <jnt-input price placeholder="Hours"
                               [type]="ui.form.input.text"
                               [size]="ui.sizes.small"
                               formControlName="hours"></jnt-input>
                    <jnt-button [icon]="ui.icons.delete"
                                [scheme]="ui.schemes.secondary"
                                [size]="ui.sizes.tiny"
                                [type]="ui.form.button.type.button"
                                (click)="delete(i)"></jnt-button>
                </jnt-stack>
            </jnt-stack>
        </ng-container>
    </ng-container>
</form>
