<jnt-button [icon]="state === workflowStepState.doing
                      ? localUi.icons.workflow.doing : (state === workflowStepState.done
                      ? localUi.icons.workflow.done : localUi.icons.workflow.missed)"
            [shape]="ui.shape.circle"
            [scheme]="state === workflowStepState.doing
                      ? ui.scheme.secondary : (state === workflowStepState.done
                      ? ui.scheme.success : ui.scheme.fail)"
            (click)="next()"></jnt-button>
