@import "src/variables";
@import "~@junte/ui/lib/assets/styles/elements/icon";

$jnt-ng-deep: true;

:host {
  display: block;
  padding: $jnt-gutter-small $jnt-gutter-normal;
  border-radius: $jnt-corner-normal;
  background: $jnt-pale-navy-color;
  width: 100px;
  min-width: 100px;

  &[data-disabled=true] {
    pointer-events: none;
  }

  &[data-state=done] {
    button {
      background: $jnt-success-color;
    }
  }

  &[data-state=missed] {
    opacity: .5;
    button {
      background: $jnt-gray-700-color;
    }
  }
}

[data-title] {
  font-weight: $jnt-font-weight-bold;
  font-size: $jnt-font-size-small;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0 $jnt-gutter-small;
}

@include jnt-icon((size: 32px), '[data-identity]');

button {
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $jnt-secondary-color;

  @include jnt-icon((size: 16px, color: $jnt-white-color));
}
