<jnt-popover></jnt-popover>
<jnt-modal [backdrop]="backdrop"></jnt-modal>

<jnt-app-busyness></jnt-app-busyness>

<jnt-app-layout #layout [position]="ui.placement.fixed">
  <jnt-app-header>
    <ng-template #headerLogoTemplate>
      <a [routerLink]="['/']">
        <img src="assets/images/logo-light.svg">
      </a>
    </ng-template>

    <jnt-menu #headerTopMenu>
      <jnt-menu-item *ngIf="!!config.token" [link]="['/projects']"
                     [icon]="localUi.icons.projects"
                     [matching]="ui.matching.wildcard"
                     title="Projects"
                     i18n-title="@@label.projects"></jnt-menu-item>
      <jnt-menu-item [link]="['/marketplace']"
                     [icon]="localUi.icons.market"
                     title="Find specification"
                     i18n-title="@@label.marketplace"
                     [disabled]="true"></jnt-menu-item>
      <jnt-menu-item [link]="['/project-managers']"
                     title="Hire project manager"
                     i18n-title="@@label.project_manager"
                     [disabled]="true"></jnt-menu-item>
      <jnt-menu-item [link]="['/teams']"
                     title="Hire team"
                     i18n-title="@@label.teams"
                     [disabled]="true"></jnt-menu-item>
    </jnt-menu>

    <ng-template #notLoggedTemplate>
      <jnt-link title="Login"
                i18n-title="@@label.login"
                [icon]="ui.icons.login"
                [outline]="ui.outline.ghost"
                [source]="['/login']"></jnt-link>
    </ng-template>

    <ng-template #headerContentTemplate
                 let-hide="hide">
      <jnt-stack [orientation]="ui.orientation.horizontal">
        <jnt-menu>
          <jnt-menu-item title="Ru"
                         [active]="locale === language.ru"
                         (click)="localize(language.ru)"></jnt-menu-item>
          <jnt-menu-item title="En"
                         [active]="locale === language.en"
                         (click)="localize(language.en)"></jnt-menu-item>
        </jnt-menu>

        <jnt-link *ngIf="!!me;else notLoggedTemplate"
                  title="{{me.subscription.tariff.title}} plan"
                  [icon]="me.subscription.tariff.icon + ':svg:local:stroked'"
                  [outline]="ui.outline.ghost"
                  [source]="['/subscription']"></jnt-link>
      </jnt-stack>
    </ng-template>

    <ng-template #headerUserbarTemplate *ngIf="!!config.token">
      <jnt-app-header-userbar>
        <ng-template #userbarAvatarTemplate>
          <jnt-avatar [size]="ui.size.small"></jnt-avatar>
        </ng-template>

        <ng-template #userbarMenuTemplate>
          <jnt-stack [align]="ui.align.stretch">
            <jnt-menu [orientation]="ui.orientation.vertical">
              <jnt-menu-item title="Logout"
                             i18n-title="@@action.logout"
                             [icon]="ui.icons.logout"
                             (click)="logout()"></jnt-menu-item>
            </jnt-menu>
          </jnt-stack>
        </ng-template>
      </jnt-app-header-userbar>
    </ng-template>
  </jnt-app-header>

  <router-outlet></router-outlet>
</jnt-app-layout>
