<jnt-popover #popover></jnt-popover>
<jnt-modal #modal [backdrop]="backdrop"></jnt-modal>

<jnt-app-busyness></jnt-app-busyness>

<jnt-app-layout #layout [position]="ui.placement.fixed">
  <jnt-app-header>
    <ng-template #headerLogoTemplate>
      <a [routerLink]="['/']">
        <img src="/assets/images/logo-light.svg">
      </a>
    </ng-template>

    <jnt-menu #headerTopMenu>
      <jnt-menu-item *ngIf="!!config.authorization" [link]="['/projects']"
                     [icon]="localUi.icons.projects"
                     title="Projects"></jnt-menu-item>
      <jnt-menu-item [link]="['/marketplace']"
                     [icon]="localUi.icons.market"
                     title="Marketplace"
                     [disabled]="true"></jnt-menu-item>
    </jnt-menu>

    <ng-template *ngIf="!config.authorization" #headerContentTemplate let-hide="hide">
      <jnt-link title="Login"
                [icon]="ui.icons.login"
                [source]="['/login']"></jnt-link>
    </ng-template>

    <ng-template #headerUserbarTemplate *ngIf="!!config.authorization">
      <jnt-app-header-userbar>
        <ng-template #userbarAvatarTemplate>
          <jnt-avatar [size]="ui.size.small"></jnt-avatar>
        </ng-template>
        <ng-template #userbarMenuTemplate>
          <jnt-menu [orientation]="ui.orientation.vertical">
            <jnt-menu-item title="Logout"
                           [icon]="ui.icons.logout"
                           (click)="logout()"></jnt-menu-item>
          </jnt-menu>
        </ng-template>
      </jnt-app-header-userbar>
    </ng-template>
  </jnt-app-header>

  <router-outlet></router-outlet>
</jnt-app-layout>
