<ng-template #tokensTemplate let-tokens="tokens">
    <ng-container *ngFor="let token of tokens">
        <ng-container [ngSwitch]="token | getTokenType">
            <ng-container *ngSwitchCase="tokenType.term">**❓{{token['term']}}**&nbsp;</ng-container>
            <ng-container *ngSwitchCase="tokenType.accent">**{{token['text']}}**&nbsp;</ng-container>
            <ng-container *ngSwitchDefault>{{token.text}}&nbsp;</ng-container>
        </ng-container>
    </ng-container>
</ng-template>
As a 👦 **{{feature.actor?.name}}** I want:&nbsp;**
<ng-container
        *ngTemplateOutlet="tokensTemplate; context: {tokens: feature.title}"></ng-container>**
<ng-container *ngFor="let entry of feature.story;let i = index">
    <br>
    1. **I {{entry.type}}:**
    <ng-container *ngTemplateOutlet="tokensTemplate; context: {tokens: entry.description}">
    </ng-container>
</ng-container>

<br>

<ng-container *ngIf="feature.frames?.length">
    <br>
    **🚀 Design**
    <br>
    <ng-container *ngFor="let frame of feature.frames">
        * http://figma.com/file/{{frame.file}}?node-id={{frame.node}}<br>
    </ng-container>
</ng-container>

<ng-container *ngIf="feature.graphql?.length">
    <br>
    **⛳ API**
    <br>
    <ng-container *ngFor="let query of feature.graphql">
        * [{{query.title}}]({{query.text | graphqlPlayground:feature.spec}})<br>
    </ng-container>
</ng-container>

<ng-container *ngIf="feature.issues.length">
    <br>
    **💈 Issues**
    <br>
    <ng-container *ngFor="let issue of feature.issues">
        * **{{issue.resource}}**: [{{issue.title}}]({{issue.url}})<br>
    </ng-container>
</ng-container>

<ng-container *ngIf="(feature | featureTerms)?.length">
    <br>
    **❓Terms**
    <br>
    <ng-container *ngFor="let term of (feature | featureTerms)">
        * **{{term.name}}** &mdash;
        <ng-container *ngTemplateOutlet="tokensTemplate; context: {tokens: term.description}">
        </ng-container>
        <br>
    </ng-container>
</ng-container>
