<h3 [@fade-move]>As a <span>Customer</span> I want <span>products catalog</span></h3>
<div data-customer [@move]="{value: '', params: {distance: '0, -300px, 0'}}">
  <img src="assets/images/lp/customer.svg">
  <div data-frame [@expansion]>
    <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M33.9999 0.5L0 32.4992L34 32.5L33.9999 0.5Z"/>
    </svg>
    <jnt-stack [align]="ui.align.stretch">
      <jnt-stack [orientation]="ui.orientation.horizontal" data-text>
        <span>1. I can</span>
        <span>open site</span>
        <span data-site>www.supershop.com</span>
      </jnt-stack>
      <jnt-stack data-text
                 [orientation]="ui.orientation.horizontal"
                 [align]="ui.align.center">
        <span [@fadeIn]>2. I see</span>
        <jnt-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center" [gutter]="ui.gutter.small">
          <span [@fadeIn]>list products categories:</span>
          <jnt-label [@fadeIn] [color]="ui.color.purpleLight" label="Phones"></jnt-label>
          <jnt-label [@fadeIn] [color]="ui.color.purpleLight" label="Tablets"></jnt-label>
          <jnt-label [@fadeIn] [color]="ui.color.purpleLight" label="Laptops"></jnt-label>
        </jnt-stack>
      </jnt-stack>
      <jnt-stack data-text
                 [orientation]="ui.orientation.horizontal"
                 [align]="ui.align.center">
        <span [@fadeIn]>3. I see</span>
        <jnt-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center" [gutter]="ui.gutter.small">
          <span [@fadeIn]>category cards:</span>
          <jnt-label [@fadeIn] [color]="ui.color.purpleLight" label="Picture"></jnt-label>
          <jnt-label [@fadeIn] [color]="ui.color.purpleLight" label="Title"></jnt-label>
        </jnt-stack>
      </jnt-stack>
      <jnt-stack data-text
                 [orientation]="ui.orientation.horizontal"
                 [align]="ui.align.center">
        <span [@fadeIn]>4. I can</span>
        <jnt-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center" [gutter]="ui.gutter.small">
          <span [@fadeIn]>press on card of category:</span>
          <jnt-label [@fadeIn] [color]="ui.color.purpleLight" label="Phones"></jnt-label>
        </jnt-stack>
      </jnt-stack>
      <jnt-stack data-text
                 [orientation]="ui.orientation.horizontal"
                 [align]="ui.align.center">
        <span [@fadeIn]>5. I see</span>
        <jnt-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center" [gutter]="ui.gutter.small">
          <span [@fadeIn]>list of products cards in category:</span>
          <jnt-label [@fadeIn] [color]="ui.color.purpleLight" label="Phones"></jnt-label>
        </jnt-stack>
      </jnt-stack>
      <jnt-stack data-text
                 [orientation]="ui.orientation.horizontal"
                 [align]="ui.align.center">
        <span [@fadeIn]>6. I see</span>
        <jnt-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center" [gutter]="ui.gutter.small">
          <span [@fadeIn]>product card:</span>
          <jnt-label [@fadeIn] [color]="ui.color.purpleLight" label="Title"></jnt-label>
          <jnt-label [@fadeIn] [color]="ui.color.purpleLight" label="Picture"></jnt-label>
          <jnt-label [@fadeIn] [color]="ui.color.purpleLight" label="Price"></jnt-label>
          <jnt-label [@fadeIn] [color]="ui.color.purpleLight" label="Discount"></jnt-label>
        </jnt-stack>
      </jnt-stack>
    </jnt-stack>
  </div>
</div>

