@import 'src/variables';
@import "../../common";
@import '~@junte/ui/lib/assets/styles/jnt-variables';
@import '~@junte/ui/lib/assets/styles/layout/block';

[data-customer] {
  position: absolute;
  top: 100%;
  left: $jnt-gutter-big;
}

[data-frame] {
  background-color: $jnt-secondary-background;
  border-radius: 16px;
  position: absolute;
  left: calc(100% + 34px);
  top: -50px;
  padding: $jnt-gutter-big;
  box-sizing: border-box;
  transition: height 1s ease;
  min-height: 70px;
  svg {
    position: absolute;
    top: $jnt-gutter-normal;
    right: 100%;
    fill: $jnt-secondary-background;
  }

  [data-text] {
    color: $jnt-primary-color;
    overflow: hidden;
    white-space: nowrap;
    font-weight: $jnt-font-weight-semi-bold;
    transition: all 1s ease;
    span {
      &[data-site] {
        color: $jnt-primary-light-color;
        text-decoration: underline;
      }
    }
  }
}
