<jnt-app-page-header [icon]="localUi.icons.features"
                     [title]="feature.title | joinTokens"
                     [teaser]="feature.actor.name"></jnt-app-page-header>

<jnt-block [width]="ui.width.fluid">
  <jnt-stack [align]="ui.align.stretch">
    <jnt-menu [style]="ui.menu.style.tabs"
              [spacing]="ui.gutter.normal">
      <jnt-menu-item title="Workflow"
                     i18n-title="@@label.workflow"
                     [icon]="localUi.icons.workflow"
                     [link]="['workflow']">
      </jnt-menu-item>
      <jnt-menu-item *ngIf="feature.workflow.story !== workflowStepState.missed"
                     title="User story"
                     i18n-title="@@label.user_story"
                     [icon]="localUi.icons.story"
                     [link]="['story']">
        <jnt-badge *ngIf="feature.story.length as count"
                   [value]="count"
                   [color]="ui.color.purpleLighten"></jnt-badge>
      </jnt-menu-item>
      <jnt-menu-item *ngIf="feature.workflow.resources !== workflowStepState.missed"
                     title="Resources"
                     i18n-title="@@label.resources"
                     [icon]="localUi.icons.resources"
                     [link]="['resources']">
        <jnt-badge *ngIf="feature.resources.length > 0"
                   [value]="(feature.resources | estimatedTime:version) + 'h'"
                   [color]="ui.color.purpleLighten"></jnt-badge>
      </jnt-menu-item>
      <jnt-menu-item *ngIf="feature.workflow.design !== workflowStepState.missed"
                     title="Design"
                     i18n-title="@@label.design"
                     [link]="['frames']"
                     [icon]="ui.icons.figma">
        <jnt-badge *ngIf="feature.frames.length as count"
                   [value]="count"
                   [color]="ui.color.purpleLighten"></jnt-badge>
      </jnt-menu-item>
      <jnt-menu-item *ngIf="feature.workflow.api !== workflowStepState.missed"
                     title="API"
                     [link]="['api']"
                     [icon]="localUi.icons.graphQl"
                     [matching]="ui.matching.wildcard">
        <jnt-badge *ngIf="feature.api.graphql.length as count"
                   [value]="count"
                   [color]="ui.color.purpleLighten"></jnt-badge>
      </jnt-menu-item>
      <jnt-menu-item *ngIf="feature.workflow.developing  !== workflowStepState.missed"
                     title="Issues"
                     i18n-title="@@label.issues"
                     [link]="['issues']"
                     [icon]="ui.icons.gitlab">
        <jnt-badge *ngIf="feature.issues.length > 0"
                   [value]="(feature.issues | spentTime:version) + 'h'"
                   [color]="ui.color.purpleLighten"></jnt-badge>
      </jnt-menu-item>
      <jnt-menu-item title="Markdown"
                     i18n-title="@@label.markdown"
                     [icon]="localUi.icons.markdown"
                     [link]="['markdown']"></jnt-menu-item>
    </jnt-menu>

    <router-outlet></router-outlet>
  </jnt-stack>
</jnt-block>

