@import "src/variables";

:host {
  display: inline-block;
}

[data-term] {
  cursor: help;
  text-decoration: underline;
}

[data-accent] {
  background: $jnt-primary-color;
  color: $jnt-white-color;
  border-radius: 5px;
  padding: 1px $jnt-gutter-small;
  font-size: .85em;
}

[data-default] {
  word-break: break-word;
}

[data-quote] {
  color: forestgreen;
}
