<form [formGroup]="form">
    <header (mouseenter)="manager.mode ==  editMode.edit ? mode.name = editMode.edit : null"
            (mouseleave)="mode.name = editMode.view">
        <ng-template #viewNameHeader>
            <span>{{term.name}}</span>
        </ng-template>
        <ng-container *ngIf="mode.name == editMode.edit; else viewNameHeader">
            <input title formControlName="name" fitWidth>
        </ng-container>
    </header>

    <div gutter>&minus;</div>
    <div descripton>
        <header (mouseenter)="manager.mode ==  editMode.edit ? mode.description = editMode.edit : null"
                (mouseleave)="mode.description = editMode.view">
            <ng-template #viewDescriptionHeader>
                <spec-tokens [spec]="term.spec"
                             [tokens]="term.description"></spec-tokens>
            </ng-template>
            <ng-container *ngIf="mode.description == editMode.edit; else viewDescriptionHeader">
                <input title formControlName="description" fitWidth>
            </ng-container>
        </header>
    </div>
</form>
