<form [formGroup]="form">
    <jnt-container>
        <jnt-row [direction]="ui.flex.direction.row"
                 [align]="ui.flex.align.start"
                 [alignContent]="ui.flex.alignContent.start"
                 [justify]="ui.flex.justify.start"
                 [wrap]="ui.flex.wrap.noWrap">
            <jnt-col [mobile]="5" [tablet]="5" [desktop]="4" [wide]="3" [span]="6">
                <header (mouseenter)="manager.mode ==  editMode.edit ? mode.name = editMode.edit : null"
                        (mouseleave)="mode.name = editMode.view" name>
                    <ng-template #viewNameHeader>
                        <span>{{term.name}}</span>
                    </ng-template>
                    <ng-container *ngIf="mode.name == editMode.edit; else viewNameHeader">
                        <input formControlName="name" fitWidth>
                    </ng-container>
                </header>
            </jnt-col>
            <jnt-col [mobile]="1" [tablet]="1" [desktop]="1" [wide]="1" [span]="6">
                <div>&minus;</div>
            </jnt-col>
            <jnt-col [mobile]="6" [tablet]="6" [desktop]="7" [wide]="8" [span]="6">
                <header (mouseenter)="manager.mode ==  editMode.edit ? mode.description = editMode.edit : null"
                        (mouseleave)="mode.description = editMode.view" description>
                    <ng-template #viewDescriptionHeader>
                        <spec-tokens [spec]="term.spec"
                                     [tokens]="term.description"></spec-tokens>
                    </ng-template>
                    <ng-container *ngIf="mode.description == editMode.edit; else viewDescriptionHeader">
                        <textarea formControlName="description"></textarea>
                    </ng-container>
                </header>
            </jnt-col>
        </jnt-row>
    </jnt-container>
</form>
