<jnt-stack buttons [type]="ui.stack.type.horizontal"
           [gutter]="ui.gutter.small">
    <jnt-button [icon]="ui.icons.plus"
                [size]="ui.sizes.tiny"
                [scheme]="ui.schemes.secondary"
                [jntPopover]="{title: 'Add frame', contentTemplate: addFrameTemplate, trigger: ui.popover.trigger.click}"></jnt-button>
    <jnt-button [icon]="ui.icons.reload"
                [size]="ui.sizes.tiny"
                [scheme]="ui.schemes.secondary"
                [loading]="progress.refreshing"
                (click)="refresh(true)"></jnt-button>
</jnt-stack>

<ng-template #addFrameTemplate>
    <spec-feature-add-frame (added)="add($event)"></spec-feature-add-frame>
</ng-template>
<ul>
    <li *ngFor="let frame of feature.frames; let i = index">
        <ng-template #loadingTemplate>
            <jnt-spinner></jnt-spinner>
        </ng-template>
        <ng-container *ngIf="!progress.refreshing && frame.thumbnail;else loadingTemplate">
            <img [src]="frame.thumbnail">
        </ng-container>
        <jnt-link figma
                  [outline]="ui.outline.fill"
                  title="Figma"
                  target="_blank"
                  [icon]="ui.icons.figma"
                  [source]="'http://figma.com/file/' + frame.file + '?node-id=' + frame.node"></jnt-link>
        <jnt-button delete [icon]="ui.icons.delete"
                    [size]="ui.sizes.tiny"
                    [scheme]="ui.schemes.fail"
                    (click)="remove(i)"></jnt-button>
    </li>
</ul>
