@import "~junte-ui/lib/assets/styles/variables";

:host {
  display: block;
  position: relative;
  min-height: 50px;
  &:hover {
    [buttons] {
      display: block;
    }
  }
}

[buttons] {
  position: absolute;
  top: 0;
  right: $gutter-tiny;
  left: $gutter-tiny;
  z-index: 1;
}

ul {
  list-style: none;
  margin: $gutter-normal;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 200px;
    min-height: 120px;
    border: 1px solid $secondary-color;
    border-radius: $corner-small;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: $gutter-small;
    }
    [figma] {
      position: absolute;
      bottom: $gutter-small;
      right: $gutter-small;
      font-size: $font-size-small;
    }
    [delete] {
      position: absolute;
      width: fit-content;
      height: fit-content;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      z-index: 1;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
