<jnt-app-content>
  <jnt-app-body>
    <jnt-container>
      <jnt-app-page-header [icon]="localUi.icons.project"
                           title="Your subscription"
                           i18n-title="@@label.subscription"
                           teaser="to our services"
                           i18n-teaser="@@message.subscription_teaser">
      </jnt-app-page-header>

      <spec-lp-tariffs [me]="me"
                       (selected)="$event.price > 0 ? pay($event) : changeTariff($event)"></spec-lp-tariffs>
    </jnt-container>
  </jnt-app-body>
</jnt-app-content>
