@import "../../../node_modules/junte-ui/lib/assets/styles/variables";

:host {
  display: inline-block;
  position: relative;
}

[icon] {
  position: absolute;
  op: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: $white-color;
}

[issue] {
  cursor: pointer;
}