@import "~@junte/ui/lib/assets/styles/jnt-variables";

[item] {
  padding: $jnt-gutter-big;
  cursor: pointer;
  background: $jnt-primary-background;
  color: $jnt-primary-text-light-color;
  font-size: $jnt-font-size-large;
  box-shadow: $jnt-shadow-primary;
  width: 100%;

  header {
    [title] {
      font-weight: $jnt-font-weight-bold;
      height: 1.5em;
      line-height: 1.1em;
      font-size: 1em;
    }
  }
}
