<jnt-block item>
    <jnt-stack [type]="ui.stack.type.horizontal"
               [justify]="ui.flex.justify.between"
               [align]="ui.flex.align.center">
        <form [formGroup]="form">
            <header (mouseenter)="mode =  editMode.edit" (mouseleave)="mode = editMode.view">
                <ng-container *ngIf="mode == editMode.edit; else viewHeader">
                    <input title editable formControlName="title">
                </ng-container>
            </header>

            <ng-template #viewHeader>
                <h3 title editable>{{issue.title}}</h3>
            </ng-template>
        </form>
        <jnt-button [icon]="ui.icons.close"
                    [scheme]="ui.schemes.fail"
                    [size]="ui.sizes.tiny"
                    (click)="deleted.emit()">
        </jnt-button>
    </jnt-stack>
</jnt-block>
