<form [formGroup]="form" (dblclick)="edit()" (clickOutside)="normal()">
    <div term id="{{term.name}}">
        <ng-container [ngSwitch]="mode">
            <ng-container *ngSwitchCase="editMode.view">
                <span>{{term.name}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="editMode.edit">
                <input #name formControlName="name">
            </ng-container>
        </ng-container>
    </div>
    <div gutter>&minus;</div>
    <div descripton>
        <ng-container [ngSwitch]="mode">
            <ng-container *ngSwitchCase="editMode.view">
                <spec-tokens [tokens]="term.description"></spec-tokens>
            </ng-container>
            <ng-container *ngSwitchCase="editMode.edit">
                <textarea (clickOutside)="normal()" #description formControlName="description"></textarea>
            </ng-container>
        </ng-container>
    </div>
</form>

