<ul filling>
    <li *ngIf="feature.story.length" story></li>
    <li *ngIf="feature.frames.length" frames></li>
    <li *ngIf="feature.graphql.length" graphql></li>
</ul>

<jnt-label *ngIf="(feature | featurePrice:feature.version:feature.rev) as price"
           price
           [color]="ui.colors.gray300"
           [label]="price | currency"></jnt-label>

<form [formGroup]="form">
    <header (mouseenter)="manager.mode ==  editMode.edit ? mode = editMode.edit : null"
            (mouseleave)="mode = editMode.view">
        <ng-container *ngIf="mode == editMode.edit; else viewHeader">
            <input title formControlName="title" fitWidth>
        </ng-container>
    </header>

    <ng-template #viewHeader>
        <spec-tokens title [spec]="feature.spec"
                     [tokens]="feature.title"></spec-tokens>
    </ng-template>

    <jnt-stack>
        <jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.gutter.small">
            <jnt-button [scheme]="ui.schemes.secondary"
                        [icon]="opened ? ui.icons.chevronUp : ui.icons.chevronDown"
                        [size]="ui.sizes.tiny"
                        (click)="opened = !opened">
            </jnt-button>
            <jnt-button [scheme]="ui.schemes.secondary" [icon]="ui.icons.copy"
                        [size]="ui.sizes.tiny"
                        (click)="copyMarkdown()"></jnt-button>
        </jnt-stack>

        <spec-feature-markdown #summary [feature]="feature"
                               [style.display]="markdown ? 'block' : 'none'"></spec-feature-markdown>
        <ng-container *ngIf="opened">
            <jnt-stack>
                <jnt-tabs>
                    <jnt-tab title="User story" [active]="true">
                        <spec-story [spec]="feature.spec"
                                    [story]="feature.story"
                                    (changed)="saveStory($event)"></spec-story>
                    </jnt-tab>
                    <jnt-tab title="Resources">
                        <spec-resources [feature]="feature"
                                        (changed)="saveResources($event)"></spec-resources>
                    </jnt-tab>
                    <jnt-tab title="Issues">
                        <spec-issues [spec]="feature.spec"
                                     [issues]="feature.issues"
                                     (changed)="saveIssues($event)"></spec-issues>
                    </jnt-tab>
                </jnt-tabs>

                <table>
                    <thead>
                    <th style="width:35%">Frontend</th>
                    <th width="10"></th>
                    <th style="width:30%">API</th>
                    <th width="10"></th>
                    <th style="width:35%">Backend</th>
                    </thead>
                    <tr>
                        <td frontend>
                            <spec-frames [spec]="feature.spec"
                                         [frames]="feature.frames"
                                         (changed)="saveFrames($event)">
                            </spec-frames>
                        </td>
                        <td>
                            <jnt-icon [icon]="ui.icons.arrowRight"></jnt-icon>
                        </td>
                        <td>
                            <jnt-stack>
                                <jnt-dropdown>
                                    <ng-template #trigger let-action="trigger">
                                        <jnt-button [icon]="ui.icons.plus"
                                                    [size]="ui.sizes.tiny"
                                                    (click)="action()"></jnt-button>
                                    </ng-template>
                                    <ng-template #dropdown let-action="trigger">
                                        <jnt-menu [type]="ui.orientation.vertical" [spacer]="ui.sizes.tiny">
                                            <jnt-menu-item
                                                    [icon]="localUi.icons.graphQl"
                                                    title="Graph QL"
                                                    (click)="addGraphQL();action()"></jnt-menu-item>
                                            <jnt-menu-item
                                                    [icon]="localUi.icons.rest"
                                                    title="REST API" (click)="action()"></jnt-menu-item>
                                        </jnt-menu>
                                    </ng-template>
                                </jnt-dropdown>
                                <jnt-label api *ngFor="let query of feature.graphql;let i = index;"
                                           [icon]="localUi.icons.graphQl"
                                           [color]="ui.colors.paleNavy"
                                           [label]="query.title"
                                           (click)="editGraphQL(query, i)"></jnt-label>
                            </jnt-stack>
                        </td>
                        <td>
                            <jnt-icon [icon]="ui.icons.arrowLeft"></jnt-icon>
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
            </jnt-stack>
        </ng-container>
    </jnt-stack>
</form>

