@import "~junte-ui/lib/assets/styles/variables";

:host {
  display: flex;
  position: relative;
}

[price] {
  position: absolute;
  top: -$gutter-big;
  right: -$gutter-normal;
}

[filling] {
  position: absolute;
  z-index: 1;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: calc(100% - #{$gutter-normal});
  bottom: -9px;
  li {
    display: block;
    height: 2px;
    width: 33%;
    &[story] {
      background-color: $primary-color;
    }
    &[frames] {
      background-color: $green-dark-color;
    }
    &[graphql] {
      background-color: $red-dark-color;
    }
  }
}

form {
  position: relative;
}

header {
  margin-bottom: $gutter-small;
  [title] {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: normal;
    border: none;
    box-sizing: border-box;
    outline: none;
    height: 1.4em;
    line-height: 1.1em;
    overflow: hidden;
    background-color: transparent;
    white-space: nowrap;
    width: 100%;
    font-size: 1em;
    &:focus {
      color: black;
    }
    &[tokens] {
      margin-right: 30px;
    }
  }
}

[tabs] {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: $corner-small;
  border: 1px solid $secondary-color;
  th {
    font-weight: bold;
  }
  td, th {
    padding: $gutter-small;
    border: 1px solid $secondary-color;
  }
}

[api] {
  cursor: pointer;
}

[story] {
  display: flex;
}
