@import "variables";
@import "~@junte/ui/lib/assets/styles/jnt-common";
@import "~@junte/ui/lib/assets/styles/jnt-all";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $jnt-font-family-base;
}

p {
  margin: 0;
}

code {
  font-family: Consolas;
}

[host=jnt-app-body-host] {
  transform-style: initial !important;
}
