<jnt-stack [align]="ui.align.stretch">

  <ng-template #noFigmaKeyTemplate>
    <jnt-message [scheme]="ui.scheme.fail">
      <span [ngSwitch]="locale">
        <ng-container *ngSwitchDefault>
           You have no <b>Figma</b> key in integration
        </ng-container>
        <ng-container *ngSwitchCase="language.ru">
           У вас нет ключа <b>Figma</b> в интеграции
        </ng-container>
      </span>
      <jnt-link title="settings"
                i18n-title="@@label.settings"
                [source]="['../../../../..', 'details']"
                [icon]="{icon: ui.icons.link, position: ui.position.right}"></jnt-link>
    </jnt-message>
  </ng-template>

  <ng-container *ngIf="!!feature.spec.integration.figmaKey;else noFigmaKeyTemplate">
    <jnt-stack [align]="ui.align.stretch">
      <jnt-message *ngIf="feature.frames.length <= 0">
        <ng-container [ngSwitch]="locale">
          <ng-container *ngSwitchDefault>
            <p>Designer using <b>user story</b> should draw design & prototype then <b>attach</b> it here.</p>
            <p>After that, <b>Project Manager</b> should agree design with a <b>Customer</b>.</p>
          </ng-container>
          <ng-container *ngSwitchCase="language.ru">
            <p>Дизайнер, используя <b>юзер стори</b> должен нарисовать дизайн и прототип и затем <b>прикрепить</b> их здесь.</p>
            <p>После этого, <b>Проджект Менеджер</b> должен согласовать дизайн с <b>Заказчиком</b>.</p>
          </ng-container>
        </ng-container>
      </jnt-message>

      <jnt-stack [orientation]="ui.orientation.horizontal">
        <ng-template #addFrameTemplate>
          <spec-feature-add-frame (added)="add($event)"></spec-feature-add-frame>
        </ng-template>

        <jnt-button [icon]="ui.icons.add"
                    [shape]="ui.shape.circle"
                    [jntPopover]="{title: 'Add frame', contentTemplate: addFrameTemplate, trigger: ui.trigger.click}"
                    (attached)="reference.popover = $event"></jnt-button>
        <jnt-button [icon]="ui.icons.reload"
                    [shape]="ui.shape.circle"
                    [loading]="progress.refreshing"
                    [disabled]="feature.frames.length <= 0"
                    (click)="refresh(true)"></jnt-button>
      </jnt-stack>
    </jnt-stack>
  </ng-container>

  <jnt-row *ngIf="feature.frames.length > 0">
    <jnt-col *ngFor="let frame of feature.frames; let i = index" [tablet]="4">
      <jnt-card [width]="ui.width.fluid">
        <ng-template #cardHeaderTemplate>
          <jnt-stack [orientation]="ui.orientation.horizontal"
                     [justify]="ui.justify.between">
            <jnt-link title="Figma"
                      target="_blank"
                      [icon]="ui.icons.figma"
                      [source]="'http://figma.com/file/' + frame.file + '?node-id=' + frame.node"></jnt-link>

            <jnt-button [icon]="ui.icons.cancel"
                        [shape]="ui.shape.circle"
                        [size]="ui.size.tiny"
                        [scheme]="ui.scheme.secondary"
                        (click)="remove(i)"></jnt-button>
          </jnt-stack>
        </ng-template>
        <jnt-picture width="100%" [src]="frame.thumbnail"></jnt-picture>
      </jnt-card>
    </jnt-col>
  </jnt-row>

</jnt-stack>
