@import 'src/variables';
@import '~@junte/ui/lib/assets/styles/jnt-variables';
@import '~@junte/ui/lib/assets/styles/layout/block';

$jnt-ng-deep: true;

:host {
  display: block;
}

[data-video] {
  display: flex;
  background-color: $jnt-white-color;
  width: 100%;
  height: 500px;
  border-radius: $jnt-corner-normal;

  @include for-mobile() {
    width: 100%;
    height: 300px;
  }
}

[data-list-features] {
  font-family: $jnt-font-family-base;
  flex: 1;

  [data-feature] {
    position: relative;
    cursor: pointer;
    height: 135px;

    div, [data-active] {
      position: absolute;

      h4 {
        font-weight: $jnt-font-weight-bold;
      }
    }
  }

  [data-active] {
    margin-left: -$jnt-gutter-normal;
  }
}

[data-active] {
  @include jnt-block((shadow: none, padding: (normal: $jnt-gutter-big $jnt-gutter-normal)), '&');

  h4 {
    color: $jnt-primary-light-color;
  }
}
