@import 'src/variables';
@import '~@junte/ui/lib/assets/styles/elements/icon';
@import '~@junte/ui/lib/assets/styles/layout/card';
@import "../lp/page";
@import "../lp/decors";


[data-selected-tariff] {
  @include jnt-card((border: 2px solid $jnt-primary-light-color, background: $jnt-secondary-color), '&');
  @include jnt-icon((size: 40px, stroke: 2px, color: $jnt-primary-light-color));
  small {
    display: block;
    color: $jnt-primary-light-color;
  }
  div {
    font-size: $jnt-font-size-big;
    color: $jnt-primary-light-color;
    font-weight: $jnt-font-weight-bold;
    line-height: 1em;
  }
}
