<jnt-informer *ngIf="errors.length > 0"
              [backdrop]="backdrop"
              (ok)="errors = []">
  <jnt-informer-message *ngFor="let e of errors"
                        [message]="e.toString()"></jnt-informer-message>
</jnt-informer>

<jnt-container>

  <img data-torus-half
       [@move]="{value: '', params: {distance: distance.torusHalf}}"
       src="assets/images/lp/torus-half.png" width="128" height="148">
  <img data-torus-small
       [@move]="{value: '', params: {distance: distance.torusSmall}}"
       src="assets/images/lp/torus-small.png" width="100" height="100">
  <img data-torus-big
       [@move]="{value: '', params: {distance: distance.torusBig}}"
       src="assets/images/lp/torus-big.png" width="272" height="273">
  <img data-hand-up
       [@move]="{value: '', params: {distance: distance.handUp}}"
       src="assets/images/lp/hand-up.png" alt="hand-up">

  <jnt-block #blockRef
             [width]="ui.width.fluid"
             [padding]="ui.gutter.large"
             [spacing]="ui.gutter.large"
             [features]="[ui.feature.adapted]">
    <ng-template #blockHeaderTemplate>
      <jnt-stack [align]="ui.justify.center">
        <a data-logo routerLink="/">
          <img src="assets/images/logo.svg" height="50">
        </a>
        <h1 i18n="@@label.register">Make an account</h1>
        <ng-container *ngIf="!!tariff">
          <jnt-card data-selected-tariff>
            <jnt-stack [orientation]="ui.orientation.horizontal"
                       [align]="ui.align.center">
              <jnt-icon [icon]="tariff.icon + ':svg:local:stroked'"></jnt-icon>
              <jnt-stack [gutter]="ui.gutter.tiny">
                <small i18n="@@label.you_selected_plan">You selected plan</small>
                <div>{{tariff.title}}</div>
              </jnt-stack>
            </jnt-stack>
          </jnt-card>
        </ng-container>
      </jnt-stack>
    </ng-template>

    <jnt-form #formRef
              [formGroup]="form"
              [state]="progress.registering || progress.redirecting ? ui.state.loading : null"
              (submitted)="register()">
      <jnt-stack [align]="ui.align.stretch">
        <jnt-form-item>
          <jnt-form-control name="firstName">
            <jnt-input #nameRef formControlName="firstName"
                       placeholder="First name"
                       i18n-placeholder="@@label.first_name"></jnt-input>
            <jnt-form-message [validator]="ui.validator.required"
                              i18n="@@message.field_required">This field is required
            </jnt-form-message>
          </jnt-form-control>
        </jnt-form-item>

        <jnt-form-item>
          <jnt-form-control name="lastName">
            <jnt-input formControlName="lastName"
                       placeholder="Last name"
                       i18n-placeholder="@@label.last_name"></jnt-input>
            <jnt-form-message [validator]="ui.validator.required"
                              i18n="@@message.field_required">This field is required
            </jnt-form-message>
          </jnt-form-control>
        </jnt-form-item>

        <jnt-form-item>
          <jnt-form-control name="email">
            <jnt-input formControlName="email"
                       placeholder="Email"
                       [icon]="ui.icons.email"
                       i18n-placeholder="@@label.email"></jnt-input>
            <jnt-form-message [validator]="ui.validator.required"
                              i18n="@@message.field_required">This field is required
            </jnt-form-message>
            <jnt-form-message [validator]="ui.validator.email"
                              i18n="@@message.enter_valid_email">Enter valid email
            </jnt-form-message>
          </jnt-form-control>
        </jnt-form-item>

        <jnt-form-item>
          <jnt-form-control name="password">
            <jnt-input formControlName="password"
                       placeholder="Password"
                       i18n-placeholder="@@label.password"
                       [icon]="ui.icons.lock"
                       [type]="ui.input.type.password"
                       [autocomplete]="'new-password'"
                       [jntShortcuts]="[{key: ui.keyboard.key.enter, action: submit.bind(this)}]"></jnt-input>
            <jnt-form-message [validator]="ui.validator.required"
                              i18n="@@message.field_required">This field is required
            </jnt-form-message>
          </jnt-form-control>
        </jnt-form-item>
      </jnt-stack>

      <ng-template #formFooterTemplate>
        <jnt-stack [align]="ui.align.stretch">
          <jnt-checkbox [align]="ui.align.start"
                        formControlName="agreement">
            <ng-template #checkboxLabelTemplate>
              <div data-agree (click)="agreementControl.setValue(true)">
                <div i18n="@@action.accept_documents">While registering I agree and accept:</div>
                <small i18n="@@message.bank_card_not_mandatory">Bank card details are not required</small>
              </div>
            </ng-template>
          </jnt-checkbox>
          <jnt-stack data-documents [gutter]="ui.gutter.tiny">
            <jnt-link title="terms agreement of using"
                      i18n-title="@@action.accept_agreement"
                      [icon]="ui.icons.link"
                      source="/agreement"
                      [target]="ui.target.blank"></jnt-link>
            <jnt-link title="recurrent payments agreement"
                      i18n-title="@@action.accept_recurrent"
                      [icon]="ui.icons.link"
                      source="/recurrent"
                      [target]="ui.target.blank"></jnt-link>
            <jnt-link title="privacy policy"
                      i18n-title="@@action.accept_policy"
                      [icon]="ui.icons.link"
                      source="/policy"
                      [target]="ui.target.blank"></jnt-link>
          </jnt-stack>
          <jnt-button text="Register"
                      i18n-text="@@action.register"
                      [icon]="ui.icons.login"
                      [width]="ui.width.fluid"
                      [type]="ui.button.type.submit">
          </jnt-button>
          <p i18n="@@message.register_by">Or register by</p>
          <jnt-stack [orientation]="ui.orientation.horizontal"
                     [gutter]="ui.gutter.small">
            <jnt-button text="Google"
                        [icon]="ui.icons.google"
                        [outline]="ui.outline.ghost"
                        [width]="ui.width.fluid"
                        (click)="socialRegister(loginSystem.google)">
            </jnt-button>
            <jnt-button text="GitLab"
                        [outline]="ui.outline.ghost"
                        [icon]="ui.icons.gitlab"
                        [width]="ui.width.fluid"
                        (click)="socialRegister(loginSystem.gitLab)"></jnt-button>
          </jnt-stack>
          <p i18n="@@message.registered_already">Did you register already?</p>
          <jnt-button text="Login"
                      i18n-text="@@action.login"
                      [outline]="ui.outline.ghost"
                      (click)="router.navigate(['/login'])">
          </jnt-button>
        </jnt-stack>
      </ng-template>
    </jnt-form>
  </jnt-block>
</jnt-container>
