@import "~@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
  position: relative;
}

form {
  position: relative;
}

header {
  [data-name] {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: normal;
    border: none;
    box-sizing: border-box;
    outline: none;
    height: 1.4em;
    line-height: 1.1em;
    overflow: hidden;
    background-color: transparent;
    white-space: nowrap;
    width: 100%;
    font-size: 2em;

    &:focus {
      color: black;
    }
  }
}

h3 {
  font-size: $jnt-font-size-base;
  margin-bottom: $jnt-gutter-big;
}

[data-epics] {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin: $jnt-gutter-small 0 0 12px;

    &:not(:last-child) {
      padding-bottom: $jnt-gutter-big;
    }

    &[data-epic] {
      display: block;
      position: relative;
      margin: $jnt-gutter-big 0 0 $jnt-gutter-big;
      border-left: 2px solid $jnt-green-color;

      h4 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        font-size: $jnt-font-size-base;

        span {
          position: absolute;
          transform-origin: left top;
          transform: rotate(90deg);
          white-space: nowrap;
          font-size: .75em;
          padding: $jnt-gutter-small;
        }
      }

      [data-feature-item] {
        background-color: $jnt-white-color;
        padding: $jnt-gutter-small;
        box-sizing: border-box;
        margin: $jnt-gutter-normal 0 0 $jnt-gutter-normal;
        border: 1px solid $jnt-secondary-color;
        border-radius: 10px;
        z-index: 1;

        [data-feature] {
          flex: 1;
        }
      }
    }
  }
}
