@import "~@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
  position: relative;
}

header {
  [data-name] {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: normal;
    border: none;
    box-sizing: border-box;
    outline: none;
    height: 1.4em;
    line-height: 1.1em;
    overflow: hidden;
    background-color: transparent;
    white-space: nowrap;
    width: 100%;
    font-size: 2em;

    &:focus {
      color: black;
    }
  }
}

h3 {
  font-size: $jnt-font-size-base;
  margin-bottom: $jnt-gutter-big;
}

[data-module] {
  position: relative;
  border-right: 2px solid $jnt-green-color;
  padding-left: $jnt-gutter-normal;

  span {
    position: absolute;
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%) translateY(-100%);
    white-space: nowrap;
    font-size: $jnt-font-size-tiny;
    padding: $jnt-gutter-small;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

[data-features], [data-feature] {
  flex: 1;
}
