<form [formGroup]="form" (click)="mode = editMode.edit"
      (mouseleave)="mode = editMode.view">
    <b>I {{entry.type}}:</b>
    <div>
        <app-tokens [tokens]="entry.description"></app-tokens>
    </div>
    <div *ngIf="mode == editMode.edit" editor>
        <div>
            <select type formControlName="type">
                <option [value]="storyEntryType.see">see</option>
                <option [value]="storyEntryType.can">can</option>
            </select>
            <jnt-button [scheme]="ui.schemes.secondary"
                        [size]="ui.sizes.tiny"
                        [icon]="ui.icons.delete" (click)="deleted.emit()"></jnt-button>
        </div>
        <textarea formControlName="description"></textarea>
    </div>
</form>
