<form [formGroup]="form">
    <ng-container *ngIf="mode == editMode.edit; else view">
        <jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.stack.gutter.tiny">
            <select type formControlName="type" tabindex="-1">
                <option [value]="storyEntryType.see">I see:</option>
                <option [value]="storyEntryType.can">I can:</option>
            </select>
            <input #input formControlName="description" fitWidth (keyup)="keyup($event)">
        </jnt-stack>
    </ng-container>

    <ng-template #view>
        <b>I {{entry.type}}:</b>
        <app-tokens [tokens]="entry.description"></app-tokens>
    </ng-template>
</form>
