@import "../../../node_modules/junte-ui/lib/assets/styles/variables";

:host {
  display: block;
}

form {
  display: flex;
  align-items: flex-start;
  position: relative;
  b {
    margin-right: $gutter-small;
  }
}

[editor] {
  position: absolute;
  top: -($gutter-small);
  left: -($gutter-small);
  background: $white-color;
  border-radius: $corner-normal;
  box-shadow: $shadow-light;
  box-sizing: border-box;
  padding: $gutter-small;
  z-index: 100;
  display: flex;
  align-items: flex-start;
  select {
    margin-right: $gutter-small;
  }
  textarea {
    width: 500px;
    height: 50px;
    outline: none;
    border: 1px solid $secondary-color;
  }
}
